<p id="notice"><%= notice %></p>

<h1>Listing Admission Review Notes</h1>

<table>
  <thead>
    <tr>
      <th>Patient</th>
      <th>User</th>
      <th>Clinic document</th>
      <th>Review text</th>
      <th>Status</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @admission_review_notes.each do |admission_review_note| %>
      <tr>
        <td><%= admission_review_note.patient_id %></td>
        <td><%= admission_review_note.user_id %></td>
        <td><%= admission_review_note.clinic_document_id %></td>
        <td><%= admission_review_note.review_text %></td>
        <td><%= admission_review_note.status %></td>
        <td><%= link_to 'Show', admission_review_note %></td>
        <td><%= link_to 'Edit', edit_admission_review_note_path(admission_review_note) %></td>
        <td><%= link_to 'Destroy', admission_review_note, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Admission review note', new_admission_review_note_path %>
