<p id="notice"><%= notice %></p>

<p>
  <strong>Patient:</strong>
  <%= @admission_review_note.patient_id %>
</p>

<p>
  <strong>User:</strong>
  <%= @admission_review_note.user_id %>
</p>

<p>
  <strong>Clinic document:</strong>
  <%= @admission_review_note.clinic_document_id %>
</p>

<p>
  <strong>Review text:</strong>
  <%= @admission_review_note.review_text %>
</p>

<p>
  <strong>Status:</strong>
  <%= @admission_review_note.status %>
</p>

<%= link_to 'Edit', edit_admission_review_note_path(@admission_review_note) %> |
<%= link_to 'Back', admission_review_notes_path %>
