<p id="notice"><%= notice %></p>

<h1>Listing Fluids</h1>

<table>
  <thead>
    <tr>
      <th>Orals</th>
      <th>Orals amount</th>
      <th>Iv fluids</th>
      <th>Fluids amount</th>
      <th>Urine amount</th>
      <th>Emesis amount</th>
      <th>Drainage amount</th>
      <th>User</th>
      <th>Time</th>
      <th>Patient</th>
      <th>Status</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @fluids.each do |fluid| %>
      <tr>
        <td><%= fluid.orals %></td>
        <td><%= fluid.orals_amount %></td>
        <td><%= fluid.iv_fluids %></td>
        <td><%= fluid.fluids_amount %></td>
        <td><%= fluid.urine_amount %></td>
        <td><%= fluid.emesis_amount %></td>
        <td><%= fluid.drainage_amount %></td>
        <td><%= fluid.user_id %></td>
        <td><%= fluid.time %></td>
        <td><%= fluid.patient_id %></td>
        <td><%= fluid.status %></td>
        <td><%= link_to 'Show', fluid %></td>
        <td><%= link_to 'Edit', edit_fluid_path(fluid) %></td>
        <td><%= link_to 'Destroy', fluid, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Fluid', new_fluid_path %>
