<p id="notice"><%= notice %></p>

<p>
  <strong>Orals:</strong>
  <%= @fluid.orals %>
</p>

<p>
  <strong>Orals amount:</strong>
  <%= @fluid.orals_amount %>
</p>

<p>
  <strong>Iv fluids:</strong>
  <%= @fluid.iv_fluids %>
</p>

<p>
  <strong>Fluids amount:</strong>
  <%= @fluid.fluids_amount %>
</p>

<p>
  <strong>Urine amount:</strong>
  <%= @fluid.urine_amount %>
</p>

<p>
  <strong>Emesis amount:</strong>
  <%= @fluid.emesis_amount %>
</p>

<p>
  <strong>Drainage amount:</strong>
  <%= @fluid.drainage_amount %>
</p>

<p>
  <strong>User:</strong>
  <%= @fluid.user_id %>
</p>

<p>
  <strong>Time:</strong>
  <%= @fluid.time %>
</p>

<p>
  <strong>Patient:</strong>
  <%= @fluid.patient_id %>
</p>

<p>
  <strong>Status:</strong>
  <%= @fluid.status %>
</p>

<%= link_to 'Edit', edit_fluid_path(@fluid) %> |
<%= link_to 'Back', fluids_path %>
