<div class="table-agile-info">
  <%= simple_form_for @radio_test_result, remote: true, :validate => true do |f| %>
    <div class="container">
      <fieldset>
        <div class="row2">
          <div class="col-md-6">
            <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token.to_s %>">
            <div class="ggg">
              <%= f.label :avafile %>
              <br>
              <%= f.file_field :avafile, class: "form-control" %>
            </div>
            <br>
            <div class="form-inputs">
              <% if (defined?(@patient_id)).nil? %>
                <%= f.input :patient_id,:as=> :hidden %>
              <% else  %>
                <%= f.input :patient_id, :as=> :hidden,input_html: {value: @patient_id} %>
                <% logger.info "Rnning" %>
                <% logger.info "patient in index: #{@patient_id}" %>
              </div>
              <div class="form-inputs">
                <% if (defined?(@radio_id)).nil? %>
                  <%= f.input :radio_id,:as=> :hidden %>
                <% else  %>
                  <%= f.input :radio_id, :as=> :hidden,input_html: {value: @radio_id} %>
                  <% logger.info "Rnning" %>
                  <% logger.info "patient in index: #{@lab_id}" %>
                <% end %>
              </div>
              <div class="form-inputs">
                <% if (defined?( @service_id)).nil? %>
                  <%= f.input :service_id,:as=> :hidden %>
                <% else  %>
                  <%= f.input :service_id, :as=> :hidden,input_html: {value: @service_id} %>
                  <% logger.info "Rnning" %>
                  <% logger.info "patient in index: #{@service_id}" %>
                <% end %>
              </div>
              <div class="form-inputs">
                <%= f.input :user_id, :as=> :hidden, input_html: {value: current_user.id} %>
              </div>
              <div class="form-inputs">
                <%= f.input :status, :as=> :hidden, input_html: {value: 1 } %>
              </div>
              <div class="col-md-5 col-md-offset-1">
                <%= f.button :submit,"Submit", :class => 'btn-success',:style=>"width:auto;" %>
              </div>
            </div>
          </div>
        </fieldset>
      </div>
    <% end %>
  <% end %>
</div>
