<script src="/assets/bootstrap-combobox.js"></script>
<div class="table-agile-info" role="form">
  <%= simple_form_for(@radiology_request) do |f| %>
    <%= f.error_notification %>
    <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>
    <div class="form-inputs">
      <%= f.input :user_id, :as=> :hidden,input_html: {value: current_user.role_id} %>
      <% logger.info "role in index: #{current_user.role_id}" %>
    </div>
    <center>
      <div class="form-group">
        <%#= f.input :service_id, label: "Type of Radio request", collection:  @service_list,  label_method: :first, value_method: :last, input_html:{ class:"combobox form-control",data: { placeholder: "Type of lab request" } }%>
        <% logger.info "patient CASH OR INSURANCE in Form: #{@check_insurance} " %>
        <% logger.info "patient check_card: #{@check_card} " %>
        <%if @check_insurance == "Cash" %>
          <%= f.input :service_id, label: "Select Radio Type from here", collection:  ServicesInventory.where("category_id = 3  "),label_method: 

              lambda { 

               |plan| "#{plan.service_name} - Ghc #{plan.price}" 

              }  , value_method: :id, input_html:{ class:"combobox",data: {placeholder: "Select Radio from here" } }%>
        <%else%>
          <%= f.input :service_id, 
            collection: ServicesInventory.where("category_id = 3  "), label: " Select Radio from here for #{@check_insurance}",value_method: :id,
           label_method: 

              lambda { 

               |plan| "#{plan.service_name} - Ghc #{plan.insurance_price}" 

              }, input_html:{ class:"combobox",data: {placeholder: "Select Radio from here" } }%>
        <% end %>
      </div>
    </center>
    <div class="form-inputs">
      <% if (defined?(@patient_id)).nil? %>
        <%= f.input :patient_id,:as=> :hidden %>
      <% else  %>
        <%= f.input :patient_id, :as=> :hidden,input_html: {value: @patient_id} %>
        <% logger.info "Rnning" %>
        <% logger.info "patient in index: #{@patient_id}" %>
      </div>
      <div class="form-inputs">
        <%= f.input :status, :as=> :hidden, input_html: {value: 0 } %>
      </div>
      <div class="form-inputs">
        <%= f.input :delete_status, :as=> :hidden, input_html: {value: 0 } %>
      </div>
      <center>
        <div class="form-actions">
          <%#= f.button :submit %>
          <%= f.submit "Request Radiology",:class => "btn btn-primary btn-sm" %>
        </div>
      </center>
    <% end %>
  <% end %>
</div>
<script type="text/javascript">
  $(document).ready(function() {
  	$('form').attr('autocomplete', 'off');
  
  	$('.combobox').combobox();
  
  	$('span.input-group-addon').addClass("hidden");
  
  });
</script>
