<style>
  .blocktext {
      margin-left: auto;
      margin-right: auto;
  
      margin: 0;
    position: relative;
    left: 50%;
    margin-right: -50%;
  }
</style>
<main>
  <section id="main-content">
    <section class="wrapper">
      <div class="row">
        <div class="col-12">
          <h1 class="blocktext"> Radio/Ulta Requests</h1>
          <div class="separator mb-5"></div>
        </div>
      </div>
      <div class="row mb-4">
        <div class="col-12 mb-4">
          <div class="card">
            <div class="card-body">
              <div class="table-responsive bs-example widget-shadow">
                <table class="table table-bordered">
                  <thead>
                    <tr>
                      <th data-breakpoints="xs">No</th>
                      <th>Patient No</th>
                      <th>Name</th>
                      <th>Date</th>
                      <th>Test Ordered</th>
                      <th colspan="12"></th>
                    </tr>
                  </thead>
                  <tbody>
                    <% count=1 %>
                    <% @radiology_requests.each do |patient| %>
                      <tr>
                        <td><%= count %></td>
                        <td><%= patient.card_no%></td>
                        <td><%= patient.other_names + " " +  patient.surname %></td>
                        <td><%= patient.created_at %></td>
                        <td><%= patient.service_name %></td>
                        <td id= "whitespace"><%= link_to 'Check Medical Record', medical_records_path(:id => patient.patient_id),{:remote => true, class:'"btn btn-warning btn-sm btn3d"','data-toggle' =>  "modal",'data-target' => '#myMomo'} %></td>
                        <td id= "whitespace" ><%= link_to 'Upload Results', enter_radio_results_path(:id => patient.id),{:remote => true, class:'"btn btn-info btn-sm btn3d"','data-toggle' =>  "modal",'data-target' => '#myModal1'} %></td>
                      </tr>
                      <% count=count+1 %>
                    <% end %>
                  </tbody>
                </table>
                <center>
                </center>
              </div>
            </div>
          </section>
        </section>
      </main>
      <div id="myMomo" class="modal fade" role="dialog">
        <div class="modal-dialog">
          <div class="modal-content" >
            <div class="modal-header">
              <h4 class="modal-title">Medical Record</h4>
              <button type="button" class="close" data-dismiss="modal">
                &times;
              </button>
            </div>
            <div class="modal-body" id = 'test'>
              <%= render "medical_records" %>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-default" data-dismiss="modal">
                Close
              </button>
            </div>
          </div>
        </div>
      </div>
      <div id="myModal1" class="modal fade" role="dialog">
        <div class="modal-dialog">
          <div class="modal-content" >
            <div class="modal-header">
              <h4 class="modal-title"> Enter Radio/Ultra Results</h4>
              <button type="button" class="close" data-dismiss="modal">
                &times;
              </button>
            </div>
            <div class="modal-body" id = 'hii'>
              <%= render "enter_radio_results" %>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-default" data-dismiss="modal">
                Close
              </button>
            </div>
          </div>
        </div>
      </div>
