$("#hi").html("<%= escape_javascript(render 'radiology_requests/radio_form') %>");
  $("#modal-window").html("<%= escape_javascript(render 'radiology_requests/radio_form') %>");
 $('#modal-window').modal('show');