<style>
  .blocktext {
      margin-left: auto;
      margin-right: auto;
  
      margin: 0;
    position: relative;
    left: 50%;
    margin-right: -50%;
  }
</style>
<main>
  <section id="main-content">
    <section class="wrapper">
      <div class="row">
        <div class="col-12">
          <% if @type == 'new'%>
            <h1 class="blocktext">  Medication Orders For Today</h1>
          <% else%>
            <h1 class="blocktext"> Previous Medication Requests</h1>
          <% end%>
          <div class="separator mb-5"></div>
        </div>
      </div>
      <div class="row mb-4">
        <div class="col-12 mb-4">
          <div class="card">
            <div class="card-body">
              <div class="table-responsive bs-example widget-shadow">
                <table class="table table-bordered">
                  <thead>
                    <tr>
                      <th data-breakpoints="xs">No</th>
                      <th>Patient No</th>
                      <th>Name</th>
                      <th>Order Name</th>
                      <th>Quantity</th>
                      <th>Dosage</th>
                      <th>Status</th>
                      <th>Date</th>
                      <th>Created by</th>
                      <th colspan="3">   <% if current_user.role_id == 1 %>
                          <%= link_to  'New  Order ', make_order_path(:id => @patient_id), {:remote => true, :class => "btn btn-primary btn-sm" ,'data-toggle' =>  "modal", 'data-target' => '#myModal'} %>
                        <% else%>
                        <% end %></th>
                      <th colspan="3"></th>
                      <th colspan="3">  </th>
                    </tr>
                  </thead>
                  <tbody>
                    <% if @type == 'new'%>
                      <% count=1 %>
                      <% @new_order_requests.each do |order| %>
                        <tr>
                          <td id="whitespace"><%= count %></td>
                          <td id="whitespace"><%= order.card_no%></td>
                          <td id="whitespace"><%= order.other_names + " " +  order.surname %></td>
                          <td id="whitespace"><%= order.item_name %></td>
                          <td id="whitespace"><%= order.drug_quantity %></td>
                          <td id="whitespace"><%= order.dosage %></td>
                          <% if order.status == false %>
                            <td id="whitespace"><%= "Ordered" %></td>
                          <%else %>
                            <td id="whitespace"><%= "Order closed" %></td>
                          <%end %>
                          <td id="whitespace"><%= order.created_at.strftime("%B %d, %Y %H:%M") %></td>
                          <td><%= order.fullname %></td>
                          <td id="whitespace" ><%= link_to 'Delete', delete_order_record_path(:created_at => order.created_at),
                {class:'"btn btn-info btn-sm btn3d"', data: { confirm: "Do you want to delete this record?" }}%></td>
                        </td>
                      </tr>
                      <% count=count+1 %>
                    <% end %>
                  <%else%>
                    <% count=1 %>
                    <% @order_requests.each do |order| %>
                      <tr>
                        <td id="whitespace"><%= count %></td>
                        <td id="whitespace"><%= order.card_no%></td>
                        <td id="whitespace"><%= order.other_names + " " +  order.surname %></td>
                        <td id="whitespace"><%= order.item_name %></td>
                        <td id="whitespace"><%= order.drug_quantity %></td>
                        <td id="whitespace"><%= order.dosage %></td>
                        <% if order.status == false %>
                          <td id="whitespace"><%= "Ordered" %></td>
                        <%else %>
                          <td id="whitespace"><%= "Order closed" %></td>
                        <%end %>
                        <td id="whitespace"><%= order.created_at.strftime("%B %d, %Y %H:%M") %></td>
                        <td><%= order.fullname %></td>
                        <td id="whitespace" ><%= link_to 'Delete', delete_order_record_path(:created_at => order.created_at),
                {class:'"btn btn-info btn-sm btn3d"', data: { confirm: "Do you want to delete this record?" }}%></td>
                      </td>
                    </tr>
                    <% count=count+1 %>
                  <% end %>
                <% end%>
              </tbody>
            </table>
            <center>
              <% if current_user.role_id == 1 %>
                <%= link_to  'New  Order ', make_order_path(:id => @patient_id), {:remote => true, :class => "btn btn-primary btn-sm" ,'data-toggle' =>  "modal", 'data-target' => '#myModal'} %>
              <% else%>
              <% end %>
            </center>
            <br>
            <% if @type == 'new'%>
              <div class="digg_pagination">
                <%= will_paginate @new_order_requests %>
              </div>
            </center>
          <% else%>
            <div class="digg_pagination">
              <%= will_paginate @order_requests %>
            </div>
          </center>
        <% end%>
      </div>
    </div>
  </section>
</section>
</main>
<div id="myModal" class="modal fade" role="dialog">
  <div class="modal-dialog">
    <div class="modal-content" >
      <div class="modal-header">
        <h4 class="modal-title"> Make Order</h4>
        <button type="button" class="close" data-dismiss="modal">&times;</button>
      </div>
      <div class="modal-body" id = 'boom'>
        <%= render "make_order" %>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
<div id="myModal1" class="modal fade" role="dialog">
  <div class="modal-dialog">
    <div class="modal-content" >
      <div class="modal-header">
        <h4 class="modal-title"> Order Details</h4>
        <button type="button" class="close" data-dismiss="modal">&times;</button>
      </div>
      <div class="modal-body" id = 'boom2'>
        <%#= render "view_order" %>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
