$("#boom2").html("<%= escape_javascript(render 'order_requests/view_order') %>");
$("#modal-window").html("<%= escape_javascript(render 'order_requests/view_order') %>");
 $('#modal-window').modal('show');