<body class="sidebar-dark">
  	<div class="main-wrapper">
      <div class="page-wrapper">
        	<div class="page-content">
<p id="notice"><%= notice %></p>

<h1>Purchase Receipts</h1>

<table>
  <thead>
    <tr>
      <th>Store purchase</th>
      <th>Image</th>
      <th>User</th>
      <th>Status</th>
      <th>Comments</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @purchase_receipts.each do |receipt| %>
      <tr>
        <td><%= receipt.store_purchase_id %></td>
        <td><%= receipt.image %></td>
        <td><%= receipt.user_id %></td>
        <td><%= receipt.status %></td>
        <td><%= receipt.comments %></td>
        <td><%= link_to 'Show', receipt %></td>
        <td><%= link_to 'Edit', edit_purchase_receipt_path(receipt) %></td>
        <td><%= link_to 'Destroy', receipt, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Purchase Receipt', new_purchase_receipt_path %>
</div>
</div>
</div>
</body>
