<body class="sidebar-dark">
  	<div class="main-wrapper">
      <div class="page-wrapper">
        	<div class="page-content">
				<button type="button" class="btn btn-primary">
					<%= link_to 'Back', receipts_path %>
				</button>

				<%= render 'form', purchase_receipt: @purchase_receipt %>
			</div>
		</div>
	</div>
</body>
