<body class="sidebar-dark">
  	<div class="main-wrapper">
      <div class="page-wrapper">
        	<div class="page-content">

<p id="notice"><%= notice %></p>

<p>
  <strong>Store purchase:</strong>
  <%= @purchase_receipt.store_purchase_id %>
</p>

<p>
  <strong>Image:</strong>
  <%= @purchase_receipt.image %>
</p>

<p>
  <strong>User:</strong>
  <%= @purchase_receipt.user_id %>
</p>

<p>
  <strong>Status:</strong>
  <%= @purchase_receipt.status %>
</p>

<p>
  <strong>Comments:</strong>
  <%= @purchase_receipt.comments %>
</p>

<%= link_to 'Edit', edit_purchase_receipt_path(@purchase_receipt) %> |
<%= link_to 'Back', purchase_receipts_path %>
</div>
</div>
</div>
</body>
