<style>
  .blocktext {
      margin-left: auto;
      margin-right: auto;
  
      margin: 0;
    position: relative;
    left: 50%;
    margin-right: -50%;
  }
</style>
<main>
  <body class="sidebar-dark">
    <div class="main-wrapper">
      <div class="row">
        <div class="col-12">
          <h1 class="blocktext">Users Setup</h1>
          <div class="separator mb-5"></div>
        </div>
      </div>
      <div class="row mb-4">
        <div class="col-12 mb-4">
          <div class="card">
            <div class="card-body">
              <div class="table-responsive bs-example widget-shadow">
                <%= simple_form_for @store_inventory_master, html: { :name => 'master-input-form', :id => 'master_inventory_form'} do |f| %>
                  <%= f.error_notification %>
                  <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>
                  <div class="form-inputs">
                    <div>
                      <%=  f.input :store_inventory_categories_id, collection:StoreInventoryCategory.all,value_method: :id,label_method: :name, id: "masters_cat",
                                                        required: true,
                                                        autofocus: true,
                                                        input_html: { autocomplete: "store_inventory_category_id" }%>
                      <span class="error_form" id="masters_cat_error_message"></span>
                    </div>
                    <div>
                      <%= f.input :item_name, input_html: { :id => "masters_item__input" }  %>
                      <span class="error_form" id="masters_item_error_message"></span>
                    </div>
                    <div>
                      <%= f.input :cost_price, input_html: { :id => "masters_cost_input" }  %>
                      <span class="error_form" id="masters_cost_error_message"></span>
                    </div>
                    <div>
                      <%= f.input :selling_price, input_html: { :id => "masters_selling_input" }  %>
                      <span class="error_form" id="masters_selling_error_message"></span>
                    </div>
                    <div>
                      <%= f.input :manufaturer_name, input_html: { :id => "manufacturer_input" } %>
                      <span class="error_form" id="masters_manufacturer_error_message"></span>
                    </div>
                    <div>
                      <%= f.input :user_id, :as=> :hidden, input_html: { value: current_user.id , :id => "masters_user_input" }  %>
                      <span class="error_form" id="masters_user_error_message"></span>
                    </div>
                    <div>
                      <%= f.input :quantity, input_html: { :id => "masters_quantity_input" }  %>
                      <span class="error_form" id="masters_quantity_error_message"></span>
                    </div>
                    <div>
                      <%= f.input :temp_quantity, :as => :hidden %>
                      <span class="error_form" id="masters_temp_error_message"></span>
                    </div>
                    <div>
                      <%= f.input :item_location, input_html: { :id => "masters_location_input" }  %>
                      <span class="error_form" id="masters_item_location_error_message"></span>
                    </div>
                  </div>
                  <div class="caty" style="margin-top: 15px;">
                    <button type="button" id="caty-button" class="btn btn-success" style="width:max-content; color:white;">
                      <i class="btn-icon-prepend" data-feather="check-square"></i>
                      <%= f.button :submit, "Create", :id => "btn_white" %>
                    </button>
                  </div>
                </div>
              </div>
            </div>
          </body>
        <% end %>
      </main>
      <script>
        $("#masters_cat_error_message").hide();
        $("#masters_item_error_message").hide();
        $("#masters_cost_error_message").hide();
        $("#masters_selling_error_message").hide();
        $("#masters_manufacturer_error_message").hide();
        $("#masters_user_error_message").hide();
        $("#masters_quantity_error_message").hide();
        $("#masters_temp_error_message").hide();
        $("#masters_item_location_error_message").hide();
        
        
          var error_cat = false;
          var error_item = false;
          var error_cost = false;
          var error_selling = false;
          var error_manu = false;
          var error_user = false;
          var error_quantity = false;
          var error_temp = false;
          var error_location = false;
        
        
          $("#masters_cat").focusout(function(){
            check_cat();
          });
        
          $("#masters_item__input").focusout(function(){
            check_item();
          });
        
          $("#masters_cost_input").focusout(function() {
            check_cost();
          });
        
          $("#masters_selling_input").focusout(function() {
            check_selling();
          });
        
          $("#manufacturer_input").focusout(function() {
            check_manu();
          });
        
          $("#masters_user_input").focusout(function() {
            check_user();
          });
        
          $("#masters_quantity_input").focusout(function() {
            check_quant();
          });
        
          $("#masters_location_input").focusout(function() {
            check_location();
          });
        
        
          function check_cat() {
            var pattern = /^[a-zA-Z\s]*$/; ;
            var cat_name = $("#masters_cat").val();
            if (pattern.test(cat_name) && cat_name !== '') {
               $("#masters_cat_error_message").hide();
               $("#masters_cat").css("border-bottom","2px solid #34F458");
            } else {
               $("#masters_cat_error_message").html("Should contain only Characters");
               $("#masters_cat_error_message").show();
               $("#masters_cat").css("border-bottom","2px solid #F90A0A");
               error_cat = true;
            }
         }
        
         function check_item() {
            var pattern = /^[a-zA-Z\s]*$/;
            var item_name = $("#masters_item__input").val();
            if (pattern.test(item_name) && item_name !== '') {
               $("#masters_item_error_message").hide();
               $("#masters_item__input").css("border-bottom","2px solid #34F458");
            } else {
               $("#masters_item_error_message").html("Should contain only Characters");
               $("#masters_item_error_message").show();
               $("#masters_item__input").css("border-bottom","2px solid #F90A0A");
               error_item = true;
            }
         }
        
        
          function check_cost() {
        
              var cost = $("#masters_cost_input").val();
              if (cost > 0 && cost !== '') {
                  $("#masters_cost_error_message").hide();
                  $("#masters_cost_input").css("border-bottom","2px solid #34F458");
              } else {
                  $("#masters_cost_error_message").html("Should contain only positive integers");
                  $("#masters_cost_error_message").show();
                  $("#masters_cost_input").css("border-bottom","2px solid #F90A0A");
                  error_cost = true;
              }
          }
        
        
          function check_selling() {
        
              var sell = $("#masters_selling_input").val();
              if (sell >= 0 && sell !== '') {
                  $("#masters_selling_error_message").hide();
                  $("#quantity_input").css("border-bottom","2px solid #34F458");
              } else {
                  $("#masters_selling_error_message").html("Should contain only positive integers");
                  $("#masters_selling_error_message").show();
                  $("#masters_selling_input").css("border-bottom","2px solid #F90A0A");
                  error_selling = true;
              }
          }
        
          function check_manu() {
            var pattern = /^[a-zA-Z\s]*$/;
            var manu_name = $("#manufacturer_input").val();
            if (pattern.test(manu_name) && manu_name !== '') {
               $("#masters_manufacturer_error_message").hide();
               $("#masters_item__input").css("border-bottom","2px solid #34F458");
            } else {
               $("#masters_manufacturer_error_message").html("Should contain only Characters");
               $("#masters_manufacturer_error_message").show();
               $("#manufacturer_input").css("border-bottom","2px solid #F90A0A");
               error_manu = true;
            }
         }
        
         function check_user() {
        
              var user = $("#masters_user_input").val();
              if (user > 0 && user !== '') {
                  $("#masters_user_error_message").hide();
                  $("#masters_user_input").css("border-bottom","2px solid #34F458");
              } else {
                  $("#masters_user_error_message").html("Should contain only positive integers");
                  $("#masters_user_error_message").show();
                  $("#masters_user_input").css("border-bottom","2px solid #F90A0A");
                  error_user = true;
              }
          }
        
        
          function check_quant() {
        
              var quant = $("#masters_quantity_input").val();
              if (quant > 0 && quant !== '') {
                  $("#masters_quantity_error_message").hide();
                  $("#masters_quantity_input").css("border-bottom","2px solid #34F458");
              } else {
                  $("#masters_quantity_error_message").html("Should contain only positive integers");
                  $("#masters_quantity_error_message").show();
                  $("#masters_quantity_input").css("border-bottom","2px solid #F90A0A");
                  error_quantity = true;
              }
          }
        
        
          function check_location() {
            var pattern = /^[a-zA-Z\s]*$/;
            var location = $("#masters_location_input").val();
            if (pattern.test(location) && location !== '') {
               $("#masters_item_location_error_message").hide();
               $("#masters_location_input").css("border-bottom","2px solid #34F458");
            } else {
               $("#masters_item_location_error_message").html("Should contain only Characters");
               $("#masters_item_location_error_message").show();
               $("#masters_location_input").css("border-bottom","2px solid #F90A0A");
               error_location = true;
            }
         }
        
        
        
          $("#master_inventory_form").submit(function() {
            var error_cat = false;
            var error_item = false;
            var error_cost = false;
            var error_selling = false;
            var error_manu = false;
            var error_user = false;
            var error_quantity = false;
            var error_temp = false;
            var error_location = false;
        
        
            check_cat();
            check_item();
            check_cost();
            check_selling();
            check_manu();
            check_user();
            check_quant();
            check_location();
        
        
            if (error_cat === false && error_item === false && error_cost === false && error_selling === false && error_manu === false && error_user === false && error_quantity === false && error_location === false) {
                 return true;
              } else {
                 return false;
              }
           });
      </script>
