<body class="sidebar-dark">
  	<div class="main-wrapper">
      <div class="page-wrapper">
        	<div class="page-content">

<%= render 'form', store_inventory_master: @store_inventory_master %>

<%= link_to 'Show', @store_inventory_master %> |
<%= link_to 'Back', store_inventory_masters_path %>


</div>
</div>
</div>
</body>
