<style>
  .blocktext {
      margin-left: auto;
      margin-right: auto;
  
      margin: 0;
    position: relative;
    left: 50%;
    margin-right: -50%;
  }
</style>
<main>
  <section id="main-content">
    <section class="wrapper">
      <div class="row">
        <div class="col-12">
          <h1 class="blocktext">Store Inventory </h1>
          <div class="separator mb-5"></div>
        </div>
      </div>
      <div class="row mb-4">
        <div class="col-12 mb-4">
          <div class="card">
            <div class="card-body">
              <div class="table-responsive bs-example widget-shadow">
                <table class="table table-bordered">
                  <%= link_to 'Import', import_csv_path,  { class:'btn btn-primary ', :remote => true,  'data-toggle' =>  "modal", 'data-target' => '#csvModal'} %>
                  <thead>
                    <tr>
                      <th>Inventory categories</th>
                      <th>Item name</th>
                      <th>Cost price</th>
                      <th>Selling price</th>
                      <th>Insurance price</th>
                      <th>Manufaturer name</th>
                      <th>User</th>
                      <th>Quantity</th>
                      <th>Item location</th>
                      <th colspan="3"></th>
                    </tr>
                  </thead>
                  <tbody>
                    <% @store_inventory_masters.each do |store_inventory_master| %>
                      <tr>
                        <td><%= store_inventory_master.name %></td>
                        <td><%= store_inventory_master.item_name %></td>
                        <td><%= store_inventory_master.cost_price %></td>
                        <td><%= store_inventory_master.selling_price %></td>
                        <td><%= store_inventory_master.insurance_price %></td>
                        <td><%= store_inventory_master.manufaturer_name %></td>
                        <td><%= store_inventory_master.user_id %></td>
                        <td><%= store_inventory_master.quantity %></td>
                        <td><%= store_inventory_master.item_location %></td>
                        <td><span id="badgeSpan" class="badge badge-primary"><%= link_to 'Show', store_inventory_master, id: "badgeSpan" %></span></td>
                        <td><span id="badgeSpan" class="badge badge-warning"><%= link_to 'Edit', edit_store_inventory_master_path(store_inventory_master) %></span></td>
                        <td><span id="badgeSpan" class="badge badge-danger"><%= link_to 'Delete', store_inventory_master, method: :delete, data: { confirm: 'Are you sure?' } %></span></td>
                      </tr>
                    <% end %>
                  </tbody>
                </table>
                <br>
              </div>
            </div>
            <div class="blocktext">
              <%= will_paginate @store_inventory_masters %>
            </div>
            <div class="blocktext">
              <%= link_to 'New Store Inventory Master', new_store_inventory_master_path , class:'btn btn-primary '%>
            </div>
          </div>
        </section>
      </section>
    </main>
    <!--
    <div id="csvModal" class="modal fade" role="dialog">
      <div class="modal-dialog">
        <div class="modal-content" >
              <div class="modal-header">
                <h4 class="modal-title"> Upload Csv</h4>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
              </div>
              <div class="modal-body" id = 'hi'>
                <%= render "import_csv" %>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
              </div>
            </div>
          </div>
        </div>
      -->
    <div id="csvModal" class="modal fade" role="dialog">
      <div class="modal-dialog">
        <div class="modal-content" >
          <div class="modal-header">
            <h4 class="modal-title"> Upload Csv </h4>
            <button type="button" class="close" data-dismiss="modal">&times;</button>
          </div>
          <div class="modal-body" id = 'hii'>
            <%= render "import_csv" %>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
          </div>
        </div>
      </div>
    </div>
