<body class="sidebar-dark">
  	<div class="main-wrapper">
      <div class="page-wrapper">
        	<div class="page-content">

<p>
  <strong>Store inventory categories:</strong>
  <%= @store_inventory_master.store_inventory_categories_id %>
</p>

<p>
  <strong>Item name:</strong>
  <%= @store_inventory_master.item_name %>
</p>

<p>
  <strong>Cost price:</strong>
  <%= @store_inventory_master.cost_price %>
</p>

<p>
  <strong>Selling price:</strong>
  <%= @store_inventory_master.selling_price %>
</p>

<p>
  <strong>Manufaturer name:</strong>
  <%= @store_inventory_master.manufaturer_name %>
</p>

<p>
  <strong>User:</strong>
  <%= @store_inventory_master.user_id %>
</p>

<p>
  <strong>Quantity:</strong>
  <%= @store_inventory_master.quantity %>
</p>

<p>
  <strong>Item location:</strong>
  <%= @store_inventory_master.item_location %>
</p>

<%= link_to 'Edit', edit_store_inventory_master_path(@store_inventory_master) %> |
<%= link_to 'Back', store_inventory_masters_path %>
</div>
</div>
</div>
</body>
