<style>
  .blocktext {
      margin-left: auto;
      margin-right: auto;
  
      margin: 0;
    position: relative;
    left: 50%;
    margin-right: -50%;
  }
</style>
<main>
  <section id="main-content">
    <section class="wrapper">
      <div class="row">
        <div class="col-12">
          <h1 class="blocktext">Edit</h1>
          <div class="separator mb-5"></div>
        </div>
      </div>
      <div class="row mb-4">
        <div class="col-12 mb-4">
          <div class="card">
            <div class="card-body">
              <div class="table-responsive bs-example widget-shadow">
                <div class="position-center">
                  <%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
                    <p><%= devise_error_messages! %>
                      <p>
                        <%= f.error_notification %>
                        <div class="panel-body">
                          <div class="position-center">
                            <div class="ggg">
                              <%= f.input :username, autofocus: true, autocomplete: "username" , placeholder: 'username' ,html_input:{style:"width:70%;height:20%;"} %>
                            </div>
                            <div class="ggg">
                              <%= f.input :fullname, autofocus: true, autocomplete: "fullname" , placeholder: 'fullname' ,html_input:{style:"width:70%;height:20%;"} %>
                            </div>
                            <div class="ggg">
                              <%= f.input :email , autofocus: true, class: "ggg", autocomplete: "email " , placeholder: 'email ' %>
                            </div>
                            <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
                              <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
                            <% end %>
                            <div class="ggg">
                              <%= f.input :password, autocomplete: "off",class: "ggg",placeholder: 'password' %> <i>(leave blank if you don't want to change it)</i><br />
                              <% if @minimum_password_length %>
                                <em>(<%= @minimum_password_length %> characters minimum)</em>
                              <% end %>
                            </div>
                            <div class="ggg">
                              <%= f.input :password_confirmation, autocomplete: "off",class: "ggg" ,placeholder: 'password confirmation'%>
                            </div>
                            <div class="ggg">
                              <%= f.input :current_password, autocomplete: "off",class: "ggg" ,placeholder: 'password confirmation'%><i>(we need your current password to confirm your changes)</i><br />
                            </div>
                            <br>
                            <center>
                              <div class="actions">
                                <%= f.submit "Update",:class => 'btn-success',:style=>"width:auto;" %>
                              </div>
                            </center>
                          <% end %>
                          <br>
                          <%= link_to "Back", :back %>
                        </div>
                      </div>
                    </div>
                  </div>
                </section>
              </section>
            </main>
