<style>
  .blocktext {
      margin-left: auto;
      margin-right: auto;
  
      margin: 0;
    position: relative;
    left: 50%;
    margin-right: -50%;
  }
</style>
<main>
  <section id="main-content">
    <section class="wrapper">
      <div class="row">
        <div class="col-12">
          <h1 class="blocktext"> Bills</h1>
          <div class="separator mb-5"></div>
        </div>
      </div>
      <div class="row mb-4">
        <div class="col-12 mb-4">
          <div class="card">
            <div class="card-body">
              <div class="table-responsive bs-example widget-shadow">
                <table class="table table-bordered">
                  <thead>
                    <tr>
                      <!-- <th>Patient</th> -->
                      <th>Service</th>
                      <th>Price</th>
                      <th>Date</th>
                      <th>Status</th>
                      <th colspan="3"></th>
                    </tr>
                  </thead>
                  <tbody>
                    <% @bill_histories.each do |bill_history| %>
                      <tr>
                        <!-- <td><%#= bill_history.other_names + " " + bill_history.surname %></td> -->
                        <td><%= bill_history.service_name %></td>
                        <td>GHC <%= bill_history.price %></td>
                        <td><%= bill_history.created_at %></td>
                        <% if bill_history.status == false %>
                          <td> <%= 'Outstanding'%> </td>
                        <% else bill_history.status == true  %>
                          <td><%= 'Paid' %>
                          </td>
                        <% end %>
                        <!--   <td><%#= link_to 'Print' %></td>  -->
                      </tr>
                    <% end %>
                  </tbody>
                </table>
                <br>
              </div>
            </div>
          </section>
        </section>
      </main>
