  <%= simple_form_for(@new_dispensary) do |f| %>
  <div id="pager">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h4 class="modal-title"> Confirm to Dispense</h4>
          <button type="button" class="close" data-dismiss="modal">
            &times;
          </button>
        </div>
        <div class="modal-body" >
          <div class="table-responsive">
            <table class="table table-hover mb-0">
              <thead>
                <tr>
                  <th class="pt-0"> check box </th>
                  <th class="pt-0"> Item Name </th>
                  <th class="pt-0"> Quantity </th>
                  <th class="pt-0"> Manufacturer </th>
                  <th class="pt-0"> Selling Price </th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <%= @store_items_save.each do |vals| %>
                    <td><%= check_box_tag ("check_box[id][]"),checked_value = vals.id %> </td>
                    <td id="name_of_items"><%= vals.assigned_item_name  %></td>
                    <td id="quantity_use"><%= f.input :quantity, input_html: { multiple:true } ,label:false   %></td>
                    <td id="name_of_items"><%= vals.assigned_item_manufacturer  %></td>
                    <td id="name_of_items"><%= vals.assigned_item_selling_price  %></td>
                  </tr>
                <% end %>
              </tbody>
            </table>
          </div>
          <div class="form-actions">
            <%= f.button :submit, "Submit",class: 'btn btn-primary btn-lg', data: {"disable-with": "submit......"} %>
          </div>
        </div>
      </div>
    </div>
  </div>
<% end %>
