<body class="sidebar-dark">
  	<div class="main-wrapper">
      <div class="page-wrapper">
        	<div class="page-content">
<h1>Editing Assigned Request</h1>


<%= render 'form', assigned_request: @assigned_request %>


<%= link_to 'Show', @assigned_request %> |
<%= link_to 'Back', assigned_request_path %>

</div>
</div>
</div>
</body>
