<style>
  .blocktext {
      margin-left: auto;
      margin-right: auto;
  
      margin: 0;
    position: relative;
    left: 50%;
    margin-right: -50%;
  }
</style>
<main>
  <div class="main-wrapper">
    <div class="page-wrapper">
      <div class="row">
        <div class="col-12">
          <h1 class="blocktext">Assigned Requests</h1>
          <div class="separator mb-5"></div>
        </div>
      </div>
      <div class="row mb-4">
        <div class="col-12 mb-4">
          <div class="card">
            <div class="card-body">
              <div class="table-responsive bs-example widget-shadow">
                <table class="table table-bordered">
                  <thead>
                    <tr>
                      <th>Store inventory master</th>
                      <th>Store inventory categories</th>
                      <th>Quantity</th>
                      <th>User</th>
                      <th>Date assigned</th>
                      <th>Comments</th>
                      <th>Status</th>
                      <th>Store manager</th>
                      <th colspan="3"></th>
                    </tr>
                  </thead>
                  <tbody>
                    <% @assigned_requests.each do |assigned_request| %>
                      <tr>
                        <td><%= assigned_request.store_request_id %></td>
                        <td><%= assigned_request.store_invent_master %></td>
                        <td><%= assigned_request.store_invent_cat %></td>
                        <td><%= assigned_request.assigned_quantity %></td>
                        <td><%= assigned_request.assigned_to_user %></td>
                        <td><%= assigned_request.assigned_date %></td>
                        <td><%= assigned_request.assigning_comments %></td>
                        <td><%= assigned_request.assigned_status %></td>
                        <td><%= assigned_request.assigned_by_store_manager %></td>
                        <td><%= link_to 'Show', assigned_request %></td>
                        <td><%= link_to 'Edit', edit_assigned_request_path(assigned_request) %></td>
                        <td><%= link_to 'Destroy', assigned_request, method: :delete, data: { confirm: 'Are you sure?' } %></td>
                      </tr>
                    <% end %>
                  </tbody>
                </table>
                <br>
              </div>
            </div>
            <center>
              <%#= link_to 'New Assigned Request', new_assigned_request_path ,class:'btn btn-primary '%>
            </center>
          </div>
        </main>
