<%= simple_form_for (@assigned_request, url:retrive_path) do |f| %>

  <body class="sidebar-dark">
    <div class="main-wrapper">
      <div class="page-wrapper">
        <div class="page-content">

          <div class="col-lg-7 col-xl-8 stretch-card">
            <div class="card-req">
              <div class="card-body-special">
                <div class="d-flex justify-content-between align-items-baseline mb-2">
                  <h6 class="card-title mb-0">Selected Requests</h6>
                  <div class="dropdown mb-2">
                    <button class="btn p-0" type="button" id="dropdownMenuButton7" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                      <i class="icon-lg text-muted pb-3px" data-feather="more-horizontal"></i>
                    </button>
                    <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenuButton7">
                      <a class="dropdown-item d-flex align-items-center" href="#"><i data-feather="eye" class="icon-sm mr-2"></i> <span class="">View</span></a>
                      <a class="dropdown-item d-flex align-items-center" href="#"><i data-feather="edit-2" class="icon-sm mr-2"></i> <span class="">Edit</span></a>
                      <a class="dropdown-item d-flex align-items-center" href="#"><i data-feather="trash" class="icon-sm mr-2"></i> <span class="">Delete</span></a>
                      <a class="dropdown-item d-flex align-items-center" href="#"><i data-feather="printer" class="icon-sm mr-2"></i> <span class="">Print</span></a>
                      <a class="dropdown-item d-flex align-items-center" href="#"><i data-feather="download" class="icon-sm mr-2"></i> <span class="">Download</span></a>
                    </div>
                  </div>
                </div>
                <div class="table-responsive">
                  <table class="table table-hover mb-0">
                    <thead>
                      <tr>
                      <th class="pt-0"></th>
                        <th class="pt-0">Category ID</th>
                        <th class="pt-0">Master ID</th>
                        <th class="pt-0">Quantity Requested</th>
                        <th class="pt-0">Date Requested</th>
                        <th class="pt-0">Requested By</th>
                        <th class="pt-0">Comments</th>
                        <th class="pt-0">Store Manager</th>
                      </tr>
                    </thead>
                    <tbody>

                      <% @store_items_save.each do |confirmed_list| %>

                      <tr class="tdd">
                        <td><%= check_box_tag ("store_request[id][]"),checked_value = confirmed_list.id %> </td>
                        <td><%= confirmed_list.store_inventory_categories_id %></td>
                        <td><%= confirmed_list.store_inventory_master_id %></td>
                        <td><%= confirmed_list.quantity %></td>
                        <td><%= confirmed_list.date_requested %></td>
                        <td><%= confirmed_list.user_id %></td>
                        <td><%= confirmed_list.comments %></td>
                        <td><%= confirmed_list.store_manager_id %></td>
                        <td><%= link_to 'Edit', edit_store_request_path(confirmed_list) %></td>
                        <td><%= link_to 'Destroy', confirmed_list, method: :delete, data: { confirm: 'Are you sure?' } %></td>
                      </tr>
                    </tbody>

                    <% end %>
                  </table>

                  <div class="form-actions" style="text-align:center;margin-top: 20px;">
                    <button type="button" class ="btn btn-success" style="color:white;">
                      <i class="btn-icon-prepend" data-feather="check-square"></i>
                      <%= f.button :submit, 'Assign' %>
                    </button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>

<% end %>