<body class="sidebar-dark">
  <div class="main-wrapper">
    <div class="page-wrapper">
      <div class="page-content">
          <p id="notice"><%= notice %></p>

          <p>
            <strong>Store inventory master:</strong>
            <%= @assigned_request.store_inventory_master_id %>
          </p>

          <p>
            <strong>Store inventory categories:</strong>
            <%= @assigned_request.store_inventory_categories_id %>
          </p>

          <p>
            <strong>Quantity:</strong>
            <%= @assigned_request.quantity %>
          </p>

          <p>
            <strong>User:</strong>
            <%= @assigned_request.user_id %>
          </p>

          <p>
            <strong>Date assigned:</strong>
            <%= @assigned_request.date_assigned %>
          </p>

          <p>
            <strong>Comments:</strong>
            <%= @assigned_request.comments %>
          </p>

          <p>
            <strong>Status:</strong>
            <%= @assigned_request.status %>
          </p>

          <p>
            <strong>Store manager:</strong>
            <%= @assigned_request.store_manager_id %>
          </p>

          <%= link_to 'Edit', edit_assigned_request_path(@assigned_request) %> |
          <%= link_to 'Back', assigned_requests_path %>


      </div>
    </div>
  </div>
</body>