


<div class="search2">
  <p>
    <%=form_tag checkout_path, method: :get,class:"lus",remote:true, 'data-target' => '#myModal1' do %>
    <input  placeholder="name" name="search" value=""/>
    <%= submit_tag "Search" %>
    <% end %>
    </p>
</div><%= simple_form_for @store_request,url:back_to_form_path, :html => { :name => 'checkout-form', :id => 'checkout_form'  }, :validate => true, remote:true  do |f| %>



      <div class="table-responsive">
        <table class="table table-hover mb-0">
        <button type="button" id="caty-button2" class="btn btn-success" style="margin-bottom:15px; float:left; color:white;">Check All</button>
          <thead>
            <tr>
              <th class="pt-0"></th>
              <th class="pt-0">Item Name</th>
              <th class="pt-0">Available Quantity</th>
              <th class="pt-0">Quantity</th>
          </tr>
          </thead>
          <div class="groupedItems">
            <tbody>
            <div>
              <% @store_inventory_masters.each do |items_lists| %> 
                <tr id="manUp">
                  <td id ="checked_box"><%= check_box_tag ("check_box[id][]"), checked_value = items_lists.id %> </td>
                  <td id="name_of_items"><%= items_lists.item_name %></td>
                  <td id="name_of_items"><%= items_lists.quantity %></td>
              
                  <td id="quantity_use"><%= f.input :quantity, autofocus: true, input_html: { multiple:true},  label:false, placeholder: "1" %>
                    <span class="error_form" id="quantity_error_message"></span>
                  </td>
                </tr>
              <% end %>
            </div>
            </tbody>
          </div>
        </table>
        <div class="form-actions">
          <button type="button" id="" class="btn btn-success" >
            <%= f.button :submit ,"Submit", disabled: true, :id=> "addmore-submit"%>
          </button>

        </div>
        <div id="show_me">

        </div>
      </div>

      <div class="load-more-container">
        <%= link_to "Load More", checkout_path, class: "load-more",remote: true %>
      </div>


  <% end %>




<script>
  
  var sendbtn = document.getElementById('addmore-submit');

  $('#caty-button2').on("click", function(){
    var cbxs = $('input[type="checkbox"]');

    var a =  cbxs.prop("checked", !cbxs.prop("checked"));
  
    //checking if cbx is checked
    if ((cbxs).is(":checked") ){
      console.log('a passed')
      sendbtn.disabled = false;
    }

    else{
      console.log('a didnt pass')
      sendbtn.disabled = true;
    }
      
  });



  $('input:checkbox').change(function(){


    var len= document.querySelectorAll('input[type=checkbox]:checked').length
    console.log(len + " lebgthhhhhh")


    if(len > 0) {

      console.log('working oayyy')
      sendbtn.disabled = false;
        
    } 
    else {
      console.log('working 2cc')
      sendbtn.disabled = true;
        
    }



    var myInput;

    checkId = $(this).val(); 

    $('input#store_request_quantity').on('change keyup blur focusout', function(){
      myInput = $(this).val();

      console.log(`My checkbox id is ---- ${checkId} and My value is ---- ${myInput}`); 


      $.ajax({
        type:"POST",
          url:"/update_temp",
          dataType:"json",
          data: {
            id: checkId, 
            quantityvalue: myInput
          },
          
        })
     });  
  })


  // $('input:checkbox').change(function(){

  //   var len= document.querySelectorAll('input[type=checkbox]:checked').length
  //   console.log(len + " lebgthhhhhh")
     
  //   if(len > 0) {

  //     console.log('working oayyy')
  //     sendbtn.disabled = false;
        
  //   } 
  //   else {
  //     console.log('working 2cc')
  //     sendbtn.disabled = true;
        
  //   }
  // });

</script>




