<style>
  .blocktext {
      margin-left: auto;
      margin-right: auto;
  
      margin: 0;
    position: relative;
    left: 50%;
    margin-right: -50%;
  }

  .custom_row{
    
    width: 100%;
    display: flex;
  }

  .custom_col{
    
    width: 30%;
    
  }

</style>

<main>
  <body class="sidebar-dark">
    <div class="main-wrapper-e">
      <div class="row mb-4">
        <div class="col-12 mb-4">
          <div class="card">
            <div class="card-body">
              <div class="table-responsive bs-example widget-shadow">
                <%= simple_form_for @store_request , html: { :name =>'requests-input-form', :id =>'inventory_requests_form'} do |f| %>
                  <div class="form-inputs">
                    <div class= "small_boxes">

                      <!-- USER ID -->
                      <div class="rowy">
                        <div class="col-sm-6">
                          <div class="form-group">
                            <%= f.input :user_id, :as=> :hidden, input_html: {value: current_user.id, class: "control-label" } %>
                            <span class="error_form" id="requests_user_error_message"></span>
                          </div>
                        </div>
                      </div>

                      <!-- ROLE ID -->
                      <div class="rowy">
                        <div class="col-sm-6">
                          <div class="form-group">
                            <%= f.input :role_id, :as=> :hidden, input_html: {value: current_user.role_id, class: "control-label" } %>
                            <span class="error_form" id="requests_user_error_message"></span>
                          </div>
                        </div>
                      </div>

                      <!-- CATEGORY ID -->
                      <div class="rowy">
                        <div class="col-sm-6">
                          <div class="form-group">
                            <%= f.input :store_inventory_categories_id,collection:StoreInventoryCategory.all, value_method: :id, label_method: :name,
                            required: true, autofocus: true, input_html: { autocomplete: "store_inventory_category_id",value: @category_name, class: "control-label "}%>
                            <span class="error_form" id="requests_caty_error_message"></span>
                          </div>
                        </div>
                      </div>
                    </div>

                    <!-- Input Section -->
                    <div class="data">
                      <% logger.info "ererere #{@calling.inspect}"%>
                      <%# <%= @calling.each do %>
                      <% if @store_items_save.nil?%>
                      <% else %>
                        <%= @store_items_save.each do %>
                          <div class="rowy">
                            <div class="col-sm-6">
                              <div class="form-group">
                                <%= f.input :quantity, input_html: { multiple:true, :id => "requests_quantity_input" } %>
                                <span class="error_form" id="requests_quantity_error_message"></span>
                              </div>
                            </div>
                          </div>
                          <div class="rowy">
                            <div class="col-sm-6">
                              <div class="form-group">
                                <%= f.input :store_inventory_masters_id,   input_html: { multiple:true, :id => "requests_masters_id__input" }%>
                                <span class="error_form" id="requests_masters_id_error_message"></span>
                              </div>
                            </div>
                          </div>
                        <% end %>
                      <% end %>
                    </div>

                    <!-- Beginning of Add More Section -->
                    <button type="button" class="btn btn-primary" id="btnAdd">
                      <%= link_to 'Add More', checkout_path,  {:id => "addmore", :remote => true,  'data-toggle' =>  "modal", 'data-target' => '#myModal1'}%>
                    </button>

                    <br>
                      <!-- Displaying selected Items and Quantity through JS for Users -->

                    <div class="custom_row">

                      <table id="store_table">
                        <thead id="storeThead">
                          <tr>
                            <th> Item Name </th>
                            <th> Quantity </th>
                          </tr>
                        </thead>

                        <tbody id="appendHere">
                          
                        </tbody>
                      
                      </table>
                      
                      <!--  Hidden field receiving JS Input fields for quantity and ID of items from Checkout for form submission -->
                      
                      <div class="custom_col">
                        <div id="show_me">
                          
                        </div>
                      </div>        
                    </div> 

                     
                    <div class="row">
                      <div class="col-sm-6">
                        <div class="form-group">
                          <%= f.input :status, :as=> :hidden, input_html: {value: :true } %>
                        </div>
                      </div>
                    </div>


                    <div class="row"  style=  "margin-top: 114px;">
                      <div class="col-sm-6">
                        <div class="form-group">
                          <%= f.input :store_manager_id, :as=> :hidden, input_html: { :id => "requests_store_manager_id__input", value:0 }  %>
                          <span class="error_form" id="requests_store_manager_error_message"></span>
                        </div>
                      </div>
                    </div>

                    

                    <!-- Date Section  -->
                    
                      <%= f.input :date_requested, label: "Date of Request", as: :string, input_html: { id: "datepicker", placeholder: 'dd-mm-yy' }  %>
                    
                    <!-- Date Section Ends -->


                    <div class="rowz">
                      <div class="col-sm-6">
                        <div class="form-group">
                          <%= f.input :comments  %>
                          <span class="error_form" id="requests_comments_error_message"></span>
                        </div>
                      </div>
                    </div>

                    <div class="form-actions" style="text-align:center;margin-top: 20px;">
                      <button type="button"  class ="btn btn-success" style="color:white;">
                        <i class="btn-icon-prepend" data-feather="check-square"></i>
                        <%= f.button :submit, 'Submit', :id => "btn_white" %>
                      </button>
                    </div>
                  </div>
                  <!-- </div> -->
                <% end %>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
</main>
      
<div id="myModal1" class="modal fade" role="dialog">

  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">
          &times;
        </button>

        <h4 class="modal-title"> select items old</h4>
      </div>


      <div class="modal-body" id = 'check_form_old'>

    </div>

  </div>
</div>

<script>

  $("#requests_user_error_message").hide();
  $("#requests_caty_error_message").hide();
  $("#requests_quantity_error_message").hide();
  $("#requests_masters_id_error_message").hide();
  $("#requests_store_manager_error_message").hide();
  $("#requests_date_error_message").hide();
  $("#requests_comments_error_message").hide();
            
  var error_user = false;
  var error_caty = false;
  var error_quantity = false;
  var error_masters_id = false;
  var error_manager = false;
  var error_date = false;
  var error_comments = false;
            
            
  $("#store_request_user_id").focusout(function(){
    check_user();
  });
            
  $("#store_request_store_inventory_categories_id").focusout(function(){
    check_caty();
  })
            
  $("#requests_quantity_input").focusout(function() {
    check_quant();
  });
            
  $("#requests_masters_id__input").focusout(function() {
    check_master();
  });
            
  $("#requests_store_manager_id__input").focusout(function() {
    check_manager();
  });
            
  $("#store_request_comments").focusout(function() {
    check_comments();
  });
            
            
            
  function check_user() {
            
    var user = $("#store_request_user_id").val();
    if (user > 0 && user !== '') {
      $("#requests_user_error_message").hide();
      $("#store_request_user_id").css("border-bottom","2px solid #34F458");
    }else {
      $("#requests_user_error_message").html("Should contain only positive integers");
      $("#requests_user_error_message").show();
      $("#store_request_user_id").css("border-bottom","2px solid #F90A0A");
      error_user = true;
    }
  }
            
  function check_caty() {
            
    var user = $("#store_request_store_inventory_categories_id").val();
    if(user > 0 && user !== '') {
      $("#requests_caty_error_message").hide();
      $("#store_request_store_inventory_categories_id").css("border-bottom","2px solid #34F458");
    }else {
      $("#requests_caty_error_message").html("Should not be blank");
      $("#requests_caty_error_message").show();
      $("#store_request_store_inventory_categories_id").css("border-bottom","2px solid #F90A0A");
      error_caty = true;
    }
  }
            
            
  function check_quant() {

    var quant = $("#requests_quantity_input").val();
    if (quant > 0 && quant !== '') {
      $("#requests_quantity_error_message").hide();
      $("#requests_quantity_input").css("border-bottom","2px solid #34F458");
    }else {
      $("#requests_quantity_error_message").html("Should contain only positive integers");
      $("#requests_quantity_error_message").show();
      $("#requests_quantity_input").css("border-bottom","2px solid #F90A0A");
      error_quantity = true;
    }
  }
            
  function check_master() {
    var master_id = $("#requests_masters_id__input").val();
    if (master_id > 0 && master_id !== ''){
      $("#requests_masters_id_error_message").hide();
      $("#requests_masters_id__input").css("border-bottom","2px solid #34F458");
    }else {
      $("#requests_masters_id_error_message").html("Should contain only Characters");
      $("#requests_masters_id_error_message").show();
      $("#requests_masters_id__input").css("border-bottom","2px solid #F90A0A");
      error_masters_id = true;
    }
  }
            
            
  function check_manager() {
            
    var manager = $("#requests_store_manager_id__input").val();
    if (manager > 0 && manager !== '') {
      $("#requests_store_manager_error_message").hide();
      $("#requests_store_manager_id__input").css("border-bottom","2px solid #34F458");
    }else {
      $("#requests_store_manager_error_message").html("Should contain only positive integers");
      $("#requests_store_manager_error_message").show();
      $("#requests_store_manager_id__input").css("border-bottom","2px solid #F90A0A");
      error_manager = true;
    }
  }
            
            
            
  function check_comments() {
    var pattern = /\A[a-z0-9\s]+\Z/i;
    var comm = $("#store_request_comments").val();
    
    if(pattern.test(comm) && comm !== '') {
      $("#requests_comments_error_message").hide();
      $("#store_request_comments").css("border-bottom","2px solid #34F458");
    }else {
      $("#requests_comments_error_message").html("Should contain only Characters");
      $("#requests_comments_error_message").show();
      $("#store_request_comments").css("border-bottom","2px solid #F90A0A");
        error_comments = true;
      }
  }
            
            
            
  $("#inventory_requests_form").submit(function() {

    var error_user = false;
    var error_caty = false;
    var error_quantity = false;
    var error_masters_id = false;
    var error_manager = false;
    var error_date = false;
    var error_comments = false;  
            
    check_user();
    check_caty();
    check_quant();
    check_master();
    check_manager();
    check_comments();
            
    if(error_user === false && error_caty === false && 
        error_quantity === false && error_masters_id === false 
        && error_manager === false  ) {
      
      return true;

    }else {

      return false;
    }
  });


</script>

<script type="text/javascript">
  $('#datepicker').datetimepicker({
  	format : 'DD-MM-YYYY'
  })
  $('[data-behaviour~=datepicker]').datetimepicker();
</script>

<!--
<script>

var nameValidationInput = document.getElementById('store_request_store_inventory_categories_id');
function useValue() {
    var NameValue = nameValidationInput.value;
    // use it
    console.log("Value of category ---" + NameValue); // just to show the new value
}
nameValidationInput.onchange = useValue;  
// nameValidationInput.onblur = useValue;

</script>
-->
