
 $(document).ready(function(){
 
  <%@store_items_save.each do |user|%>

    $('#appendHere').append('<tr><td id="tdHere"><%= user.item_name%></td><td id="secondTd"><%= user.temp_quantity %></td></tr>')

    //$('#appendHere').append('<button id="removeNewFormation" type="button">remove</button>')

    

    $('div#show_me').append( '<div id ="formTempQuantity"><input type="hidden" class="temporary_quantity" name="[temp_quantity][]" class="input-large" value= <%= user.temp_quantity %>><input type="hidden"  class="master_ID_v" name="[store_inventory_master_id][]" class="input-large" value= <%= user.id %>></div>');

    
  <% end %>

      let seeMe = document.querySelectorAll('.temporary_quantity').length
      let quantMe = document.querySelectorAll('#formTempQuantity').length
      let masterMe = document.querySelectorAll('.master_ID_v').length

        console.log("div length given " + quantMe);
        
        console.log("Quantitty input field is  " + seeMe);
        console.log("Quantitty master field is  " + masterMe);

        console.log("-----------------------");

        let firstTd = $('#tdHere').length
        let secondTD = $('#secondTd').length

        console.log("showing 1st td is " + firstTd);
        console.log("showing 2nd td is " + secondTD);


     $("#removeNewFormation").on('click',  function(){
       
        $('#formTempQuantity').remove();

        $('.temporary_quantity').remove();

        $('.master_ID_v').remove();

         $('#tdHere').remove()
         $('#secondTd').remove()

          $('#removeNewFormation').remove();

        //let seeMe = document.querySelector('.temporary_quantity').length
        //let quantMe = document.querySelector('#formTempQuantity').length
        //let masterMe = document.querySelector('.master_ID_v').length

        
        console.log("div length given " + quantMe);
        console.log("Quantitty input field is  " + seeMe);
        console.log("Quantitty master field is  " + masterMe);

        //let firstTd = $('#tdHere').length
        //let secondTD = $('#secondTd').length

         

        console.log("-----------------------");

        console.log("showing 1st td is " + firstTd);
        console.log("showing 2nd td is " + secondTD);

     
       

         


        console.log("Getty Getty ");
    });
});



$("#myModal1").modal('hide')

$(".modal-backdrop ").remove();

