<body class="sidebar-dark">
  	<div class="main-wrapper">
      <div class="page-wrapper">
        	<div class="page-content">
<p id="notice"><%= notice %></p>

  <div class="main-wrapper">

    <div class="page-wrapper">
      <p id="notice"><%= notice %></p>

      <h1>Store Requests</h1>

<br>
</div>

</div>
</div>
</body>
<%= link_to 'New Store Request', new_store_request_path %>
