<body class="sidebar-dark">
  	<div class="main-wrapper">
      <div class="page-wrapper">
        	<div class="page-content">

<p>
  <strong>User:</strong>
  <%= @store_request.user_id %>
</p>

<p>
  <strong>Store inventory categories:</strong>
  <%= @store_request.store_inventory_categories_id %>
</p>

<p>
  <strong>Store inventory master:</strong>
  <%= @store_request.store_inventory_master_id %>
</p>

<p>
  <strong>Quantity:</strong>
  <%= @store_request.quantity %>
</p>

<p>
  <strong>Comments:</strong>
  <%= @store_request.comments %>
</p>

<p>
  <strong>Status:</strong>
  <%= @store_request.status %>
</p>

<p>
  <strong>Date requested:</strong>
  <%= @store_request.date_requested %>
</p>

<%= link_to 'Edit', edit_store_request_path(@store_request) %>
<%= link_to 'Back', store_requests_path %>
</div>
</div>
</div>
</body>
