<p id="notice"><%= notice %></p>

<p>
  <strong>Basic medical record:</strong>
  <%= @lab_request.basic_medical_record_id %>
</p>

<p>
  <strong>Patient:</strong>
  <%= @lab_request.patient_id %>
</p>

<p>
  <strong>User:</strong>
  <%= @lab_request.user_id %>
</p>

<p>
  <strong>Personnel:</strong>
  <%= @lab_request.personnel_id %>
</p>

<p>
  <strong>Status:</strong>
  <%= @lab_request.status %>
</p>

<p>
  <strong>Lab type:</strong>
  <%= @lab_request.lab_type %>
</p>

<%= link_to 'Edit', edit_lab_request_path(@lab_request) %> |
<%= link_to 'Back', lab_requests_path %>
