
<%= simple_form_for(@incident_report) do |f| %>
  <%= f.error_notification %>
  <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>

  <div class="form-inputs">
    <%= f.input :incident_type %>
    <%= f.input :incidate_date %>
    <%= f.input :incident_description %>
    <%= f.input :action_taken %>
    <%= f.input :status %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
