<p id="notice"><%= notice %></p>

<p>
  <strong>Incident type:</strong>
  <%= @incident_report.incident_type %>
</p>

<p>
  <strong>Incidate date:</strong>
  <%= @incident_report.incidate_date %>
</p>

<p>
  <strong>Incident description:</strong>
  <%= @incident_report.incident_description %>
</p>

<p>
  <strong>Action taken:</strong>
  <%= @incident_report.action_taken %>
</p>

<p>
  <strong>Status:</strong>
  <%= @incident_report.status %>
</p>

<%= link_to 'Edit', edit_incident_report_path(@incident_report) %> |
<%= link_to 'Back', incident_reports_path %>
