<style>
  .blocktext {
      margin-left: auto;
      margin-right: auto;
  
      margin: 0;
    position: relative;
    left: 50%;
    margin-right: 50%;
  }
</style>
<main>
  <section id="main-content">
    <section class="wrapper">
      <div class="row">
        <div class="col-12">
          <h1 class="blocktext">Bills</h1>
          <div class="separator mb-5"></div>
        </div>
      </div>
      <div class="row mb-4">
        <div class="col-12 mb-4">
          <div class="card">
            <div class="card-body">
              <div class="table-responsive bs-example widget-shadow">
                <table class="table table-bordered">
                  <thead>
                    <tr>
                      <th>Patient No</th>
                      <th>Patient</th>
                      <th>Date</th>
                      <th colspan="3"></th>
                    </tr>
                  </thead>
                  <tbody>
                    <% @bill_temps.each do |bill_history| %>
                      <tr>
                        <td><%= bill_history.card_no %></td>
                        <td class='"btn btn-warning btn-sm btn3d"'><%= link_to bill_history.other_names.upcase + " " + bill_history.surname.upcase , bill_open_path(:id => bill_history.patient_id),{:remote => true,'data-toggle' =>  "modal",'data-target' => '#myModal'} %></td>
                        <td><%= bill_history.created_at.strftime("%B %d, %Y, %H:%M ") %></td>
                      </tr>
                    <% end %>
                  </tbody>
                </table>
                <div class="blocktext">
                  <%= will_paginate @bill_temps %>
                </div>
                <br>
              </div>
            </div>
          </section>
        </section>
      </main>
      <div id="myModal" class="modal fade" role="dialog">
        <div class="modal-dialog">
          <div class="modal-content" id="modal-size-bills" >
            <div class="modal-header">
              <h4 class="modal-title"> Bills For Today</h4>
              <button type="button" class="close" data-dismiss="modal">
                &times;
              </button>
            </div>
            <div class="modal-body" id = 'hi'>
              <%#= render "assign_lab" %>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-default" data-dismiss="modal">
                Close
              </button>
            </div>
          </div>
        </div>
      </div>
      <script>
        $(document).ready(function() {
        	$(".radio_div div input").click(function() {
        		$("#date_div").addClass("hidden");
        		$("#search-field").removeClass("hidden");
        		$("#narrative_div").addClass("hidden");
        	});
        	$("#name").click(function() {
        		if ($("#name").is(":checked")) {
        			$("#search-field").attr("placeholder", "Patient Number");
        			$("#search-field2").removeClass("hidden")
        		}
        	});
        	$("#mobile_number").click(function() {
        
        		if ($("#mobile_number").is(":checked")) {
        
        			$("#search-field").attr("placeholder", "Mobile Number");
        			$("#date_div").addClass("hidden");
        			$("#search-field").removeClass("hidden");
        		}
        	});
        
        
        	$("#date").click(function() {
        		$("#date_div").removeClass("hidden");
        		$("#search-field").addClass("hidden");
        		$("#date-field").removeClass("hidden");
        		$("#date-field2").removeClass("hidden");
        		$("#search-field2").removeClass("hidden")
        
        	});
        	$("#date-field").click(function() {
        		$("#date_div").removeClass("hidden");
        		$("#search-field").addClass("hidden");
        		$("#date-field").removeClass("hidden");
        		$("#date-field2").removeClass("hidden");
        		$("#search-field2").removeClass("hidden")
        	});
        	$("#date-field2").click(function() {
        
        		$("#date_div").removeClass("hidden");
        		$("#search-field").addClass("hidden");
        		$("#date-field").removeClass("hidden");
        		$("#date-field2").removeClass("hidden");
        		$("#search-field2").removeClass("hidden")
        	});
        	$.fn.datepicker.noConflict = function() {
        		$.fn.datepicker = old;
        		return this;
        	};
        	$('#csv').click(function() {
        		console.log('works!');
        		$('#csv_perpage').val($('#record').val());
        		$('#csv_page').val($('li.active span').html());
        		$('#csv_submit').click();
        		console.log('works!');
        	});
        	$('#excel').click(function() {
        		$('#excel_perpage').val($('#record').val());
        		$('#excel_page').val($('li.active span').html());
        		$('#excel_submit').click();
        	});
        });
      </script>
