<style>
  .blocktext {
      margin-left: auto;
      margin-right: auto;
  
      margin: 0;
    position: relative;
    left: 50%;
    margin-right: 50%;
  }
</style>
<main>
  <section id="main-content">
    <section class="wrapper">
      <div class="row">
        <div class="col-12">
          <h1 class="blocktext">Previous Bills</h1>
          <div class="separator mb-5"></div>
        </div>
      </div>
      <div class="row mb-4">
        <div class="col-12 mb-4">
          <div class="card">
            <div class="card-body">
              <div class="table-responsive bs-example widget-shadow">
                <table class="table table-bordered">
                  <thead>
                    <tr>
                      <th>Patient</th>
                      <th>Service</th>
                      <th>Quantity</th>
                      <th>Cost(GHc)</th>
                      <th>Date</th>
                      <th>Status</th>
                      <th colspan="3"></th>
                    </tr>
                  </thead>
                  <tbody>
                    <% @bill_histories.each do |bill_history| %>
                      <tr>
                        <td><%= bill_history.other_names + " " + bill_history.surname %></td>
                        <td><%= bill_history.service_name %></td>
                        <td><%= bill_history.quantity %></td>
                        <td><%= bill_history.price %></td>
                        <td><%= bill_history.created_at.strftime("%B %d, %Y, %H:%M") %></td>
                        <% if current_user.role_id == 8 %>
                          <td class="bill_history-<%= bill_history.id %>"> <%= link_to "#{ bill_history.status ? 'Paid' : 'Oustanding' }", outstanding_path(:id => bill_history.id),{remote: :true, class: "btn btn-xs btn-#{ bill_history.status  ? 'success' : 'warning' }"} %> </td>
                        <% else%>
                          <td <%= bill_history.id %>"> <%= "#{ bill_history.status ? 'Paid' : 'Oustanding' }" %> </td>
                        <% end %>
                        <td ><%= link_to 'Delete', delete_bill_record_path(:created_at => bill_history.created_at),
                {class:'"btn btn-info btn-sm btn3d"', data: { confirm: "Do you want to delete this record?" }}%></td>
                        <td><%= link_to 'Print', print_bill_path(:id => bill_history.id, format: "pdf" ),
    target: "_blank" %>
                        </td>
                      </tr>
                    <% end %>
                    <!---- FOR MEDICATIONS -->
                    <% @bill_histories_for_med.each do |bill_history| %>
                      <tr>
                        <td><%= bill_history.other_names + " " + bill_history.surname %></td>
                        <td><%= bill_history.item_name %></td>
                        <td><%= bill_history.quantity %></td>
                        <td><%= bill_history.price %></td>
                        <td><%= bill_history.created_at.strftime("%B %d, %Y, %H:%M") %></td>
                        <% if current_user.role_id == 8 %>
                          <td class="bill_history-<%= bill_history.id %>"> <%= link_to "#{ bill_history.status ? 'Paid' : 'Oustanding' }", outstanding_path(:id => bill_history.id),{remote: :true, class: "btn btn-xs btn-#{ bill_history.status  ? 'success' : 'warning' }"} %> </td>
                        <% else%>
                          <td <%= bill_history.id %>"> <%= "#{ bill_history.status ? 'Paid' : 'Oustanding' }" %> </td>
                        <% end %>
                        <td ><%= link_to 'Delete', delete_bill_record_path(:created_at => bill_history.created_at),
                {class:'"btn btn-info btn-sm btn3d"', data: { confirm: "Do you want to delete this record?" }}%></td>
                        <td><%= link_to 'Print', print_bill_path(:id => bill_history.id, format: "pdf" ),
    target: "_blank" %>
                        </td>
                      </tr>
                    <% end %>
                  </tbody>
                </table>
                <%= 'Amount Due = GHC ' %>
                <%= @total  %>
                <br>
              </div>
            </div>
            <center>
              <%= link_to "Print All Receipt",
    view_reciept_path(:id => @bill_histories[0].patient_id, format: "pdf"),
    target: "_blank",
    class: "btn btn-danger btn-sm"%>
            </center>
          </section>
        </section>
      </main>
