<section id="main-content">
	<section class="wrapper">

		<div class="row">
			<div class="col-md-8 col-md-offset-2">
				<table class="custab table table-striped table-hover table-bordered">

					<div  >
						<b>
						<p>
							BILL Results
						</p></b>
					</div>

					<td style="background-color:rgba(110, 129, 149, 0.96);color:#fbfbff">Test Results</td>
					<td style="background-color:rgba(251, 251, 255, 0.96);color:#000000"><%#=.results%></td>

					</tr>
					<tr>

				</table>

			</div>
		</div>

	</section>
</section >

