<body class="sidebar-dark">
  <div class="main-wrapper">
    <div class="page-wrapper">
      <div class="page-content">
        <%= simple_form_for(@dispensary) do |f| %>
              <%= f.error_notification %>
              <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>

              <div class="form-inputs" style="margin-left: -175px;margin-top: -85px;">
                  <div class="rowe">
                    <div class="col-sm-6">
                      <div class="form-group">
                        <%= f.input :assigned_requests_id %>
                      </div>
                    </div>
                  </div>

                  <div class="rowe">
                    <div class="col-sm-6">
                      <div class="form-group">
                        <%= f.input :status %>
                      </div>
                    </div>
                  </div>

                  <div class="row">
                    <div class="col-sm-6">
                      <div class="form-group" style="display:flex;">
                        <%= f.input :comments %>
                      </div>
                    </div>
                  </div>

                <div class="date_disp" style="margin-top: 11px;">
                  <p style="font-size:0.875rem;"> Date Dispensed</p>
                    <div class="d-flex align-items-center flex-wrap text-nowrap">
                      <div class="input-group date datepicker dashboard-date mr-2 mb-2 mb-md-0 d-md-none d-xl-flex" id="dashboardDate">
                        <span class="input-group-addon bg-transparent">
                          <i data-feather="calendar" class=" text-primary"></i>
                            <%=f.input :date_dispensed, as: :string, :label => false %>
                        </span>
                      </div>
                    </div>
                </div>
              </div>

              <div class="form-actions" style="margin-top: 50px;">
                <button type="button" class ="btn btn-success">
                  <i class="btn-icon-prepend" data-feather="check-square"></i>
                  <%= f.button :submit %>
                </button>
              </div>
          <% end %>
      </div>
    </div>
  </div>
</body>
