<body class="sidebar-dark">
  	<div class="main-wrapper">
      <div class="page-wrapper">
        	<div class="page-content">
<p id="notice"><%= notice %></p>

<div class="col-lg-7 col-xl-8 stretch-card">
            <div class="card-req">
              <div class="card-body-special">
                <div class="d-flex justify-content-between align-items-baseline mb-2">
                  <h6 class="card-title mb-0">Dispensary</h6>
                  <div class="dropdown mb-2">
                    <button class="btn p-0" type="button" id="dropdownMenuButton7" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                      <i class="icon-lg text-muted pb-3px" data-feather="more-horizontal"></i>
                    </button>
                    <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenuButton7">
                      <a class="dropdown-item d-flex align-items-center" href="#"><i data-feather="eye" class="icon-sm mr-2"></i> <span class="">View</span></a>
                      <a class="dropdown-item d-flex align-items-center" href="#"><i data-feather="edit-2" class="icon-sm mr-2"></i> <span class="">Edit</span></a>
                      <a class="dropdown-item d-flex align-items-center" href="#"><i data-feather="trash" class="icon-sm mr-2"></i> <span class="">Delete</span></a>
                      <a class="dropdown-item d-flex align-items-center" href="#"><i data-feather="printer" class="icon-sm mr-2"></i> <span class="">Print</span></a>
                      <a class="dropdown-item d-flex align-items-center" href="#"><i data-feather="download" class="icon-sm mr-2"></i> <span class="">Download</span></a>
                    </div>
                  </div>
                </div>
                <div class="table-responsive">
                  <table class="table table-hover mb-0">
                    <thead>
                      <tr>
                          <th>Item Name</th>
                          <th>Status</th>
                          <th>Comments</th>
                          <th>Date dispensed</th>
                      </tr>
                    </thead>
                    <tbody>

                        <% @dispensary.each do |dispensary| %>
                        <tr class="tdd">
                         <tr>
                            <td><%= dispensary.dispensary_status%></td>
                            <td><%= dispensary.dispensary_comments %></td>
                            <td><%= dispensary.date_dispensed %></td>
                            <td><%= link_to 'dispense', confirm_dispense_path,{:remote => true, 'data-toggle' =>  "modal", 'data-target' => '#modal-window', class: 'btn btn-primary btn-lg'} %></td>
                            <td><%= link_to 'Show', dispensary %></td>
                            <td><%= link_to 'Edit', edit_dispensary_path(dispensary) %></td>
                            <td><%= link_to 'Destroy', dispensary, method: :delete, data: { confirm: 'Are you sure?' } %></td>
                          </tr>
                        </tr>
                    </tbody>

                    <% end %>
                  </table>
                </div>
              </div>
            </div>
          </div>
        </div>
<br>

<%= link_to 'New Dispensary', new_dispensary_path %>

</div>
</div>
</div>
</body>


<div id="myModal" class="modal fade" role="dialog">
                      	<div class="modal-dialog">
                      		<div class="modal-content">
                      			<div class="modal-header">
                      				<button type="button" class="close" data-dismiss="modal">
                      					&times;
                      				</button>
                      				<h4 class="modal-title"> Book appointment</h4>
                      			</div>
                      			<div class="modal-body" id = 'patient_form'>
                      				<%= render "confirm_dispense" %>
                      			</div>

                      		</div>

                      	</div>
                      </div>
