<body class="sidebar-dark">
  	<div class="main-wrapper">
      <div class="page-wrapper">
        	<div class="page-content">
			<button type="button" class="btn btn-primary">
					<%= link_to 'Back',dispensing_path %>
			</button>

			<%= render 'form', dispensary: @dispensary %>
</div>
</div>
</body>
