<body class="sidebar-dark">
  	<div class="main-wrapper">
      <div class="page-wrapper">
        	<div class="page-content">

<p id="notice"><%= notice %></p>

<p>
  <strong>Assigned requests:</strong>
  <%= @dispensary.assigned_requests_id %>
</p>

<p>
  <strong>Status:</strong>
  <%= @dispensary.status %>
</p>

<p>
  <strong>Comments:</strong>
  <%= @dispensary.comments %>
</p>

<p>
  <strong>Date dispensed:</strong>
  <%= @dispensary.date_dispensed %>
</p>

<%= link_to 'Edit', edit_dispensary_path(@dispensary) %> |
<%= link_to 'Back', dispensaries_path %>
</div>
</div>
</div>
</body>
