<style>
  .blocktext {
      margin-left: auto;
      margin-right: auto;
  
      margin: 0;
    position: relative;
    left: 50%;
    margin-right: -50%;
  }
</style>
<main>
  <section id="main-content">
    <section class="wrapper">
      <div class="row">
        <div class="col-12">
          <h1 class="blocktext">Categories  <%= link_to  '<i class="fa fa-fw fa-upload"></i> &nbsp; Import CSV file'.html_safe,import_csv_file_path, {:remote => true, :class => "btn btn-primary btn-sm" ,'data-toggle' =>  "modal", 'data-target' => '#myModal'} %></h1>
          <div class="">
            <div>
              <div class="separator mb-5"></div>
            </div>
          </div>
          <div class="row mb-12">
            <div class="col-12 mb-12">
              <div class="card">
                <div class="card-body">
                  <div class="table-responsive bs-example widget-shadow">
                    <table class="table table-bordered">
                      <thead>
                        <tr>
                          <th>Service name</th>
                          <th>Price</th>
                          <th>Insurance Price</th>
                          <th>Category</th>
                          <th>Quantifiable</th>
                          <th colspan="3"></th>
                        </tr>
                      </thead>
                      <tbody>
                        <% @services_inventories.each do |services_inventory| %>
                          <tr>
                            <td><%= services_inventory.service_name %></td>
                            <td><%= services_inventory.price %></td>
                            <td><%= services_inventory.insurance_price %></td>
                            <td><%= services_inventory.a_category.category_name if services_inventory.a_category %></td>
                            <td><%= services_inventory.quantifiable %></td>
                            <td><%= link_to 'Show', services_inventory %></td>
                            <td><%= link_to 'Edit', edit_services_inventory_path(services_inventory) %></td>
                            <td><%= link_to 'Destroy', services_inventory, method: :delete, data: { confirm: 'Are you sure?' } %></td>
                          </tr>
                        <% end %>
                      </tbody>
                    </table>
                    <br>
                    <%= link_to 'New Services inventory', new_services_inventory_path , class:'btn btn-success'%>
                    <br>
                  </div>
                </div>
              </div>
            </section>
          </section>
        </main>
        <div id="myModal" class="modal fade" role="dialog">
          <div class="modal-dialog">
            <!-- Modal content-->
            <div class="modal-content">
              <div class="modal-header">
                <h4 class="modal-title">Import CSV File</h4>
                <button type="button" class="close" data-dismiss="modal">
                  &times;
                </button>
              </div>
              <div class="modal-body">
                <%= render "import_csv_file" %>
              </div>
            </div>
          </div>
        </div>
