<%= simple_form_for(@dispensary, url: custom_dispense_path) do |f| %>
  <div class="row">
    <div class="col-md-12 col-md-offset-0">
      <table class="custab table table-striped table-hover table-bordered">
        <br>
        <br>
        <br>
        <div>
          <table class="table" ui-jq="footable" ui-options='{
            "paging": {
              "enabled": true
            },

            "filtering": {
              "enabled": true
            },
              
            "sorting": {
              "enabled": true
            }}'>
            <button type="button" id="medcheck-button" class="btn btn-success" style="float: left; color:white;">Check All</button>
            <thead>
              <tr>
                <th></th>
                <th>No</th>
                <th>Order</th>
                <th>Quantity</th>
                <th>Dosage</th>
                <th>Date</th>
                <th colspan="3"></th>
              </tr>
            </thead>
            <tbody>
              <% count=1 %>
              <% @medication_requests.each do |medication_request| %>
                <tr>
                  <td ><%= check_box_tag "medication_request[id][]", checked_value = medication_request.id  %> </td>
                  <td><%= count %></td>
                  <td><%= medication_request.item_name %></td>
                  <td><%= medication_request.drug_quantity %></td>
                  <td><%= medication_request.dosage %></td>
                  <td><%= medication_request.created_at.strftime("%B %d, %Y %H:%M")%></td>
                  <td class="medication_request-<%= medication_request.id %>">
                    <%= link_to "#{ medication_request.status ? 'Closed' : 'Close Order' }",  close_med_request_path(:id => medication_request.id),
                    {remote: :true, class: "btn btn-xs btn-#{ medication_request.status  ? 'success' : 'warning' }" } %>
                  </td>
                  <td>
                    <%= link_to 'Delete', delete_med_record_path(:created_at => medication_request.created_at),
                    {class:'"btn btn-info btn-sm btn3d"', data: { confirm: "Do you want to delete this record?" }}%>
                  </td>
                </tr>
                <% count=count+1 %>
              <% end %>
              <% @medication_requests_old.each do |medication_request| %>
                <tr>
                  <td ><%= check_box_tag "medication_request[id][]", checked_value = medication_request.id  %> </td>
                  <td><%= count %></td>
                  <td><%= medication_request.service_name %></td>
                  <td><%= medication_request.drug_quantity %></td>
                  <td><%= medication_request.dosage %></td>
                  <td><%= medication_request.created_at.strftime("%B %d, %Y %H:%M")%></td>
                  <td class="medication_request-<%= medication_request.id %>">
                    <%= link_to "#{ medication_request.status ? 'Closed' : 'Close Order' }",  close_med_request_path(:id => medication_request.id),
                    {remote: :true, class: "btn btn-xs btn-#{ medication_request.status  ? 'success' : 'warning' }" } %>
                  </td>
                  <td>
                    <%= link_to 'Delete', delete_med_record_path(:created_at => medication_request.created_at),
                    {class:'"btn btn-info btn-sm btn3d"', data: { confirm: "Do you want to delete this record?" }}%>
                  </td>
                </tr>
                <% count=count+1 %>
              <% end %>
            </tbody>
          </table>
        </div>
      </table>
    </div>
    <%= f.button :submit, 'dispense', disabled: true, :id=>'dispenseSubmit', class: 'btn-success' %>
  </div>
<% end %>
<center>
  <%= link_to "Show Previous Medication Orders",
    previous_medication_path(:id => @patient_id),{class: "btn btn-info btn-sm"}%>
</center>
<script>
  var sendbtn = document.getElementById('dispenseSubmit');
  
  $('#medcheck-button').on("click", function(){
    var cbxs = $('input[type="checkbox"]');
  
    var a =  cbxs.prop("checked", !cbxs.prop("checked"));
  
    //checking if cbx is checked
    if ((cbxs).is(":checked") ){
      console.log('a passed')
      sendbtn.disabled = false;
    }
  
    else{
      console.log('a didnt pass')
      sendbtn.disabled = true;
    }
  
  });
  
  
  $('input:checkbox').change(function(){
  
    var len= document.querySelectorAll('input[type=checkbox]:checked').length
    console.log(len + " lebgthhhhhh")
  
    if(len > 0) {
  
      console.log('working oayyy')
      sendbtn.disabled = false;
  
    }
    else {
      console.log('working 2cc')
      sendbtn.disabled = true;
  
    }
  });
</script>
<!-- <script>

 var sendbtn = document.getElementById('dispenseSubmit');
  $('#medcheck-button').on(
      "click", function(){
      var cbxs = $('input[type="checkbox"]');
    var a =  cbxs.prop("checked", !cbxs.prop("checked"));
  
  //checking if cbx is checked
    if ((cbxs).is(":checked") ){
       console.log('a passed')
       sendbtn.disabled = false;
    }

    else{
      console.log('a didnt pass')
       sendbtn.disabled = true;
    }
      
      });
  

   $('input:checkbox').change(function(){

     var len= document.querySelectorAll('input[type=checkbox]:checked').length

     console.log(len + " lebgthhhhhh")

    if($(this).is(":checked")) {
      console.log('working first')
      sendbtn.disabled = false;


      
      
    }else if(len > 0) {

      console.log(len + " 2 -- lebgthhhhhh")

          console.log('working secondly')
          sendbtn.disabled = false;
        
      }
     else {
          console.log('working 2cc')
          sendbtn.disabled = true;
        
      }
    
  
});
  
  

</script>
 -->
