<style>
  .blocktext {
      margin-left: auto;
      margin-right: auto;
  
      margin: 0;
    position: relative;
    left: 50%;
    margin-right: -50%;
  }
</style>
<main>
  <section id="main-content">
    <section class="wrapper">
      <div class="row">
        <div class="col-12">
          <h1 class="blocktext">Medication Orders</h1>
          <div class="separator mb-5"></div>
        </div>
      </div>
      <div class="row mb-4">
        <div class="col-12 mb-4">
          <div class="card">
            <div class="card-body">
              <div class="table-responsive bs-example widget-shadow">
                <table class="table table-bordered">
                  <thead>
                    <tr>
                      <th>Patient</th>
                      <th>Order Date</th>
                      <th colspan="3"></th>
                    </tr>
                  </thead>
                  <tbody>
                    <% @medication_temps.each do |medication_temp| %>
                      <tr>
                        <td><%= link_to medication_temp.other_names.upcase + " " + medication_temp.surname.upcase , open_med_temp_path(:id => medication_temp.patient_id),{:remote => true,'data-toggle' =>  "modal",'data-target' => '#myModal'} %></td>
                        <td><%= medication_temp.created_at.strftime("%B %d, %Y, %H:%M") %></td>
                      </tr>
                    <% end %>
                  </tbody>
                </table>
                <center>
                  <div class="blocktext">
                    <%= will_paginate @medication_temps %>
                  </div>
                </center>
                <br>
              </div>
            </div>
          </section>
        </section>
      </main>
      <div id="myModal" class="modal fade" role="dialog">
        <div class="modal-dialog" id="modal-dialog">
          <div class="modal-content"  id="modal-size"  >
            <div class="modal-header">
              <h4 class="modal-title"> Medication Orders</h4>
              <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
            <div class="modal-body" id = 'hi'>
              <%#= render "assign_lab" %>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
          </div>
        </div>
      </div>
