$("#hi").html("<%= escape_javascript(render 'medication_temps/open_med_temp') %>");
$("#modal-window").html("<%= escape_javascript(render 'medication_temps/open_med_temp') %>");
 $('#modal-window').modal('show');