<style>
  .blocktext {
      margin-left: auto;
      margin-right: auto;
  
      margin: 0;
    position: relative;
    left: 50%;
    margin-right: -50%;
  }
</style>
<main>
  <section id="main-content">
    <section class="wrapper">
      <div class="row">
        <div class="col-12">
          <h1 class="blocktext">Previous Medication</h1>
          <div class="separator mb-5"></div>
        </div>
      </div>
      <div class="row mb-4">
        <div class="col-12 mb-4">
          <div class="card">
            <div class="card-body">
              <div class="table-responsive bs-example widget-shadow">
                <table class="table table-bordered">
                  <thead>
                    <tr>
                      <th>No</th>
                      <th>Order</th>
                      <th>Quantity</th>
                      <th>Dosage</th>
                      <th>Date</th>
                      <th colspan="3"></th>
                    </tr>
                  </thead>
                  <tbody>
                    <% count=1 %>
                    <% @medication_requests_new.each do |medication_request| %>
                      <tr>
                        <td><%= count %></td>
                        <td><%= medication_request.item_name %></td>
                        <td><%= medication_request.drug_quantity %></td>
                        <td><%= medication_request.dosage %></td>
                        <td><%= medication_request.created_at.strftime("%B %d, %Y %H:%M")%></td>
                        <td class="medication_request-<%= medication_request.id %>">
                          <%= link_to "#{ medication_request.status ? 'Closed' : 'Close Order' }", close_med_request_path(:id => medication_request.id),{remote: :true, class: "btn btn-xs btn-#{ medication_request.status  ? 'success' : 'warning' }"} %>
                        </td>
                        <td ><%= link_to 'Delete', delete_med_record_path(:created_at => medication_request.created_at),
                {class:'"btn btn-info btn-sm btn3d"', data: { confirm: "Do you want to delete this record?" }}%></td>
                      </td>
                    </tr>
                    <% count=count+1 %>
                  <% end %>
                  <% @medication_requests.each do |medication_request| %>
                    <tr>
                      <td><%= count %></td>
                      <td><%= medication_request.service_name %></td>
                      <td><%= medication_request.drug_quantity %></td>
                      <td><%= medication_request.dosage %></td>
                      <td><%= medication_request.created_at.strftime("%B %d, %Y %H:%M")%></td>
                      <td class="medication_request-<%= medication_request.id %>">
                        <%= link_to "#{ medication_request.status ? 'Closed' : 'Close Order' }", close_med_request_path(:id => medication_request.id),{remote: :true, class: "btn btn-xs btn-#{ medication_request.status  ? 'success' : 'warning' }"} %>
                      </td>
                      <td ><%= link_to 'Delete', delete_med_record_path(:created_at => medication_request.created_at),
                {class:'"btn btn-info btn-sm btn3d"', data: { confirm: "Do you want to delete this record?" }}%></td>
                    </td>
                  </tr>
                  <% count=count+1 %>
                <% end %>
              </tbody>
            </table>
            <br>
          </section>
        </section>
      </main>
