<style>
  .blocktext {
      margin-left: auto;
      margin-right: auto;
  
      margin: 0;
    position: relative;
    left: 50%;
    margin-right: -50%;
  }
</style>
<main>
  <section id="main-content">
    <section class="wrapper">
      <fieldset>
        <div class="row2 col-md-8 col-md-offset-1 custyle">
          <div class="row2">
            <div class="container">
              <div class="card-container.card"
						<div class="col-md-10  col-md-offset-1">
                <div class="search-container">
                  <div class="radios-n-fields">
                    <%=form_tag test_results_path, method: :get, input_html:{display:"block"} do %>
                      <div class="col-md-5  col-md-offset-0">
                        <div class="radio_div">
                          <div class="pull-left"><input id="card_no" type="radio" name="search_param" value="card_no" style="width:
						auto;" />Patient No &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</div>
                          <div class="pull-left"><input id="mobile_number" type="radio" name="search_param" value="mobile_number" style="width:
						auto;" />Mobile Number &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</div>
                          <div class="pull-left"><input id="name" type="radio" name="search_param" value="name" style="width:
						auto;" />Name &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</div>
                          <!-- <div class="pull-left"><input id="date" type="radio" name="search_param" value="date" style="width: auto;"/>Filter by date &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</div> -->
                          <div class="pull-left">  <input id="search-field" class="form-control hidden2" name="search_value"/></div>
                          <div id="date_div" class="hidden">
                            <div class='input-group date col-md-6' id='datetimepicker6'>
                              <input type="text" class="input-group date form-control" name="start_date" id="date-field" placeholder="Start date "/>
                              <span class="input-group-addon"> <span class="glyphicon glyphicon-calendar"></span> </span>
                            </div>
                            <div class='input-group date col-md-6' id='datetimepicker7'>
                              <input type="text" class="input-group date form-control" name="end_date" id="date-field2" placeholder="End date "/>
                              <span class="input-group-addon"> <span class="glyphicon glyphicon-calendar"></span> </span>
                            </div >
                          </div>
                          <div class="pull-left">  <input type="submit" id="search-field2" class="form-control hidden2" value="Search" class="btn btn-primary"></div>
                        </div>
                      </div>
                    </div>
                  <% end %>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </fieldset>
  <div class="row">
    <div class="col-12">
      <h1 class="blocktext"> Test Results</h1>
      <div class="separator mb-5"></div>
    </div>
  </div>
  <div class="row mb-4">
    <div class="col-12 mb-4">
      <div class="card">
        <div class="card-body">
          <div class="table-responsive bs-example widget-shadow">
            <table class="table table-bordered">
              <thead>
                <tr>
                  <th>Patient No</th>
                  <th>Patient</th>
                  <th>Lab Ordered</th>
                  <th>Date</th>
                  <th colspan="3"></th>
                </tr>
              </thead>
              <tbody>
                <% count=1 %>
                <% @test_results.each do |test_result| %>
                  <tr>
                    <td><%= test_result.card_no %></td>
                    <td><%= test_result.other_names + " " +  test_result.surname %></td>
                    <td><%= test_result.service_name %></td>
                    <td><%= test_result.created_at %></td>
                    <% if test_result.avafile.attached? %>
                      <td class='"btn btn-warning btn-sm btn3d"'>
                        <%= link_to "View Result", rails_blob_path(test_result.avafile, disposition: "attachment") %>
                      </td>
                    <% end %>
                    <% if test_result.document? %>
                      <td class='"btn btn-info btn-sm btn3d"'> <%= link_to "Old Lab Results", test_result.document.url, target: "_blank" %></td>
                    <% end %>
                  </tr>
                  <% count=count+1 %>
                <% end %>
              </tbody>
            </table>
            <center>
              <div class="blocktext">
                <%= will_paginate @test_results %>
              </div>
            </center>
          </div>
        </div>
      </section>
    </section>
  </main>
  <div id="myModal1" class="modal fade" role="dialog">
    <div class="modal-dialog">
      <div class="modal-content" >
        <div class="modal-header">
          <h4 class="modal-title"> Enter Test Results</h4>
          <button type="button" class="close" data-dismiss="modal">&times;</button>
        </div>
        <div class="modal-body" id = 'hii'>
          <%#= render "enter_results" %>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>
