<p id="notice"><%= notice %></p>

<p>
  <strong>Patient:</strong>
  <%= @test_result.patient_id %>
</p>

<p>
  <strong>User:</strong>
  <%= @test_result.user_id %>
</p>

<p>
  <strong>Status:</strong>
  <%= @test_result.status %>
</p>

<p>
  <strong>Results:</strong>
  <%= @test_result.results %>
</p>

<%= link_to 'Edit', edit_test_result_path(@test_result) %> |
<%= link_to 'Back', test_results_path %>
