<%# 
  <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
  <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script> %>
<div class="table-agile-info">
  <% if (defined?(@edit_documents1)).nil? %>
  <% else  %>
    <%= simple_form_for(@edit_documents, :url => {:remote => true,:controller => 'clinic_documents', :action => 'update_clinic_documents', :created_at => @created_at}) do |f| %>
      <%= f.error_notification %>
      <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>
      <br>
      <div >
        <%= f.input :complaints, label: "Complaints ", as: :text, input_html: {  rows: "4" ,value: @complaints} %>
      </div>
      <div >
        <div >
          <%= f.input :history_complaints, label: "History of presenting complaints ", as: :text, input_html: {  rows: "4" , value: @history_complaints} %>
        </div>
        <div >
          <%= f.input :direct_question, label: "Direct Questioning ", as: :text, input_html: {  rows: "4" , value: @direct_question} %>
        </div>
        <div >
          <%= f.input :systems_review, label: "System Review ", as: :text, input_html: {  rows: "4" , value: @systems_review} %>
        </div>
        <div>
          <%= f.input :med_history, label: "Past Medicals/Surgical/Drug History", as: :text, input_html: {  rows: "4" , value: @med_history} %>
        </div>
        <div>
          <%= f.input :symptoms, label: "Family History", as: :text, input_html: {  rows: "4" , value: @symptoms} %>
        </div>
        <div >
          <%= f.input :social_history, label: "Social History", as: :text, input_html: {  rows: "4" , value:
     @social_history} %>
        </div>
        <div >
          <%= f.input :allergies, label: "Allergies", as: :text, input_html: {  rows: "4" , value: @allergies} %>
        </div>
        <div >
          <%= f.input :vital_signs, label: "Vital Signs", as: :text, input_html: {  rows: "4" , value:  @vital_signs} %>
        </div>
        <div >
          <%= f.input :clinic_exams, label: "Clinic Examamination", as: :text, input_html: {  rows: "4",value:  @clinic_exams } %>
        </div>
        <div >
          <%= f.input :final_diagnosis, label: "Final Diagnosis", as: :text, input_html: {  rows: "4" , value:  @final_diagnosis} %>
        </div>
        <div >
          <%= f.input :investigations, label: "Investigations", as: :text, input_html: {  rows: "4", value:  @investigations } %>
        </div>
        <div >
          <%= f.input :treatment_plans, label: "Treatment Plans",as: :text, input_html: {  rows: "4",value:  @treatment_plans  } %>
        </div>
        <div class="form-inputs">
          <%= f.input :patient_id, :as=> :hidden,input_html: {value: @patient_id} %>
          <% logger.info "Rnning" %>
          <% logger.info "patient in index: #{@patient_id}" %>
        </div>
        <center>
          <div class="form-actions">
            <%= f.submit "Update Clinical Document" ,:class => "btn btn-primary btn-sm"%>
          </div>
        </center>
      <% end %>
    <% end  %>
  </div>
