<div class="table-agile-info">
  <%= simple_form_for @nurse_procedure do |f| %>
    <%= f.error_notification %>
    <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>
    <div class="input-row">
      <div class="input-width" >
        <div class="row">
          <div class="col-sm-12">
            <table class="table data-table table-hover dataTable no-footer dtr-inline" id="DataTables_Table_0" role="grid" aria-describedby="DataTables_Table_0_info">
              <thead>
                <tr role="row">
                  <th style="width: 154px;" class="sorting" tabindex="0" aria-controls="DataTables_Table_0" rowspan="1" colspan="1" aria-label="Group Name: activate to sort column ascending"></th>
                  <th style="width: 157px;" class="sorting" tabindex="0" aria-controls="DataTables_Table_0" rowspan="1" colspan="1" aria-label="Action: activate to sort column ascending"> Procedure</th>
                  <th style="width: 157px;" class="sorting" tabindex="0" aria-controls="DataTables_Table_0" rowspan="1" colspan="1" aria-label="Action: activate to sort column ascending"> Cost</th>
                  <th style="width: 157px;" class="sorting" tabindex="0" aria-controls="DataTables_Table_0" rowspan="1" colspan="1" aria-label="Action: activate to sort column ascending"> Qty</th>
                </tr>
              </thead>
              <tbody>
                <% @services_inventories.each do |service| %>
                  <tr>
                    <td><%= check_box_tag("service_id[]",checked_value = service.id) %> </td>
                    <td><%= service.service_name %></td>
                    <td><%= service.price %></td>
                    <%#= f.input :quantity,input_html:{multiple: true, value: f.object.quantity  } %>
                    <td id="quantity_use"><%= f.input :quantity, autofocus: true, input_html: { multiple:true},  label:false, placeholder: "1" %>
                      <span class="error_form" id="quantity_error_message"></span>
                    </td>
                  </tr>
                <% end %>
              </tbody>
            </table>
          </div>
        </div>
      </div>
      <div >
        <%= f.input :complaints, label: "Complaints/Nurse Notes/Comments", as: :text, input_html: {  rows: "4" } %>
      </div>
      <div class="form-inputs">
        <%= f.input :user_id, :as=> :hidden,input_html: {value: current_user.id} %>
        <% logger.info "role in index: #{current_user.role_id}" %>
      </div>
      <div class="form-inputs">
        <% if (defined?(@patient_id)).nil? %>
          <%= f.input :patient_id,:as=> :hidden %>
          <% logger.info "patient is nil" %>
        <% else  %>
          <%= f.input :patient_id, :as=> :hidden,input_html: {value: @patient_id} %>
          <% logger.info "patient in index: #{@patient_id}" %>
        </div>
        <div class="form-inputs">
          <%= f.input :status, :as=> :hidden, input_html: {value: 1 } %>
        </div>
        *Make sure non-quantitative procedures checked has atleast a quantity of 1 before submitting
        <center>
          <div class="form-actions">
            <%= f.submit "Submit Procedures",:class => "btn btn-primary btn-sm" %>
          </div>
        </center>
      <% end %>
    <% end %>
  </div>
</div>
<script>
  $('input:checkbox').change(function(){
  
    var myInput;
  
    checkId = $(this).val();
  
    $('input#nurse_procedure_quantity').on('change keyup blur focusout', function(){
      myInput = $(this).val();
  
      console.log(`My checkbox id is ---- ${checkId} and My value is ---- ${myInput}`);
  
  
      $.ajax({
        type:"POST",
          url:"/update_qtytemp",
          dataType:"json",
          data: {
            id: checkId,
            quantityvalue: myInput
          },
  
        })
     });
  })
</script>
