<style>
  .content{
    /* word-wrap:break-word; old browsers */
    /* overflow-wrap:break-word; */
    /* word-break: break-all; */
    white-space: normal !important;
  }
  
  
  
  .overflow-wrap-hack{
    max-width:1px;
  }
</style>
<div class="row2">
  <div class="col-md-12 col-md-offset-0">
    <table class="custab table table-striped table-hover table-bordered">
      <div class="row2">
        <% if (defined?(@blood_pressure)).nil? %>
        <% else  %>
          <div class="cent"  ><b>
              <p>Basic Medical Records</p>
            </b></div>
          <div class="column"  >
            <p>Blood Pressure: <%= @blood_pressure %></p>
          </div>
          <div class="column">
            <p>Respiratory Rate: <%= @respiratory %></p>
          </div>
          <div class="column">
            <p>Pulse: <%= @pulse %></p>
          </div>
          <div class="column">
            <p>Temperature: <%= @temperature %></p>
          </p>
        </div>
        <div class="column">
          <p>Oxygen Saturation: <%= @saturation %></p>
        </p>
      </div>
      <div class="column">
        <p>Weight: <%= @weight %></p>
      </p>
    </div>
    <div class="column">
      <p>Height: <%= @height %></p>
    </p>
  </div>
<% end %>
</div>
<% if (defined?(@documents)).nil? %>
<% else  %>
  <tr class="content">
    <td class="content" style="background-color:rgba(110, 129, 149, 0.96);color:#fbfbff; overflow-wrap: break-word;">Complaints</td>
    <td class="content" style="background-color:rgba(251, 251, 255, 0.96);color:#000000; ;"><%=   @documents[0].complaints %></td>
  </tr>
  <tr>
    <td style="background-color:rgba(110, 129, 149, 0.96);color:#fbfbff">history of presenting complaints</td>
    <td style="background-color:rgba(251, 251, 255, 0.96);color:#000000"><%=   @documents[0].history_complaints %></td>
  </tr>
  <tr>
    <td style="background-color:rgba(110, 129, 149, 0.96);color:#fbfbff">Direct Questioning</td>
    <td style="background-color:rgba(251, 251, 255, 0.96);color:#000000"><%=   @documents[0].direct_question %></td>
  </tr>
  <tr>
    <td style="background-color:rgba(110, 129, 149, 0.96);color:#fbfbff">Systems Review</td>
    <td style="background-color:rgba(251, 251, 255, 0.96);color:#000000"><%=   @documents[0].systems_review %></td>
  </tr>
  <tr>
    <td style="background-color:rgba(110, 129, 149, 0.96);color:#fbfbff">Past Medicals/Surgical/Drug History</td>
    <td style="background-color:rgba(251, 251, 255, 0.96);color:#000000"><%=   @documents[0].med_history %></td>
  </tr>
  <tr>
    <td style="background-color:rgba(110, 129, 149, 0.96);color:#fbfbff">Family History</td>
    <td style="background-color:rgba(251, 251, 255, 0.96);color:#000000"><%=   @documents[0].symptoms %></td>
  </tr>
  <tr>
    <td style="background-color:rgba(110, 129, 149, 0.96);color:#fbfbff">Social History</td>
    <td style="background-color:rgba(251, 251, 255, 0.96);color:#000000"><%=   @documents[0].social_history %></td>
  </tr>
  <tr>
    <td style="background-color:rgba(110, 129, 149, 0.96);color:#fbfbff">Allergies</td>
    <td style="background-color:rgba(251, 251, 255, 0.96);color:#000000"><%=   @documents[0].allergies %></td>
  </tr>
  <tr>
    <td style="background-color:rgba(110, 129, 149, 0.96);color:#fbfbff">Vital Signs</td>
    <td style="background-color:rgba(251, 251, 255, 0.96);color:#000000;word-break: break-all;white-space: normal !important;"><%=   @documents[0].vital_signs%></td>
  </tr>
  <td style="background-color:rgba(110, 129, 149, 0.96);color:#fbfbff">Clinic Examination</td>
  <td style="background-color:rgba(251, 251, 255, 0.96);color:#000000"><%=  @documents[0].clinic_exams %></td>
</tr>
<tr>
  <td style="background-color:rgba(110, 129, 149, 0.96);color:#fbfbff">Final Diagnosis</td>
  <td style="background-color:rgba(251, 251, 255, 0.96);color:#000000"><%=  @documents[0].final_diagnosis %></td>
</tr>
<tr>
  <td style="background-color:rgba(110, 129, 149, 0.96);color:#fbfbff">Investigations</td>
  <td style="background-color:rgba(251, 251, 255, 0.96);color:#000000"><%=  @documents[0].investigations %></td>
</tr>
<tr>
  <td style="background-color:rgba(110, 129, 149, 0.96);color:#fbfbff" class="overflow-wrap-hack">Treatment Plans</td>
  <div class="content">
    <td style="background-color:rgba(251, 251, 255, 0.96);color:#000000;"><%=  @documents[0].treatment_plans %></td>
  </div>
</tr>
<% end %>
</table>
</div>
</div>
