<script>
  $(document).ready(function(){
      $("#@patient_id").click(function(){
          $("#myModal").modal({
              backdrop: 'static',
              keyboard: false
          });
      });
  });
</script>
<script>
  $(document).ready(function(){
      $(".btn-info").click(function(){
          $("#myModal3").modal({
              backdrop: 'static',
              keyboard: false
          });
      });
  });
</script>
<style>
  .blocktext {
      margin-left: auto;
      margin-right: auto;
  
      margin: 0;
    position: relative;
    left: 50%;
    margin-right: -50%;
  }
</style>
<main>
  <section id="main-content">
    <section class="wrapper">
      <div class="row">
        <div class="gencol2" id='ov_col'>
          <h4 style="text-align: center; margin-top: 20px;"> PERSONAL INFORMATION</h4>
          <div class="">
            <div id="spacee">
              <% if (defined?(@patient_records)).nil? %>
              <% else  %>
                <h4> Name: <span style="font-weight: 300"><%= @patient_records.other_names + " " + @patient_records.surname %></span></h4>
                <h4> Patient No: <span style="font-weight: 300"> <%= @patient_records.card_no %></h4>
                  <h4>Occupation: <span style="font-weight: 300"> <%= @patient_records.occupation %></span></h4>
                  <h4> Address: <span style="font-weight: 300"><%= @patient_records.address %></span></h4>
                <% end %>
              </div>
            </div>
          </div>
          <div class="gencol2" id='ov_col'>
            <h4 style="text-align: center;margin-top: 20px;"> VITALS</h4>
            <div class="">
              <div>
                <div id="spacee">
                  <% if (defined?(@blood_pressure)).nil? %>
                  <% else  %>
                    <h4> Insurance/Cash: <span style="font-weight: 300"><%= @patient_records.insurance_cash %></span></h4>
                    <h4>Blood Pressure: <span style="font-weight: 300"><%= @blood_pressure %></span></h4>
                    <h4>Respiratory Rate: <span style="font-weight: 300"><%= @respiratory %></span></h4>
                    <h4>Pulse: <span style="font-weight: 300"><%= @pulse %></span></h4>
                  <% end %>
                </div>
              </div>
            </div>
          </div>
          <div class="gencol2"  id='ov_col'>
            <h4 style="text-align: center; margin-top: 20px;"> VITALS</h4>
            <div class="">
              <div>
                <div id="spacee">
                  <% if (defined?(@blood_pressure)).nil? %>
                  <% else  %>
                    <h4>Temperature: <span style="font-weight: 300"><%= @temperature %></span></h4>
                    <h4>Oxygen Saturation: <span style="font-weight: 300"> <%= @saturation %></span></h4>
                    <h4>Weight: <span style="font-weight: 300"><%= @weight %></span></h4>
                    <h4> Height: <span style="font-weight: 300"><%= @height %></span></h4>
                    <h4> BMI: <span style="font-weight: 300"><%= @weight.to_f / (@height.to_f/100 * @height.to_f/100) %></span></h4>
                  <% end %>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-12">
            <h1 class="blocktext"> Out-patient Clinical documents </h1>
            <div class="separator mb-5"></div>
          </div>
        </div>
        <div class="row mb-4">
          <div class="col-12 mb-4">
            <div class="card">
              <div class="card-body">
                <div class="table-responsive bs-example widget-shadow">
                  <table class="table table-bordered">
                    <thead>
                      <tr>
                        <th data-breakpoints="xs">No</th>
                        <th>Date </th>
                        <th>Created by</th>
                        <th colspan="3"><%= link_to  'New Clinic Documents', clinic_documentation_path(:id => @patient_id), {:remote => true, :class => "btn btn-primary btn-sm" ,'data-toggle' =>  "modal", 'data-target' => '#myModal', :id=> "disableBackdrop"} %></th>
                      </tr>
                    </thead>
                    <tbody>
                      <% count=1 %>
                      <% @clinic_documents.each do |patient| %>
                        <tr>
                          <td><%= count %></td>
                          <td><%= patient.created_at.strftime("%B %d, %Y, %H:%M") %></td>
                          <td><%= patient.fullname %></td>
                          <td ><%= link_to 'View Documents', view_documentation_path(:id => patient.created_at),{:remote => true, class:'"btn btn-warning btn-sm btn3d"','data-toggle' =>  "modal",'data-target' => '#myModal1'} %></td>
                          <td><%= link_to 'Edit Document', edit_docs_path(:id => patient.created_at),{:remote => true, class:'"btn btn-info btn-sm btn3d"','data-toggle' =>  "modal", 'data-target' => '#myModal3'} %></td>
                        </tr>
                        <% count=count+1 %>
                      <% end %>
                    </tbody>
                  </table>
                  <% if current_user.role_id == 3 %>
                  <%else%>
                    <center>
                      <%= link_to  'New Clinic Documents', clinic_documentation_path(:id => @patient_id), {:remote => true, :class => "btn btn-primary btn-sm" ,'data-toggle' =>  "modal", 'data-target' => '#myModal', :id=> "disableBackdrop"} %>
                    </center>
                  <%end%>
                  <center>
                    <div class="digg_pagination">
                      <%= will_paginate @clinic_documents %>
                    </div>
                  </center>
                </div>
              </div>
            </section>
          </section>
        </main>
        <div id="myModal" class="modal fade" role="dialog">
          <div class="modal-dialog">
            <div class="modal-content"  id="modal-size">
              <div class="modal-header">
                <h4 class="modal-title"> Clinic Document</h4>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
              </div>
              <div class="modal-body" id = 'fii'>
                <%= render "clinic_documentation" %>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
              </div>
            </div>
          </div>
        </div>
        <div id="myModal1" class="modal fade" role="dialog">
          <div class="modal-dialog">
            <div class="modal-content" >
              <div class="modal-header">
                <h4 class="modal-title"> Clinic Document Details</h4>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
              </div>
              <div class="modal-body" id = 'fi'>
                <%= render "view_documentation" %>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
              </div>
            </div>
          </div>
        </div>
        <div id="myModal3" class="modal fade" role="dialog">
          <div class="modal-dialog">
            <div class="modal-content" >
              <div class="modal-header">
                <h4 class="modal-title"> Edit Clinic Document</h4>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
              </div>
              <div class="modal-body" id = 'testt'>
                <%= render "edit_docs" %>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
              </div>
            </div>
          </div>
        </div>
