<p id="notice"><%= notice %></p>

<p>
  <strong>Patient:</strong>
  <%= @assign_patient.patient_id %>
</p>

<p>
  <strong>Role:</strong>
  <%= @assign_patient.role_id %>
</p>

<p>
  <strong>Status:</strong>
  <%= @assign_patient.status %>
</p>

<%= link_to 'Edit', edit_assign_patient_path(@assign_patient) %> |
<%= link_to 'Back', assign_patients_path %>
