$("#fire").html("<%= escape_javascript(render 'assign_patients/view_vitals') %>");
// $("#modal-window").html("<%= escape_javascript(render 'assign_patients/view_vitals') %>");
 $('#modal-window').modal('show');