<style>
  .blocktext {
      margin-left: auto;
      margin-right: auto;
  
      margin: 0;
    position: relative;
    left: 50%;
    margin-right: -50%;
  }
</style>
<main>
  <section id="main-content">
    <section class="wrapper">
      <div class="row">
        <div class="col-12">
          <h1 class="blocktext">Edit</h1>
          <div class="separator mb-5"></div>
        </div>
      </div>
      <div class="row mb-4">
        <div class="col-12 mb-4">
          <div class="card">
            <div class="card-body">
              <div class="table-responsive bs-example widget-shadow">
                <div class="position-center">
                  <%= simple_form_for @user, url: update_user_path do |f| %>
                    <%= f.error_notification %>
                    <div class="panel-body">
                      <div class="position-center">
                        <div class="row2">
                          <%= f.input :username, required: true,input_html:{ class:"form-control",style:"width:100%;float:center;"} %>
                          <%= f.input :fullname, required: true,input_html:{ class:"form-control",style:"width:90%;float:center;"} %>
                          <%#= f.label :fullname, "fullname" %>
                          <%= f.label :email, "Email" %>
                          <br/>
                          <%= f.text_field :email, class:"form-control",style:"width:100%;" %>
                          <%= f.input :password, required: true,input_html:{ class:"form-control",style:"width:100%;float:center;"}, hint: ("#{@minimum_password_length} characters minimum" if @minimum_password_length) %>
                          <%= f.input :password_confirmation, required: true,input_html:{ class:"form-control",style:"width:100%;float:center;"} %>
                          <% if current_user.admin? %>
                            <%= f.association :a_role, collection: Role.all, label_method: :role_name, value_method: :id, include_blank: true, label: "Role:", style:"width:100%;", :input_html => {:class => 'form-control dropdown dropdown-toggle', style:"width:100%;float:center;"} %>
                          <% end %>
                          <br/>
                          <%= f.input :status, :as=> :hidden, input_html: {value: "1"}, class:"form-control" %>
                        </div>
                        <center>
                          <%= f.submit "Update", class: "btn btn-primary", style: "width:auto" %>&nbsp;&nbsp;&nbsp;&nbsp;
                          <%= link_to 'Back', users_path, class: "btn btn-danger", style: "width:auto" %>
                        </center>
                      <% end %>
                    </div>
                  </div>
                </div>
              </div>
            </section>
          </section>
        </main>
