<style>
  .blocktext {
      margin-left: auto;
      margin-right: auto;
  
      margin: 0;
    position: relative;
    left: 50%;
    margin-right: -50%;
  }
</style>
<main>
  <body class="sidebar-dark">
    <div class="main-wrapper">
      <div class="row">
        <div class="col-12">
          <h1 class="blocktext">List of Assigned Items</h1>
          <div class="separator mb-5"></div>
        </div>
      </div>
      <p>
        <%=form_tag assigned_requests_path, method: :get,class:"lus" do %>
          <%= select_tag "category", options_from_collection_for_select(@show_categories, "id", "name")%>
          <%= submit_tag "Search" %>
        <% end %>
      </p>
      <%= simple_form_for(@dispensary, url: confirm_dispense_path, :method => :get, :remote => true) do |f| %>
        <div class="row mb-12">
          <div class="col-12 mb-12">
            <div class="card">
              <div class="card-body">
                <div class="table-responsive bs-example widget-shadow">
                  <table class="table table-bordered">
                    
                    <!-- User ID 5: Pharmacist // User ID 10 : Dispensary technologist -->
                    <% if current_user.role_id == 5 || current_user.role_id == 10 %>
                      <thead>
                        <tr>
                         
                          <th>Item Name</th>
                          <th>Item Category</th>
                          <th>Quantity </th>
                          <th>Selling Price </th>
                          <th>Role</th>
                          <th>Manufacturer </th>
                          <th>Received By </th>
                          <th>Date assigned</th>
                          <th>Comments</th>
                          <th colspan="3"></th>
                        </tr>
                      </thead>
                      <tbody>
                          <% @assigned_requests.each do |assigned_request| %>
                            <tr>
                              
                              <td><%= assigned_request.item_name %></td>
                              <td><%= assigned_request.category_name %></td>
                              <td><%= assigned_request.assigned_quantity %></td>
                              <td><%= assigned_request.selling_price %></td>
                              <td><%= assigned_request.cost_price %></td>
                              <td><%= assigned_request.manufaturer_name %></td>
                              <td><%= assigned_request.users_username %></td>
                              <td><%= assigned_request.assigned_date %></td>
                              <td><%= assigned_request.comments %></td>
                            </tr>
                          <% end %>
                      </tbody>
                    <% else %>
                      <thead>
                        <tr>
                          
                          <th>Item Name</th>
                          <th>Item Category</th>
                          <th>Quantity </th>
                          <th>Received By </th>
                          <th>Date assigned</th>
                          <th>Comments</th>
                          <th colspan="3"></th>
                        </tr>
                      </thead>
                      <tbody>
                          <% @assigned_requests.each do |assigned_request| %>
                            <tr>
                             
                              <td><%= assigned_request.item_name %></td>
                              <td><%= assigned_request.category_name %></td>
                              <td><%= assigned_request.assigned_quantity %></td>
                              <td><%= assigned_request.users_username %></td>
                              <td><%= assigned_request.assigned_date %></td>
                              <td><%= assigned_request.comments %></td>
                            </tr>
                          <% end %>
                      </tbody>
                    <% end %>
                  </table>
                </div>
              </div>
            </div>
          </div>
          <div style="margin-top: 80px;">
            <%= will_paginate @assigned_requests %>
          </div>
         
      
        </div>
      <% end %>
    
    </div>
  </body>
</main>
<script>
  $('#caty-button').on("click", function(){
    var cbxs = $('input[type="checkbox"]');
    cbxs.prop("checked", !cbxs.prop("checked"));
  });
</script>
<!-- Modal Call  -->
<div id="myModal" class="modal fade" role="dialog">
  <div class="modal-dialog">
    <div class="modal-content">
    </div>
  </div>
</div>
