  <style>
  .blocktext {
      margin-left: auto;
      margin-right: auto;
  
      margin: 0;
    position: relative;
    left: 50%;
    margin-right: -50%;
  }
</style>
<main>
  <body class="sidebar-dark">
    <div class="main-wrapper">
      <div class="row">
        <div class="col-12">
          <h1 class="blocktext">Inventory Categories</h1>
          <div class="separator mb-5"></div>
        </div>
      </div>
      <div class="row mb-12">
        <div class="col-12 mb-12">
          <div class="card">
            <div class="caty-caty">
              <button type="button" id="caty-button" class="btn btn-success" style="width:max-content;">
                <%=link_to "Create New Category", new_store_inventory_category_path %>
              </button>
            </div>
            <div class="card-body">
              <div class="table-responsive bs-example widget-shadow">
                <table class="table table-bordered">
                  <thead>
                    <tr>
                      <th class="pt-0">ID</th>
                      <th class="pt-0">Category </th>
                    </tr>
                  </thead>
                  <tbody>
                    <% @store_inventory_categories.each do |inventory_cat| %>
                      <tr class="tdd">
                        <td><%=inventory_cat.id%></td>
                        <td><%=inventory_cat.name%></td>
                        <td><span class="badge badge-warning"><%= link_to 'Edit', edit_store_inventory_category_path(inventory_cat) %></span></td>
                        <td><span class="badge badge-danger"><%= link_to 'Delete', inventory_cat, method: :delete, data: { confirm: 'Are you sure?' } %></span></td>
                      </tr>
                    </tbody>
                  <% end %>
                </table>
                <div style="margin-top:-25px;">
                  <%= will_paginate @store_inventory_categories %>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</body>
</main>
