<style>
  .blocktext {
      margin-left: auto;
      margin-right: auto;
  
      margin: 0;
    position: relative;
    left: 50%;
    margin-right: -50%;
  }
</style>
<main>
  <body class="sidebar-dark">
    <div class="main-wrapper">
      <div class="row">
        <div class="col-12">
          <h1 class="blocktext">Dispensary Technologist</h1>
          <div class="separator mb-5"></div>
        </div>
      </div>
      <div class="row mb-4">
        <div class="col-12 mb-4">
          <div class="card">
            <div class="card-body">
              <div class="table-responsive bs-example widget-shadow">
                <table class="table table-bordered">
                  <thead>
                    <tr>
                      <th class="pt-0">Item Name </th>
                      <th class="pt-0">Quantity </th>
                      <th class="pt-0">Dosage</th>
                      <th class="pt-0">Selling Price </th>
                      <th class="pt-0">Cost Price </th>
                      <th class="pt-0">Client Name </th>
                      <th class="pt-0">Manufacturer Name </th>
                      <th class="pt-0">Date_Dispensed</th>
                    </tr>
                  </thead>
                  <tbody>
                    <% @dispensaries.each do |dispensary| %>
                      <tr>
                        <td style="text-align:center;"><%= dispensary.item_name%></td>
                        <td style="text-align:center;"><%= dispensary.dispensed_quantity%></td>
                        <td style="text-align:center;"><%= dispensary.dosage %></td>
                        <td style="text-align:center;"><%= dispensary.selling_price %></td>
                        <td style="text-align:center;"><%= dispensary.cost_price %></td>
                        <td style="text-align:center;"><%= dispensary.surname + " " + dispensary.other_names %> </td>
                        <td style="text-align:center;"><%= dispensary.manufaturer_name %></td>
                        <td style="text-align:center;"><%= dispensary.dispensed_date %></td>
                      </tr>
                    <% end %>
                  </tbody>
                </table>
              </div>
              <br>
              <%= will_paginate @dispensaries %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</body>
<main>
