<main>
  <div class="container-fluid">
    <div class="row">
      <div class="col-12">
        <h1>Dashboard</h1>
        <nav class="breadcrumb-container d-none d-sm-block d-lg-inline-block" aria-label="breadcrumb">
          <ol class="breadcrumb pt-0">
            <li class="breadcrumb-item">
              <%= link_to "Home ",root_path %>
            </li>
          </ol>
        </nav>
        <div class="separator mb-5"></div>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-4">
        <div class="card mb-4 progress-banner" id="pb1">
          <div class="card-body justify-content-between d-flex flex-row align-items-center">
            <div><i class="iconsminds-stethoscope mr-2 text-white align-text-bottom d-inline-block"></i>
              <div>
                <h3 class="lead text-white">Total Clients</h3>
                <h4 class="lead text-white"><%= @patient_stats %> </h4>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-4">
        <div class="card mb-4 progress-banner" id="pb2">
          <div class="card-body justify-content-between d-flex flex-row align-items-center">
            <div><i class="iconsminds-video mr-2 text-white align-text-bottom d-inline-block"></i>
              <div>
                <h3 class="lead text-white">New Registration</h3>
                <h4 class="lead text-white"> <%= @lastday %> </h4>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-4">
        <div class="card mb-4 progress-banner" id="pb3">
          <div class="card-body justify-content-between d-flex flex-row align-items-center">
            <div><i class="iconsminds-home-1 mr-2 text-white align-text-bottom d-inline-block"></i>
              <div>
                <h3 class="lead text-white">Appointments</h3>
                <h4 class="lead text-white"> <%= @dailyappointments %> </h4>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-4">
        <div class="card mb-4 progress-banner" id="pb4">
          <div class="card-body justify-content-between d-flex flex-row align-items-center">
            <div><i class="iconsminds-smartphone-4 mr-2 text-white align-text-bottom d-inline-block"></i>
              <div>
                <h3 class="lead text-white">Physician Visits</h3>
                <h4 class="lead text-white"> <%= @dailyDoctor %> </h4>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </main>
  <script type="text/javascript">
    function showAlert(){
    
      //  <%#@low_stock.each do |stock|%>
    
        //  console.log('<%#= stock.item_name%> ')
          // alert("Quantity is 0. Restock " +  '<%#=stock.item_name %>' )
    
      // <%# end %>
   
    
        }
    
         setInterval('showAlert()',7200000); //Every 2 hrs
  </script>
