<style>
  .blocktext {
      margin-left: auto;
      margin-right: auto;
  
      margin: 0;
    position: relative;
    left: 50%;
    margin-right: -50%;
  }
</style>
<main>
  <body class="sidebar-dark">
    <div class="main-wrapper">
      <div class="row">
        <div class="col-12">
          <h1 class="blocktext">Item Purchased</h1>
          <div class="separator mb-5"></div>
        </div>
      </div>
      <div class="row mb-4">
        <div class="col-12 mb-4">
          <div class="card">
            <div class="card-body">
              <div class="table-responsive bs-example widget-shadow">
                <table class="table table-bordered">
                  <thead>
                    <tr>
                      <th class="pt-0">Category Name</th>
                      <th class="pt-0">Item Name</th>
                      <th class="pt-0">Quantity</th>
                      <th class="pt-0">Cost Price</th>
                      <th class="pt-0">Date of Purchase </th>
                    </tr>
                  </thead>
                  <tbody>
                    <% @store_purchases.each do |items_puchase| %>
                      <tr>
                        <%# <!-- <td><%= check_box_tag "assigned_requests_id",new_assigned_request_path(:id =>items_puchase.id) %> </td>
                      <td><%= items_puchase.name %></td>
                      <td><%= items_puchase.item_name %></td>
                      <td><%= items_puchase.quantity %></td>
                      <td><%= items_puchase.cost_price %></td>
                      <td><%= items_puchase.date_of_purchase %></td>
                    </tr>
                  <% end %>
                </tbody>
              </table>
            </div>
            <div class="blocktext">
              <button type="button" id="caty-button" class="btn btn-success" style="width:max-content;">
                <%= link_to 'Create New Store Purchase',new_store_purchase_path  %>
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
</body>
</main>
