 <style>
  .blocktext {
      margin-left: auto;
      margin-right: auto;
  
      margin: 0;
    position: relative;
    left: 50%;
    margin-right: -50%;
  }
</style>
<main>
  <body class="sidebar-dark">
    <div class="main-wrapper">
      <div class="row">
        <div class="col-12">
          <h1 class="blocktext">Store Receipts</h1>
          <div class="separator mb-5"></div>
        </div>
      </div>
      <div class="row mb-4">
        <div class="col-12 mb-4">
          <div class="card">
            <div class="card-body">
              <div class="table-responsive bs-example widget-shadow">
                <table class="table table-bordered">
                  <thead>
                    <tr>
                      <%# <th class="pt-0">#</th> %>
                      <th class="pt-0">Purchase_Item</th>
                      <th class="pt-0">Receipt_Image</th>
                      <th class="pt-0">User</th>
                      <th class="pt-0">Comments</th>
                      <th class="pt-0">Status</th>
                    </tr>
                  </thead>
                  <tbody>
                    <%  @purchase_receipts.each do |purchase_list| %>
                      <tr class="tdd">
                        <td><%=purchase_list.item_name%></td>
                        <td><%=purchase_list.image%></td>
                        <td><%=purchase_list.user_id%></td>
                        <td><%=purchase_list.comments%></td>
                        <td><%=purchase_list.status%></td>
                      </tr>
                    </tbody>
                  <% end %>
                </table>
              </div>
            </div>
            <div class="caty-caty" style="margin-top: -120px; margin-bottom: 150px;">
              <button type="button" id="caty-button" class="btn btn-success" style="width:max-content;">
                <%=link_to "Upload Receipt", new_purchase_receipt_path %>
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</body>
</main>
