<style>
  .blocktext {
      margin-left: auto;
      margin-right: auto;
  
      margin: 0;
    position: relative;
    left: 50%;
    margin-right: -50%;
  }
</style>
<main>
  <body class="sidebar-dark">
    <div class="main-wrapper">
      <div class="row">
        <div class="col-12">
          <h1 class="blocktext">  Requested Items</h1>
          <div class="separator mb-5"></div>
        </div>
      </div>
      <p>
        <%=form_tag requests_path, method: :get,class:"lus" do %>
          <%= select_tag "category", options_from_collection_for_select(@show_categories, "id", "name")%>
          <%= submit_tag "Search" %>
        <% end %>
      </p>
      <%= simple_form_for(@store_request, url: retrive_path) do |f| %>
        <div class="d-flex justify-content-between align-items-baseline mb-2">
          <div class="caty-caty" style="float: right; margin-right: -500px;">
            <button type="button" id="catty-button" class="btn btn-success" style="width:max-content;">
              <%=link_to "Make A Request", new_store_request_path %>
            </button>
          </div>
        </div>
        <div class="row mb-12">
          <div class="col-12 mb-12">
            <div class="card">
              <div class="card-body">
                <div class="table-responsive bs-example widget-shadow">
                  <table class="table table-bordered">
                      <button type="button" id="cato-button1" class="btn btn-success" style="float: left; color:white;">Check All</button>
                        <% if current_user.role_id == 9 %>
                    <thead>
                      <tr>
                        <th> </th>
                        <th class="pt-0">Category Name</th>
                        <th class="pt-0">Item Name </th>
                        <th class="pt-0">Quantity Requested</th>
                        <th class="pt-0">Date Requested</th>
                        <th class="pt-0">Request User</th>
                        <th class="pt-0">Request User Role</th>
                        <th class="pt-0">Comments</th>
                        <th class="pt-0">Status</th>
                      </tr>
                    </thead>
                    <tbody>
                      <% @store_requests.each do |request_list| %>
                        <tr class="tdd">
                          <div class="items_row">
                            <td><%= check_box_tag ("store_request[id][]"),checked_value = request_list.id %> </td>
                            <td><%=request_list.category_name%></td>
                            <td><%=request_list.item_name%></td>
                            <td><%=request_list.requested_quantity%></td>
                            <td><%=request_list.date_requested%></td>
                            <td><%=request_list.user_fullname%></td>
                            <td><%=request_list.role_name%></td>
                            <td><%=request_list.comments%></td>

                            <td class="requests-<%= request_list.id %>">
                              <%= link_to "#{ request_list.status ? 'Open Request' : 'Closed Request' }",
                              {remote: :true, class: "badge badge-#{ request_list.status  ? 'success' : 'warning' }"} %>
                            </td>	
                          </div>
                        </tr>
                      </tbody>
                     

                    <% end %>
                  </table>
                  <div class="load-more-container">
                    <%= link_to "Load More", requests_path, class: "load-more" %>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="caty-catz" style="margin-left: 435px;">
          <button type="button" id="caty-button" class="btn btn-success" style="width:max-content; color:white;float: left;">
            <%= f.button :submit, 'Assigned Checked Items', disabled:true,   :id => 'requestSubmitbtn', :style =>"color:white;" %>
          </button>
        </div>
         <% else%>
                      <thead>
                      <tr>
                        
                        <th class="pt-0">Category Name</th>
                        <th class="pt-0">Item Name </th>
                        <th class="pt-0">Quantity Requested</th>
                        <th class="pt-0">Date Requested</th>
                        <th class="pt-0">Request User</th>
                        <th class="pt-0">Request User Role</th>
                        <th class="pt-0">Comments</th>
                        <th class="pt-0">Status</th>
                      </tr>
                    </thead>
                    <tbody>
                      <% @store_requests.each do |request_list| %>
                        <tr class="tdd">
                          <div class="items_row">
                            
                            <td><%=request_list.category_name%></td>
                            <td><%=request_list.item_name%></td>
                            <td><%=request_list.requested_quantity%></td>
                            <td><%=request_list.date_requested%></td>
                            <td><%=request_list.user_fullname%></td>
                            <td><%=request_list.role_name%></td>
                            <td><%=request_list.comments%></td>

                            <td class="requests-<%= request_list.id %>">
                              <%= link_to "#{ request_list.status ? 'Open Request' : 'Closed Request' }",
                              {remote: :true, class: "badge badge-#{ request_list.status  ? 'success' : 'warning' }"} %>
                            </td>	
                          </div>
                        </tr>
                      </tbody>
                       <% end %>
                  </table>
                  <div class="load-more-container">
                    <%= link_to "Load More", requests_path, class: "load-more" %>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        
      <% end %>
      <%end%>
    </body>
  </main>
 
<script>

  var sendbtn = document.getElementById('requestSubmitbtn');

  $('#cato-button1').on("click", function(){
    var cbxs = $('input[type="checkbox"]');

    var a =  cbxs.prop("checked", !cbxs.prop("checked"));
  
    //checking if cbx is checked
    if ((cbxs).is(":checked") ){
      console.log('a passed')
      sendbtn.disabled = false;
    }

    else{
      console.log('a didnt pass')
      sendbtn.disabled = true;
    }
      
  });
  

  $('input:checkbox').change(function(){

    var len= document.querySelectorAll('input[type=checkbox]:checked').length
    console.log(len + " lebgthhhhhh")
     
    if(len > 0) {

      console.log('working oayyy')
      sendbtn.disabled = false;
        
    } 
    else {
      console.log('working 2cc')
      sendbtn.disabled = true;
        
    }
  });

</script>

 
 
<!-- 
  <script>

    $(document).ready(function() {

    var cbxs = $('input[type="checkbox"]');

  
  
    // $('#requestSubmitbtn').prop("disabled", true);

    $('#cato-button1').on("click", function(){
         console.log("default check is " + cbxs.checked)

    
     
        cbxs.prop("checked", !cbxs.prop("checked"));
        

            //     $('input[type="checkbox"]').each(function() {
    //       if ($(this.checked))
    //       {
    //           empty = false;
    //           console.log(empty + ' when box is checeked')

    //       } else {
    //         empty = true; 
    //           console.log(empty + ' when box is not checeked')
    //       }
    //     });

     
      

      // $('#requestSubmitbtn').prop("disabled", false);

    });
    });

  </script> 

-->


