<style type="text/css">
  /* Style the buttons that are used to open and close the accordion panel */
.accordion {
  background-color: #eee;
  color: #444;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  text-align: left;
  border: none;
  outline: none;
  transition: 0.4s;
}

/* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
.active, .accordion:hover {
  background-color: #ccc;
}

/* Style the accordion panel. Note: hidden by default */
.panel {
  padding: 0 18px;
  background-color: white;
  display: none;
  overflow: hidden;
}
</style>

<script>
  var acc = document.getElementsByClassName("accordion");
var i;

for (i = 0; i < acc.length; i++) {
  acc[i].addEventListener("click", function() {
    /* Toggle between adding and removing the "active" class,
    to highlight the button that controls the panel */
    this.classList.toggle("active");

    /* Toggle between hiding and showing the active panel */
    var panel = this.nextElementSibling;
    if (panel.style.display === "block") {
      panel.style.display = "none";
    } else {
      panel.style.display = "block";
    }
  });
}
</script>

<main>
<section id="main-content">
  <section class="wrapper">
     
  <div class="row">
        <div class="col-12">
          <h1 class="blocktext"> Set Orders</h1>
          <div class="separator mb-5"></div>
        </div>
      </div>
      <div class="row mb-4">
        <div class="col-12 mb-4">
          <div class="card">
            <div class="card-body">
              <div class="table-responsive bs-example widget-shadow">

    <button class="accordion">FEBRILE CHILD</button>
<div class="panel">
  <p>1. Assessment by nursing staff<br>
2. Vital signs taken – pulse, Resiratory rate, O2 sats, temp <br>
3. Consultation by doctor<br>
4. Lab requests- FBC, BF for MPs, Urine RE, Widals test, Stool RE<br>
5. Admit for inpatient care<br>
6. Medication – inj arthemeter, inj artesunate, oral  ACT,  paracetamol/ibuprofen tabs/syrup/supp, diazepam<br>
7. Oxygen therapy<br>
8. Lumbar puncture<br>
</p>
</div>

<button class="accordion">BREATHLESSNESS/SOB/ASTHMA</button>
<div class="panel">
  <p>1. Detain/admit for inpatient care<br>
2. Oxygen therapy<br>
3. Assessment by nurse<br>
4. Vital signs taken<br>
5. Consultation by doctor<br>
6. Nebulisation- salbutamol/ipratropium<br>
7. Steroids- prednisolone/ hydrocortisone<br>
8. Peak flow  before and after nebulisation<br>
9. Multidosing  with salbutamol inhaler<br>
10. Check inhaler technique<br>
11. Antibiotics<br>
12. Chest xray<br>
13. Spirometry<br>
14. Inhaled steroids<br>
15. Inhaled salbutamol<br>
</p>
</div>

<button class="accordion">DIARRHOEA</button>
<div class="panel">
  <p>1. Assessment [using the traffic light system] for the degree of dehydration<br>
2. Vital signs taken<br>
3. Lab requests – BF for MPs, FBC, stool re,  U&Es, Cr<br>
4. Admit for inpatient treatment if moderate to severe dehydration<br>
5. ORS / coconut water<br>
6. IV fluids<br>
7. Maintain adequate nutrition<br>
8. IV fluids<br>
9. Antibiotics<br>
10. Zn suppliments<br>
11. Fluid chart<br>
12. Loperamide [ adults only]<br>
13. Antiemetics<br>
14. Record nature of stools passed<br>
15. NG tube<br>
16. Reassess 1-2 hrly and reclassify dehydration<br>
17. Monitor urine output<br>
18. Correct electrolyte imbalance<br>
19. Referral [critical]<br>
</p>
</div>

<button class="accordion">CONSTIPATION</button>
<div class="panel">
  <p>1. Assessment<br>
2. Vital signs<br>
3. Consultation by doctor<br>
4. Lab tests – FBC, U&Es, TFTs m Stool for  occult blood<br>
5. PR exam<br>
6. Proctoscopy/sigmoidoscopy<br>
7. u/scan<br>
8. Plain abdominal Xray<br>
9. medication<br>
10. referral <br>

</p>
</div>
<button class="accordion">PEPTIC ULCER DISEASE/ GERD</button>
<div class="panel">
  <p>1.Assessment<br>
2. Vital signs<br>
3. Consultation by doctor<br>
4. Stool for occult blood<br>
5. Lab- blood- FBC, u&Es, H. Pylori<br>
6. IV fluids<br>
7. Endoscopy <br>
8. Barium meal<br>
9. Medication<br>
10. Abdominal u/scan, CT<br>
11. Blood transfusion<br>

</p>
</div>

<button class="accordion">HAEMORRHOIDS</button>
<div class="panel">
  <p>1. ASSESSMENT<br>
2. VITAL SIGNS<br>
3. CONSULTAYION BY DOCTOR<br>
4. DIGITAL RECTAL EXAMINATION<br>
5. FBC<br>
6. PROCTOSCOPY<br>
7. SIGMOIDOSCOPY<br>
8. HAEMORROIDECTOMY<br>
9. BLOOD TRANSFUSION<br>
10. INJECTION SCLEROTHERAPY<br>
11. RUBBER BAND LIGATION<br>
12. IV FLUIDS<br>


</p>
</div>
<button class="accordion">AMOEBIC LIVER ABSCESS</button>
<div class="panel">
  <p>
1. ASSESSMENT<br>
2. VITAL SIGNS<br>
3. CONSULTATION BY DOCTOR<br>
4. ABDO U/SCAN<br>
5. CHEST XRAY<br>
6. FBC<br>
7. ESR<br>
8. STOOL RE<br>
9. SEROLOGY<br>
10. LFT<br>
11. MEDICATION<br>
12. REFERRAL<br>


</p>
</div>

<button class="accordion">JAUNDICE</button>
<div class="panel">
  <p>

1. ASSESSMENT<br>
2. VITAL SIGNS<br>
3. CONSULTATION BY DOCTOR<br>
4. IV FLUIDS<br>
5. ADMISSION FOR INPATIENT CARE<br>
6. FBC<br>
7. INR<br>
8. SICKLING STATUS<br>
9. G6PD<br>
10. BF FOR MPS<br>
11. LFTS<br>
12. U&ES<br>
13. HEP B AG, HCV ANTIBODY<br>
14. HEP A IGM<br>
15. BLOOD CULTURE<br>
16. URINALYSIS<br>
17. BLOOD GLUCOSE<br>
18. ABD U/SCAN, ABD CT<br>
19. HAEMATOCRIT<br>
20. RETI COUNT<br>
21. DIRECT COOMBS<br>
22. BLOOD FILM FOR RED CELL ABNORMALITY<br>
23. TOTAL AND DIRECT SERUM BILIRUBIN<br>
24. IV FLUIDS<br>
25. REFERRAL<br>
26. PHOTOTHERAPY<br>
27. EXCHANGE TRANSFUSION<br>
28. MEDICATION<br>
29. TFTS<br>
30. URINE C/S<br>
31. TORCH SCREEN<br>
32. URINE FOR REDUCING SUBSTANCES<br>
33. BLOOD C/S HIV SCREEN<br>
34. ALPHA FETO PROTEIN<br>
35. LIVER BIOPSY<br>



</p>
</div>

<button class="accordion">ASCITES</button>
<div class="panel">
  <p>

1. ASSESSMENT<br>
2. VITAL SIGNS<br>
3. CONSULTATION BY DOCTORS<br>
4. LAB- FBC, BUE, CR, LFTS, INR, URINALYSIS<br>
5. ABDOMINOPELVIC U/SCAN<br>
6. CXR<br>
7. PARENTESIS- DIAGNOSTIC<br>




</p>
</div>

<button class="accordion">VOMITING</button>
<div class="panel">
  <p>


1. ASSESSMENT<br>
2. VITAL  SIGNS<br>
3. CONSULTATION BY DOCTOR<br>
4. LAB- FBC, BUE, CR, BLLOD GLUCOSE, AMYLASE<br>
5. URINE R/E, URINE / SERUM PREG TEST<br>
6. ABDO XRAY<br>
7. ERECT CXR<br>
8. IV FLUIDS<br>
9. ANTIEMETICS<br>
10. ENDOSCOPY<br>
11. SERUM CALCIUM<br>
12. CT BRAIN<br>
13. FLUID CHART<br>
14. REFERRAL<br>



</p>
</div>


<button class="accordion">HEPATPCELLULAR CA</button>
<div class="panel">
  <p>


1. ASSESSMENT<br>
2. VITAL SIGNS<br>
3. FBC, LFTS<br>
4. SERUM ALPHA FETO PROTEIN<br>
5. HEP B SURFACE ANTIGEN<br>
6. HEPC ANTIBODY<br>
7. CXR<br>
8. ABD U/SCAN <br>
9. CT/MRI<br>
10. LIVER BIOPSY<br>
11. ADMIT FOR IN PATIENT CARE<br>
12. REFERRAL<br>
13. MEDICATION<br>
14. ABDOMINAL PARACENTESIS<br>


</p>
</div>

<button class="accordion">ANAEMIA</button>
<div class="panel">
  <p>

ASSESSMENT<br>
VITAL SIGNS<br>
CONSULTATION WITH DOCTOR<br>
IDENTIFY THE  TYPE OF ANAEMIA<br>
NUTRITIONAL<br>
HAEMORRHAGE<br>
HAEMOLYSIS<br>
BONE MARROW FAILURE<br>
CHRONIC DX<br>
AUTOIMMUNE DX<br>
ADMIT FOR INPATIENT CARE<br>
ADMIT FOR INVESTIGATION<br>
FBC<br>
RETICULOCYTE COUNT<br>
BLOOD FILM FOR MPS<br>
BLOOD PICTURE<br>
KIDNEY FUNCTION YEST<br>
SERUM FE, B12, FOLATE LEVELS<br>
DIRECT COOMBS<br>
STOOL FOR HOOKWORM OVA<br>
STOOL FOR OCCULT BLOOD<br>
URINE FOR SCHISTOSOMA OVA<br>
SPECIALISED TEST DEPENDING ON SUSPECTED CAUSE<br>
U/SCAN<br>
CXR<br>
BLOOD TRANSFUSION/ PACK CELLS<br>
REFERRAL TO DIETICIAN<br>
MEDICATION<br>
REFERRAL<br>
INR, PROTHROMBIN TIME<br>
LFTS<br>
IV FLUIDS<br>
FLUID CHART/ URINE OUTPUT CHART<br>



</p>
</div>

<button class="accordion">SICKLE CELL DISEASE</button>
<div class="panel">
  <p>


ASSESSMENT<br>
VITAL SIGNS
CONSULTATION WITH DOCTOR<br>
OXYGEN THERAPY
ADMIT/DETAIN FOR INPATIENT CARE<br>
IV FLUIDS<br>
BLOOD TRANSFUSION<br>
INFECTION SCREEN WITH URINE C/S<br>
FBC<br>
BLOOD FILM COMMENT<br>
SICKLING TEST/ HB ELECTROPHORESIS<br>
URINE RE<br>
CXR<br>
MEDICATION<br>
REFERRAL<br>
ADEQUATE HYDRATION [ORALLY]<br>
IDENTIFY PRECIPITATING CAUSES<br>
RELIEF PAIN<br>
FOLATE SUPPLIMENT<br>
PNEUMOCOCCAL VACCINE [PCV 13]<br>
EDUCATION [PARENTAL/GUARDIAN/CLIENT]<br>
GENETIC COUNSELLING<br>



</p>
</div>

<button class="accordion">LEUKAEMIA</button>
<div class="panel">
  <p>

ASSESSMENT<br>
VITAL SIGNS<br>
CONSULTATION BY DOCTOR<br>
INPATIENT ADMISSION<br>
LYMPH NODE BIOPSY<br>
PAIN RELIEF<br>
HEARING ASSESSMENT<br>
FBC AND BLOOD FILM COMMENT<br>
BONE MARROW ASPIRATE<br>
URIC ACID LEVELS<br>
LDH<br>
BUE, CR<br>
LFTS<br>
SEPTIC SCREEN<br>
LP FOR CSF CYTOLOGY<br>
U/SCAN<br>
ADEQUATE HYDRATION/ IV FLUIDS<br>
MEDICATION<br>
REFERRAL<br>


</p>
</div>

<button class="accordion">DVT/PE</button>
<div class="panel">
  <p>



INITIAL ASSESSMENT<br>
VITAL SIGNS<br>
CONSULTATION WITH DOCTOR<br>
D0DIMER<br>
DOPPLERS/USCAN<br>
WELLS SCORE <br>
THROMBOPHILIA SCREEN<br>
FBC<br>
RISK FACTOR ASSESSMENT<br>
MEDICATION PROPHYLAXIS/ TREATMENT<br>
WARFARIN CHART<br>
REFERRAL<br>
CXR<br>
ECG<br>
ECHO<br>
CT PULM ANGIOGRAM<br>



</p>
</div>

<button class="accordion">CHEST PAIN</button>
<div class="panel">
  <p>


ASSESSMENT<br>
VITAL SIGNS<br>
CONSULTATION  WITH DOCTOR<br>
CONTINUOUS MONITORING<br>
ECG 12 LEAD/ STRESS ECG<br>
CHECK BP ON BOTH ARMS<br>
ECHOCARDIOGRAM<br>
OXYGEN THERAPY<br>
CXR<br>
ADMIT FOR INPATIENT CARE<br>
REFERRAL<br>
RISK [FACTOR] ASSESSMENT<br>
BUE, CR<br>
ASPIRIN 300MG<br>
GTN SPRAY<br>
FBC/ESR/CRP<br>
CARDIAC ENZYMES- CKMB, SERUM AST, SERUM LDH, TROPONINS<br>
BLOOD GLUCOSE<br>
LIPID PROFILE<br>
SERUM URIC ACID<br>
BNP<br>
CORONARY ANGIOGRAPHY<br>
PATIENT EDUCATION-LIFESTYLE MEASURES<br>
MEDICATION<br>
IV CANNULA<br>
MORPHINE<br>
ANTICOUGULATION<br>



</p>
</div>


<button class="accordion">STROKE/CVA</button>
<div class="panel">
  <p>


INITIAL ASSESSMENT<br>
VITAL SIGNS/NEURO OBS<br>
CONSULTATION WITH DOCTOR<br>
ADMIT FOR INPATIENT CARE<br>
REFERRAL<br>
CT SCAN/MRI HEAD<br>
FBC, BUE, CR<br>
URIC ACID<br>
ECG<br>
CXR<br>
IV LINE<br>
SWALLOWING TEST<br>
NG TUBE<br>
ADEQUATE HYDRATION<br>
PREVENTION OF PRESSURE SORES/ 2 HRLY TURNING<br>
ASPIRIN 300MG ST, 75MG DAILY[FOR ISCHAEMIC STROKE]<br>
MANNITOL FOR CEREBRAL ORDEMA<br>
OXYGEN THERAPY<br>
SPEECH THERAPIST<br>
OCCUPATIONAL THERAPIST<br>
PHYSIO<br>




</p>
</div>



<button class="accordion">HEART FAILURE</button>
<div class="panel">
  <p>



ASSESSMENT INITIAL<br>
VITAL SIGNS<br>
CONSULTATION  WITH DOCTOR<br>
OXYGEN THERAPY<br>
IV FLUIDS<br>
IV FUROSEMIDE<br>
ADMIT FOR INPATIENT CARE<br>
ECG,BUE, CR, EGFR,CXR
TFTS,LFTS<br>
CARDIAC ENZYMES<br>
FBS/RBS<br>
LIPIDS<br>
ECHO<br>
CARDIAC ANGIOGRAM<br>
MORPHINE<br>
DIGOXIN<br>
URINE OUTPUT<br>
ANTOCOAGULANT<br>
ANTIHY7PERTENSIVES- ACE, ARB, B BLOCKERS<br>
DIURETICS<br>
REFERRAL<br>
ANTIDIABETIC MEDICATION<br>
ASSESSMENT OF RISK FACTORS<br>




</p>
</div>


<button class="accordion">HYPERTENSION [SYSTEMIC ARTERIAL]</button>
<div class="panel">
  <p>

DEFINITION NIN DIABETICS AND NON DIABETICS<br>
INITIAL ASSESSMENT<br>
VITAL SIGNS<br>
CONSULTATION WITH DOCTOR<br>
ASSESSMENT OF RISK FACTORS= AGE/SEX, FAMILY HISTORY,PMH, DYSLIPIDAEMIA,BMI/OBESITY
DIABETES<br>
SMOKING<br>




</p>
</div>

<button class="accordion">BRONCHIAL ASTHMA</button>
<div class="panel">
  <p>


INITIAL ASSESSMENT <br>
VITAL SIGNS<br>
CONSULTATION WITH DOCTOR<br>
OXYGEN THERAPY<br>
PETR<br>
NEBULISER<br>
MULTIDOSING<br>
STEROIDS<br>
LABA/ICS<br>
AMINOPHYLLINE<br>
MONTELUKAST<br>
ANTIBIOTICS<br>
COUGH MEDICATION<br>
REFERRAL<br>
FBC<br>
SPIROMETRY<br>
STOOL RE<br>
TEST FOR ATOPY<br>
CXR<br>
SPUTUM FOR AFB/ CS<br>





</p>
</div>

<button class="accordion">SEIZURES/EPILEPSY</button>
<div class="panel">
  <p>


INITIAL ASSESSMENT<br>
VITAL SIGNS<br>
OXYGEN THERAPY<br>
IV LINE<br>
ANTICONVULSANT- DIAZEPAM, MIDAZOLAM, PHENYTOIN<br>
CONSULTATION WITH DOCTOR<br>
ADMIT FOR INPATIENT CARE<br>
FBC, ESR, CRP<br>
BLOOD GLUCOSE, BUE, LFTS<br>





</p>
</div>






    
 </div></div>   
</section>
 
</section>

</main>




<script>
  var acc = document.getElementsByClassName("accordion");
var i;

for (i = 0; i < acc.length; i++) {
  acc[i].addEventListener("click", function() {
    /* Toggle between adding and removing the "active" class,
    to highlight the button that controls the panel */
    this.classList.toggle("active");

    /* Toggle between hiding and showing the active panel */
    var panel = this.nextElementSibling;
    if (panel.style.display === "block") {
      panel.style.display = "none";
    } else {
      panel.style.display = "block";
    }
  });
}
</script>