<style>
  .blocktext {
      margin-left: auto;
      margin-right: auto;
  
      margin: 0;
    position: relative;
    left: 50%;
    margin-right: -50%;
  }
</style>
<main>
  <body class="sidebar-dark">
    <div class="main-wrapper">
      <div class="page-wrapper">
        <div class="page-content">
          <%= simple_form_for(@store_purchase) do |f| %>
            <%= f.error_notification %>
            <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>
            <div class="form-inputs" style="margin-left: -125px;">
              <%=  f.input :store_inventory_categories_id,collection:StoreInventoryCategory.all,value_method: :id,label_method: :name,
                                                        required: true,
                                                        autofocus: true,
                                                        input_html: { autocomplete: "store_inventory_category_id" }%>
              <%= f.input :item_name %>
              <%= f.input :cost_price %>
              <%= f.input :quantity %>
              <br>
              <div  class="date_disp" >
                <p style="font-size:0.875rem"> Date </p>
                <div class="d-flex align-items-center flex-wrap text-nowrap"style="margin-left:-55px;" >
                  <div class="input-group date datepicker dashboard-date mr-2 mb-2 mb-md-0 d-md-none d-xl-flex" id="dashboardDate">
                    <span class="input-group-addon bg-transparent"><i data-feather="calendar" class=" text-primary"></i></span>
                    <%= f.input :date_of_purchase, as: :string, :label => false %>
                  </div>
                </div>
              </div>
            </div>
            <div class="form-actions">
              <%= f.button :submit %>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </body>
</main>
<div id="myModal1" class="modal fade" role="dialog">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title"> select items</h4>
        <button type="button" class="close" data-dismiss="modal">
          &times;
        </button>
      </div>
      <div class="modal-body" id = 'patient_form'>
        <%#= render "checkout" %>
      </div>
    </div>
  </div>
</div>
