<body class="sidebar-dark">
  	<div class="main-wrapper">
      <div class="page-wrapper">
        	<div class="page-content">

<p id="notice"><%= notice %></p>

<h1>Store Purchases</h1>

<table>
  <thead>
    <tr>
      <th>Store inventory categories</th>
      <th>Item name</th>
      <th>Cost price</th>
      <th>Quantity</th>
      <th>Date of purchase</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @store_purchases.each do |item_purchase| %>
      <tr>
        <td><%= item_purchase.name %></td>
        <td><%= item_purchase.item_name %></td>
        <td><%= item_purchase.cost_price %></td>
        <td><%= item_purchase.quantity %></td>
        <td><%= item_purchase.date_of_purchase %></td>
        <td><%= link_to 'Show', item_purchase %></td>
         <td><%= link_to 'Edit', edit_store_purchase_path(item_purchase) %></td>
        <td><%= link_to 'Destroy', item_purchase, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>

    <% end %>
  </tbody>
</table>

<br>
</div>
</div>
</div>
</body>
<%= link_to 'New Store Purchase', new_store_purchase_path %>
