<style>
  .blocktext {
      margin-left: auto;
      margin-right: auto;
  
      margin: 0;
    position: relative;
    left: 50%;
    margin-right: -50%;
  }
</style>
<main>
  <section id="main-content">
    <section class="wrapper">
      <div class="row">
        <div class="col-12">
          <h1 class="blocktext"> New Item Purchased</h1>
          <div class="separator mb-5"></div>
        </div>
      </div>
      <div class="row mb-4">
        <div class="col-12 mb-4">
          <div class="card">
            <div class="card-body">
              <div class="table-responsive bs-example widget-shadow">
                <%= simple_form_for(@store_purchase) do |f| %>
                
                  <div class="form-inputs">
                    <%=  f.input :store_inventory_categories_id,collection:StoreInventoryCategory.all,value_method: :id,label_method: :name,
                                                        required: true,
                                                        autofocus: true,
                                                        input_html: { autocomplete: "store_inventory_category_id" }%>
                    <%= f.input :item_name %>
                    <%= f.input :cost_price %>
                    <%= f.input :quantity %>
                    <br>
                    <div  class="date_disp" >
                      <p style="font-size:0.875rem"> Date </p>
                      <div class="d-flex align-items-center flex-wrap text-nowrap" >
                        <div class="input-group date datepicker dashboard-date mr-2 mb-2 mb-md-0 d-md-none d-xl-flex" id="dashboardDate">
                          <span class="input-group-addon bg-transparent"><i data-feather="calendar" class=" text-primary"></i></span>
                          <%= f.input :date_of_purchase, as: :string, :label => false %>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="form-actions">
                    <%= f.button :submit %>
                  </div>
                <% end %>
              </div>
            </div>
             </div>
              </div>
          </section>
        </section>
      </main>
      <div id="myModal1" class="modal fade" role="dialog">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <h4 class="modal-title"> select items</h4>
              <button type="button" class="close" data-dismiss="modal">
                &times;
              </button>
            </div>
            <div class="modal-body" id = 'patient_form'>
              <%#= render "checkout" %>
            </div>
          </div>
        </div>
      </div>
