<body class="sidebar-dark">
  	<div class="main-wrapper">
      <div class="page-wrapper">
        	<div class="page-content">
           
            <p id="notice"><%= notice %></p>

            <p>
              <strong>Store inventory categories:</strong>
              <%= @store_purchase.store_inventory_categories_id %>
            </p>

            <p>
              <strong>Item name:</strong>
              <%= @store_purchase.item_name %>
            </p>

            <p>
              <strong>Cost price:</strong>
              <%= @store_purchase.cost_price %>
            </p>

            <p>
              <strong>Quantity:</strong>
              <%= @store_purchase.quantity %>
            </p>

            <p>
              <strong>Date of purchase:</strong>
              <%= @store_purchase.date_of_purchase %>
            </p>

            <%= link_to 'Edit', edit_store_purchase_path(@store_purchase) %> |
            <%= link_to 'Back', store_purchases_path %>

          </div>
        </div>
      </div>
  </body>