
<section id="main-content">
  <section class="wrapper">
     <% flash.each do |key, value| %>
        <div class="alert alert-success"<%= key %>"><%= value %></div> 
      <% end %>
    <!-- <p id="notice"><%= notice %></p> -->
    <div class="table-agile-info">
 <div class="panel panel-default">
    <div class="panel-heading">
     Patients
    </div>
    
    <div style="overflow-x:auto;">
      <table class="table" ui-jq="footable" ui-options='{
        "paging": {
          "enabled": true
        },
        "filtering": {
          "enabled": true
        },
        "sorting": {
          "enabled": true
        }}'>
        <thead>
          <tr>

        <th data-breakpoints="xs">No</th> 
         <% if current_user.role_id == 1%>  
      <th>Name</th>
      <th>Assigned by</th>
       <%else%>
       <th>Patient No</th>
        <th>Name</th>
      <th>Mobile number</th>
      <th>Occupation</th>
      <th>Address</th>
      <th>Dob</th>
      <th>Assigned by</th>
        <%end%>
       <!-- <th>role_id</th>
        <th>basic_medical_record_id</th> -->
      <th colspan="3"></th>
      <th colspan="3"></th>
      <th colspan="3"></th>

          </tr>
        </thead>
        <tbody>
      <% count=1 %>

           <% @assign_patients.each do |patient| %>
      <tr>
         
        <td><%= count %></td> 
        <% if current_user.role_id == 1%>
        <td><%= patient.other_names + " " +  patient.surname %></td>
         <td><%= patient.fullname %></td>
          <%else%>
          <td><%= patient.card_no%></td>
         <td><%= patient.other_names + " " +  patient.surname %></td>
        <td><%= patient.mobile_number %></td>
        <td><%= patient.occupation %></td>
        <td><%= patient.address %></td>
        <td><%= patient.dob %></td>
         <td><%= patient.fullname %></td>
           <%end%>
        <!--   <td><%#= patient.role_id %></td>
           <td><%#= patient.basic_medical_record_id %></td> -->
          

        

          <td ><%= link_to 'Details', show_details_path(:id => patient.patient_id), {:remote => true, class:'"btn btn-info btn-sm btn3d"','data-toggle' =>  "modal", 'data-target' => '#myModal1'} %></td>
          <%logger.info "PAtient role id #{ patient.role_id}"%>
        
  
          <td ><%= link_to 'Medical Requests', med_docs_path(:id => patient.patient_id),:class=>'"btn btn-success btn-sm btn3d"' %></td> 
 
        
      </tr>
       <% count=count+1 %> 
    <% end %>
       
           

        </tbody>
      </table>
        <center>
	<div class="digg_pagination">
	<%= will_paginate @assign_patients %>
	</div>
</center>

  </div>
</div>
</section>
 
</section>



