
<section id="main-content">
  <section class="wrapper">
     
    <div class="table-agile-info">
 <div class="panel panel-default">
   

                             
<br>
<br>
    <div class="panel-heading">
 Medication Requests
    </div>
    
    <div>
      <table class="table" ui-jq="footable" ui-options='{
        "paging": {
          "enabled": true
        },
        "filtering": {
          "enabled": true
        },
        "sorting": {
          "enabled": true
        }}'>
        <thead>
          <tr>

              <th data-breakpoints="xs">No</th> 
      
      <th>Patient No</th>
      <th>Name</th>
       <th>Order</th>
      <th>Date</th>
      <th>Assigned by</th>
       
      
      <th colspan="3"></th>
      <th colspan="3"></th>
      <th colspan="3"></th>

          </tr>
        </thead>
        <tbody>
      <% count=1 %>

           <% @medication_requests.each do |patient| %>
      <tr>
         
        <td><%= count %></td> 
        
          <td><%= patient.card_no%></td>
         <td><%= patient.other_names + " " +  patient.surname %></td>
         <td><%= patient.service_name %></td>
         <td><%= patient.created_at %></td>
         <td><%= patient.fullname %></td>

          <% if patient.status == false %>
          <td> <%= link_to 'close Request', close_request_path(:id => patient.id), :class => 'custom btn-success btn-sm'%> </td>
          <% else patient.status == true  %>
          <td><%= link_to 'Closed', open_request_path(:id => patient.id), :class => 'custom btn-danger btn-sm' %>  
      </td>

        <% end %>  
       
      </tr>
       <% count=count+1 %> 
    <% end %>
       
           

        </tbody>
      </table>

 

  </div>
</div>
</section>
 
</section>




