
<main>
<section id="main-content">
   <section class="wrapper">
    <div class="row mb-4">
    <div class="col-12 mb-4">
      <div class="card">
        <div class="card-body">
         

<h4 class="modal-title"> Create Patient record</h4>
 
   <%= simple_form_for(@patient) do |f| %>
  <%= f.error_notification %>
  <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>

 
 <div class="container">
  

 <div class="col-md-8">

 <div class="ggg">
    <%= f.input :surname, label: "Surname" , as: :string  %>
  </div>

   <div >

    <%= f.input :other_names, label: "Other names", as: :string,input_html: { placeholder: 'Other names' } %>
  </div>

   <div class="ggg">

    <%= f.input :mobile_number, label: "Mobile number", as: :string,input_html: { placeholder: 'Mobile number' }  %>
  </div>


 <div class="ggg">

    <%= f.input :alt_number, label: "Other number", as: :string,input_html: { placeholder: 'Other number' }%>
  </div> 

    <div >

    <%= f.input :card_no,  label: "Patient  number", as: :string,input_html: { placeholder: 'Card number' } %>
  </div>

  <div class="ggg">

    <%= f.input :dob, label: "Date of birth", as: :string,input_html: { id: "datepicker",placeholder: 'dd-mm-yy' }  %>
  </div> 
  
   <div class="ggg">

    <%= f.input :occupation, label: "Occupation", as: :string,input_html: { placeholder: 'Occupation' } %>
  </div> 
 
<div class="ggg">


    <%= f.input :address,label: "Address", as: :text, input_html: { rows: "4",placeholder: 'Address'}  %>

  </div> 


<div class="form-inputs">
    <%= f.input :user_id, :as=> :hidden, input_html: {value: current_user.role_id} %>
</div>

  <div class="form-inputs">
    <%= f.input :status, :as=> :hidden, input_html: {value: 1 } %>

  </div>



<div class="ggg">
     <%= f.button :submit,"Register Patient", :class => 'btn-success',:style=>"width:auto;" %>
</div>
    
</div>
</div>

                                    
<% end %>


<!--  </div>
</div> -->
</section>
</section>

</main>