<main>
  <section id="main-content">
    <section class="wrapper">
      <div class="row mb-4">
        <div class="col-12 mb-4">
          <div class="card">
            <div class="card-body">
              <br />
              <%= simple_form_for(@patient) do |f| %>
                <%= f.error_notification %>
                <div id="id01" class="w3-modal w3-card-4" style="display: block">
                  <div class="w3-modal-content w3-animate-top w3-card-4 w3-light-gray" style="width: 35%; max-height: 80%; overflow-y: auto;">
                    <header class="w3-container">
                      <h4>Edit Profile</h4>
                    </header>
                    <br />
                    <!-- <div class="col-md-1 col-xs-12"></div> -->
                    <div class="col-md-12 col-xs-12 w3-padding">
                      <div class="w3-container ">
                        <div class="form-inputs">
                          <%= f.input :surname %>
                          <%= f.input :other_names %>
                        </div>
                        <br />
                      </div>
                    </div>
                    <!-- <div class="col-md-1 col-xs-12"></div> -->
                    <br />
                    <footer class="w3-container">
                      <div class="form-actions">
                        <%#= link_to 'Back', current_user, class: "w3-left w3-button w3-small w3-round-large w3-blue w3-hover-blue" %>
                        <%= f.button :submit, class: "w3-right w3-button w3-small w3-round-large w3-teal w3-hover-teal", value: "Update" %>
                        <br />
                        <br />
                      </div>
                    </footer>
                  <% end %>
                  <br />
                </div>
                <br />
              </div>
            </main>
            <script>
              $( function() {
                $( "#datepicker" ).datepicker({
                    dateFormat : 'yy-mm-dd'
                });
              } );
            </script>
            <script type="text/javascript">
              $('#datetimepicker').datetimepicker({
              	format : 'DD-MM-YYYY'
              })
              $('[data-behaviour~=datetimepicker]').datetimepicker();
            </script>
