



<div class="table-agile-info">



  
 <table class="custab table table-striped table-hover table-bordered">

          <tr>
            <% if (defined?(@patients1)).nil? %>
                  <% else  %>

          <p> <span> <b>Last Visit:</b> </span> <%= @patients1.updated_at.strftime("%B %d, %Y %H:%M") %> </p>
          <p>  <span> <b> Last Health Personel Seen: </b> </span> <%= @doc_name %> </p>
          
          <p>  <span> <b> Wait Time: </b> </span> <%= @hour_diff.to_s + " Hour " + ":" + @min_diff.to_s + " Minutes " %> </p> <br>

            <td style="background-color:rgba(110, 129, 149, 0.96);color:#fbfbff">Surname</td>
            <td style="background-color:rgba(251, 251, 255, 0.96);color:#000000"><%=   @patients1.surname %></td>
          </tr>
           <tr>
            <td style="background-color:rgba(110, 129, 149, 0.96);color:#fbfbff">Other names</td>
            <td style="background-color:rgba(251, 251, 255, 0.96);color:#000000"><%=   @patients1.other_names %></td>
          </tr>
            <tr>
            <td style="background-color:rgba(110, 129, 149, 0.96);color:#fbfbff">Mobile number</td>
            <td style="background-color:rgba(251, 251, 255, 0.96);color:#000000"><%=   @patients1.mobile_number %></td>
          </tr>
             <td style="background-color:rgba(110, 129, 149, 0.96);color:#fbfbff">Occupation</td>
            <td style="background-color:rgba(251, 251, 255, 0.96);color:#000000"><%=   @patients1.occupation %></td>
          </tr>
            <tr>
            <td style="background-color:rgba(110, 129, 149, 0.96);color:#fbfbff">Address</td>
            <td style="background-color:rgba(251, 251, 255, 0.96);color:#000000"><%=   @patients1.address %></td>
          </tr>
            <tr>
             <td style="background-color:rgba(110, 129, 149, 0.96);color:#fbfbff">Date Of birth</td>
            <td style="background-color:rgba(251, 251, 255, 0.96);color:#000000"><%=   @patients1.dob %></td>
              </tr>


              <tr>
             <td style="background-color:rgba(110, 129, 149, 0.96);color:#fbfbff">Age</td>
            <td style="background-color:rgba(251, 251, 255, 0.96);color:#000000"><%=   @age.to_s + "years" %></td>
              </tr>

                <tr>
            <td style="background-color:rgba(110, 129, 149, 0.96);color:#fbfbff">Gender</td>
            <td style="background-color:rgba(251, 251, 255, 0.96);color:#000000"><%=   @patients1.gender %></td>
              </tr>

                <tr>
            <td style="background-color:rgba(110, 129, 149, 0.96);color:#fbfbff">Religion</td>
            <td style="background-color:rgba(251, 251, 255, 0.96);color:#000000"><%=   @patients1.religion %></td>
              </tr>

                <tr>
            <td style="background-color:rgba(110, 129, 149, 0.96);color:#fbfbff">Emergency Contact Name</td>
            <td style="background-color:rgba(251, 251, 255, 0.96);color:#000000"><%=   @patients1.emergency_c_name %></td>
              </tr>

                <tr>
            <td style="background-color:rgba(110, 129, 149, 0.96);color:#fbfbff">Emergency Contact Number</td>
            <td style="background-color:rgba(251, 251, 255, 0.96);color:#000000"><%=   @patients1.emergency_c_number %></td>
              </tr>

               <tr>
            <td style="background-color:rgba(110, 129, 149, 0.96);color:#fbfbff">Insurance/Cash</td>
            <td style="background-color:rgba(251, 251, 255, 0.96);color:#000000"><%=   @patients1.insurance_cash %></td>
              </tr>

               <tr>
            <td style="background-color:rgba(110, 129, 149, 0.96);color:#fbfbff">Refered By</td>
            <td style="background-color:rgba(251, 251, 255, 0.96);color:#000000"><%=   @patients1.refers %></td>
              </tr>

               <tr>
            <td style="background-color:rgba(110, 129, 149, 0.96);color:#fbfbff">Registration Date</td>
            <td style="background-color:rgba(251, 251, 255, 0.96);color:#000000"><%=   @patients1.created_at.strftime("%B %d, %Y %H:%M") %></td>
              </tr>
         
 <% end %>

          
         
           </table>


</div>







