<main>
  <section id="main-content">
    <section class="wrapper">
      <div class="row mb-4">
        <div class="col-12 mb-4">
          <div class="card">
            <div class="card-body">
              <div class="row2">
                <div class="col-md-3 col-xs-12"></div>
                <div class="col-md-6 col-xs-12 w3-card-4 w3-round-large" >
                  <h4>Edit Profile </h4>
                  <%= render :partial => 'new_edit' %>
                  <br />
                </div>
                <div class="col-md-3 col-xs-12"></div>
              </div>
              <br />
              <br />
              <br />
