<style>
  .blocktext {
      margin-left: auto;
      margin-right: auto;
  
      margin: 0;
    position: relative;
    left: 50%;
    margin-right: -50%;
    text-transform: uppercase;
  }
</style>
<main>
  <section id="main-content">
    <section class="wrapper">
      <div class="row">
        <div class="col-12">
          <h1 class="blocktext"><%= @patient_records.other_names + " " + @patient_records.surname %>  </h1>
          <div class="separator mb-5"></div>
        </div>
      </div>
      <div class="row mb-4">
        <div class="col-12 mb-4">
          <div class="card">
            <div class="card-body">
              <div class="row">
                <div class="gencol" id='first_col'>
                  <h4 style="text-align: center;color: white;margin-top: 20px;"> PERSONAL INFORMATION</h4>
                  <div class="">
                    <div id="spacee">
                      <p> Name: <%= @patient_records.other_names + " " + @patient_records.surname %> </p>
                      <p> Patient No: <%= @patient_records.card_no %> </p>
                      <p> Mobile Number: <%= @patient_records.mobile_number %> </p>
                      <p> Date Of Birth: <%= @patient_records.dob %> </p>
                      <p> Occupation: <%= @patient_records.occupation %> </p>
                      <p> Address: <%= @patient_records.address %> </p>
                    </div>
                  </div>
                </div>
                <div class="gencol" id='sec_col'>
                  <h4 style="text-align: center; color: white;margin-top: 20px;"> VITALS</h4>
                  <div class="">
                    <div>
                      <div id="spacee">
                        <% if (@basic_med_records[0]).nil? %>
                          <p> No Vitals Recorded </p>
                        <% else  %>
                          <p> Blood Pressure: <%=  @basic_med_records[0].blood_pressure %> </p>
                          <p> Pulse: <%= @basic_med_records[0].pulse %> </p>
                          <p> Temperature: <%= @basic_med_records[0].temp %> </p>
                          <p> Respiratory Rate: <%= @basic_med_records[0].respiratory_rate %> </p>
                          <p> Saturation: <%= @basic_med_records[0].saturation %> </p>
                          <p> Weight: <%= @basic_med_records[0].weight %> </p>
                          <p> Height: <%= @basic_med_records[0].height %> </p>
                        <% end  %>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </section>
          </section>
          <main>
