
// $("#modal-window").html("<%= escape_javascript(render 'patients/show_patients') %>");
// $('#modal-window').modal('show');

$("#hey").html("<%= escape_javascript(render 'patients/show_patients') %>");
 $('#modal-window').modal('show');
