 <style>
  .blocktext {
      margin-left: auto;
      margin-right: auto;
  
      margin: 0;
    position: relative;
    left: 50%;
    margin-right: -50%;
  }
</style>
<main>
  <body class="sidebar-dark">
    <div class="main-wrapper">
      <div class="row">
        <div class="col-12">
          <h1 class="blocktext">Store Inventory Categories</h1>
          <div class="separator mb-5"></div>
        </div>
      </div>
      <div class="row mb-4">
        <div class="col-12 mb-4">
          <div class="card">
            <div class="card-body">
              <div class="table-responsive bs-example widget-shadow">
                <table class="table table-bordered">
                  <thead>
                    <tr>
                      <th class="pt-0">Name</th>
                    </tr>
                  </thead>
                  <tbody>
                    <% @store_inventory_categories.each do |store_inventory_category| %>
                      <tr class="tdd">
                        <td><%= store_inventory_category.name %></td>
                        <td><%= link_to 'Edit', edit_store_inventory_category_path(store_inventory_category) %></td>
                        <td><%= link_to 'Delete', store_inventory_category, method: :delete, data: { confirm: 'Are you sure?' } %></td>
                      </tr>
                    <% end %>
                  </tbody>
                </table>
              </div>
            </div>
            <div class="form-actions" style="text-align:center;">
              <button type="button" id="caty-button" class="btn btn-success" style="width:max-content;">
                <%= link_to 'Create Inventory Category', new_store_inventory_category_path %>
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</body>
</main>
