<body class="sidebar-dark">
  	<div class="main-wrapper">
      <div class="page-wrapper">
        	<div class="page-content">
				<button type="button" class="btn btn-primary">
						<%= link_to 'Back', categories_path %>
				</button>

				<%= render 'form', store_inventory_category: @store_inventory_category %>


			</div>
		</div>
	</diV>
</body>
