<body class="sidebar-dark">
  	<div class="main-wrapper">
      <div class="page-wrapper">
        	<div class="page-content">

<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @store_inventory_category.name %>
</p>

<p>
  <strong>Status:</strong>
  <%= @store_inventory_category.status %>
</p>

<%= link_to 'Edit', edit_store_inventory_category_path(@store_inventory_category) %> |
<%= link_to 'Back', store_inventory_categories_path %>  |
<%= link_to 'Create New Category', new_store_inventory_category_path %>


</div>
</div>
</div>
</body>
