<p id="notice"><%= notice %></p>

<h1>Listing Nurse Notes</h1>

<table>
  <thead>
    <tr>
      <th>Notes</th>
      <th>User</th>
      <th>Time</th>
      <th>Patient</th>
      <th>Status</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @nurse_notes.each do |nurse_note| %>
      <tr>
        <td><%= nurse_note.notes %></td>
        <td><%= nurse_note.user_id %></td>
        <td><%= nurse_note.time %></td>
        <td><%= nurse_note.patient_id %></td>
        <td><%= nurse_note.status %></td>
        <td><%= link_to 'Show', nurse_note %></td>
        <td><%= link_to 'Edit', edit_nurse_note_path(nurse_note) %></td>
        <td><%= link_to 'Destroy', nurse_note, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Nurse note', new_nurse_note_path %>
