<p id="notice"><%= notice %></p>

<p>
  <strong>Notes:</strong>
  <%= @nurse_note.notes %>
</p>

<p>
  <strong>User:</strong>
  <%= @nurse_note.user_id %>
</p>

<p>
  <strong>Time:</strong>
  <%= @nurse_note.time %>
</p>

<p>
  <strong>Patient:</strong>
  <%= @nurse_note.patient_id %>
</p>

<p>
  <strong>Status:</strong>
  <%= @nurse_note.status %>
</p>

<%= link_to 'Edit', edit_nurse_note_path(@nurse_note) %> |
<%= link_to 'Back', nurse_notes_path %>
