
 <link rel="stylesheet" href="/assets/dashlite.css" />

<style>

  #bodyTag {
    /* background-image: url('/assets/bgtrans.png') !important; */
  }

  .monofamily{
    font-family: monospace;
  }

</style>
<html lang="zxx" class="js">

  <body class="nk-body npc-crypto bg-white pg-auth no-touch nk-nio-theme" id="bodyTag">
    <div class="nk-app-root">
      <div class="nk-split nk-split-page nk-split-md">
        <div
          class="nk-split-content nk-block-area nk-block-area-column nk-auth-container bg-white"
        >
          <div class="nk-block nk-block-middle nk-auth-body">
            <div class="brand-logo pb-5">
              <a href="/" class="logo-link"
                ><img
                  class="logo-light logo-img logo-img-lg"
                  src="/assets/ya.png"
                  srcset="/assets/ya.png"
                  alt="logo" /><img
                  class="logo-dark logo-img logo-img-lg"
                  src="/assets/ya.png"
                  srcset="/assets/ya.png"
                  alt="logo-dark"
              /></a>
            </div>
            <div class="nk-block-head">
              <div class="nk-block-head-content">
                <h5 class="nk-block-title monofamily">Sign-In</h5>
                <div class="nk-block-des">
                  <p class="monofamily">
                    Access the Yarysa panel using your username and passcode.
                  </p>
                </div>
              </div>
            </div>
          
              <%= simple_form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
              <div class="form-group">
                <div class="form-label-group monofamily">
                  <label class="form-label monofamily" for="default-01"
                    >Username </label
                  >
                </div>
              

                 <%= f.input :username,
                required: false, label: false,
                autofocus: true,
                input_html: {placeholder: "Enter your username", class: "form-control form-control-lg" } %>
              </div>
              <div class="form-group">
                <div class="form-label-group monofamily">
                  <label class="form-label monofamily" for="password">Passcode</label
                  >
                </div>
                <div class="form-control-wrap">

                  <%= f.input :password,
                required: false, label: false,
                input_html: { placeholder: "Enter your passcode", class: "form-control form-control-lg" } %>
               
                </div>
              </div>
              <div class="form-group">
                <button class="btn btn-lg btn-primary btn-block monofamily">
                  Sign in
                </button>
              </div>
      <% end %>
      
            
          
           
          </div>
          <div class="nk-block nk-auth-footer">
            <div class="nk-block-between">
              <ul class="nav nav-sm">
                <li class="nav-item">
                  <a class="nav-link monofamily" href="#">Terms &amp; Condition</a>
                </li>
                <li class="nav-item monofamily">
                  <a class="nav-link monofamily" href="#">Privacy Policy</a>
                </li>
                <li class="nav-item monofamily"><a class="nav-link monofamily" href="#">Help</a></li>
                
              </ul>
            </div>
            <div class="mt-3"><p class="monofamily">© 2021 <a href="https://devdexsoftware.com" target="_blank">Devdex Software</a>. All Rights Reserved.</p></div>
          </div>
        </div>
        <div
          class="nk-split-content nk-split-stretch bg-lighter d-flex toggle-break-lg toggle-slide toggle-slide-right toggle-screen-lg"
          data-content="athPromo"
          data-toggle-screen="lg"
          data-toggle-overlay="true"
        >

        
                    
                    <div class="nk-feature nk-feature-center">
                      <div class="nk-feature-img">

                           <div class="tasks-group active" id="taskGroup">

                        <!-- First Slide -->
                        <div  class="first-slide" >
                          <label class="task task-item" style="left: 42%; top: 22%; z-index: 1;">
                            <input type="checkbox">
                            <span class="-blue-green" style="animation-delay: -2s;">
                              <div class="check"></div>Faster Consultations
                            </span>
                          </label>
                          <label class="task task-shadow -blue-green" style="left: 42%; top: 22%; animation-delay: -2s; z-index: 0;">
                            <input type="checkbox">
                            <span>
                              <div class="check"></div>Design A/B test
                            </span>
                          </label>
                        </div> 

                        <!-- Second Slide --> 
                        <div class="second-slide">
                          <label class="task task-item" style="left: 8%; top: 45%; z-index: 2;">
                            <input type="checkbox">
                            <span class="-gold" style="animation-delay: -3s;">
                              <div class="check"></div>Robust Inventory System
                            </span>
                          </label>
                          <label class="task task-shadow -gold" style="left: 8%; top: 45%; animation-delay: -3s; z-index: 1;">
                            <input type="checkbox">
                            <span>
                              <div class="check"></div>Produce creative assets
                            </span>
                          </label>
                        </div>

                        <!-- Third Slide -->
                        <div class="third-slide">
                          <label class="task task-item" style="left: 38%; top: 55%; z-index: 5;">
                            <input type="checkbox">
                            <span class="-violet" style="animation-delay: -4s;">
                              <div class="check"></div>Complete Pharmacy Module
                            </span>
                          </label>
                          <label class="task task-shadow -violet" style="left: 38%; top: 55%; animation-delay: -4s; z-index: 4;">
                            <input type="checkbox">
                            <span>
                              <div class="check"></div>Analyze our way to happy customers
                            </span>
                          </label>
                        </div>

                          <!-- fourht -->
                        <div class="four-slide">
                          <label class="task task-item" style="left: 38%; top: 55%; z-index: 5;">
                            <input type="checkbox">
                            <span class="yarysa" style="animation-delay: -4s;">
                              <div class="check"></div>Laboratory/Radiology Module
                            </span>
                          </label>
                          <label class="task task-shadow yarysa" style="left: 38%; top: 55%; animation-delay: -4s; z-index: 4;">
                            <input type="checkbox">
                            <span>
                              <div class="check"></div>Analyze our way to happy customers
                            </span>
                          </label>
                        </div>


                           <!-- fifth -->
                        <div class="five-slide">
                          <label class="task task-item" style="left: 38%; top: 55%; z-index: 5;">
                            <input type="checkbox">
                            <span class="yell" style="animation-delay: -4s;">
                              <div class="check"></div>In-Patient / Admission
                            </span>
                          </label>
                          <label class="task task-shadow yell" style="left: 38%; top: 55%; animation-delay: -4s; z-index: 4;">
                            <input type="checkbox">
                            <span>
                              <div class="check"></div>Analyze our way to happy customers
                            </span>
                          </label>
                        </div>
                      </div>



                      
                        
                        <img
                           class="round"
                          src="/assets/bgtrans.png"
                          srcset="/assets/bgtrans.png"
                          alt=""
                        />
                        
                      </div>

                      <%# <div class="tasks-group active" id="taskGroup">

                        <!-- First Slide -->
                        <div  class="first-slide" >
                          <label class="task task-item" style="left: 42%; top: 22%; z-index: 1;">
                            <input type="checkbox">
                            <span class="-blue-green" style="animation-delay: -2s;">
                              <div class="check"></div>Design A/B test
                            </span>
                          </label>
                          <label class="task task-shadow -blue-green" style="left: 42%; top: 22%; animation-delay: -2s; z-index: 0;">
                            <input type="checkbox">
                            <span>
                              <div class="check"></div>Design A/B test
                            </span>
                          </label>
                        </div> 

                        <!-- Second Slide --> 
                        <div class="second-slide">
                          <label class="task task-item" style="left: 8%; top: 45%; z-index: 2;">
                            <input type="checkbox">
                            <span class="-gold" style="animation-delay: -3s;">
                              <div class="check"></div>Produce creative assets
                            </span>
                          </label>
                          <label class="task task-shadow -gold" style="left: 8%; top: 45%; animation-delay: -3s; z-index: 1;">
                            <input type="checkbox">
                            <span>
                              <div class="check"></div>Produce creative assets
                            </span>
                          </label>
                        </div>

                        <!-- Third Slide -->
                        <div class="third-slide">
                          <label class="task task-item" style="left: 38%; top: 55%; z-index: 5;">
                            <input type="checkbox">
                            <span class="-violet" style="animation-delay: -4s;">
                              <div class="check"></div>Analyze our way to happy customers
                            </span>
                          </label>
                          <label class="task task-shadow -violet" style="left: 38%; top: 55%; animation-delay: -4s; z-index: 4;">
                            <input type="checkbox">
                            <span>
                              <div class="check"></div>Analyze our way to happy customers
                            </span>
                          </label>
                        </div>
                      </div> %>
                      <div class="nk-feature-content py-4 p-sm-5">
                         <h4>Africa's first Blockchain EMR</h4>
                        <p>
                          Seamlessly making your hospital processes easy whiles saving cost and optimizing productivity
                        </p>
                      </div>
                    </div>
                  </div>
                
                  
    
                </div>
              </div>
       
            </div>
           
          </div>
        </div>
      </div>
    </div>
  
   
   
   
  </body>
</html>

