<style>
  .blocktext {
      margin-left: auto;
      margin-right: auto;
  
      margin: 0;
    position: relative;
    left: 50%;
    margin-right: -50%;
  }
</style>
<main>
  <section id="main-content">
    <section class="wrapper">
      <div class="row">
        <div class="col-12">
          <h1 class="blocktext">Roles Setup</h1>
          <div class="separator mb-5"></div>
        </div>
      </div>
      <div class="row mb-4">
        <div class="col-12 mb-4">
          <div class="card">
            <div class="card-body">
              <div class="table-responsive bs-example widget-shadow">
                <table class="table table-bordered">
                  <thead>
                    <tr>
                      <!--  <th data-breakpoints="xs">ID</th> -->
                      <th data-breakpoints="xs">Role name</th>
                      <!--  <th data-breakpoints="xs">Created at</th> -->
                      <!--  <th colspan="3"></th> -->
                    </tr>
                  </thead>
                  <tbody>
                    <% count=1 %>
                    <% @roles.each do |role| %>
                      <tr>
                        <td style="width: 5px"><%= role.role_name %></td>
                        <!--  <td style="width: 5px"><%#= link_to 'Show', role,class:'"btn btn-success btn-sm btn3d"' %></td> -->
                        <td style="width: 5px"><%= link_to 'Edit', edit_role_path(role),class:'"btn btn-primary btn-sm btn3d"' %></td>
                      <% end %>
                    </tbody>
                  </table>
                </div>
              </div>
              <center >
                <%= link_to 'New Role', new_role_path ,class:'btn btn-success'%>
              </center>
              <br>
            </div>
          </div>
        </div>
      </section>
    </section>
  </main>
