<style>
  .blocktext {
      margin-left: auto;
      margin-right: auto;
  
      margin: 0;
    position: relative;
    left: 50%;
    margin-right: -50%;
  }
</style>
<main>
  <section id="main-content">
    <section class="wrapper">
      <div class="row">
        <div class="col-12">
          <h1 class="blocktext">Radio/Ultra Results</h1>
          <div class="separator mb-5"></div>
        </div>
      </div>
      <div class="row mb-4">
        <div class="col-12 mb-4">
          <div class="card">
            <div class="card-body">
              <div class="table-responsive bs-example widget-shadow">
                <table class="table table-bordered">
                  <thead>
                    <tr>
                      <th>Patient No</th>
                      <th>Patient</th>
                      <th>Lab Ordered</th>
                      <th>Date</th>
                      <th colspan="3"></th>
                    </tr>
                  </thead>
                  <tbody>
                    <% count=1 %>
                    <% @radio_test_results.each do |test_result| %>
                      <tr>
                        <td><%= test_result.card_no %></td>
                        <td><%= test_result.other_names + " " +  test_result.surname %></td>
                        <td><%= test_result.service_name %></td>
                        <td ><%= test_result.created_at %></td>
                        <% if test_result.avafile.attached? %>
                          <td class='"btn btn-warning btn-sm btn3d"'> <%= link_to "View Results", rails_blob_path(test_result.avafile, disposition: "attachment")  %></td>
                        <% end%>
                        <% if test_result.document? %>
                          <td class='"btn btn-info btn-sm btn3d"'> <%= link_to "Old Radio/Ultra Results", test_result.document.url, target: "_blank" %></td>
                        <% end%>
                      </tr>
                      <% count=count+1 %>
                    <% end %>
                  </tbody>
                </table>
              </div>
            </div>
          </section>
        </section>
      </main>
