<p id="notice"><%= notice %></p>

<p>
  <strong>Results:</strong>
  <%= @radio_test_result.results %>
</p>

<%= link_to 'Edit', edit_radio_test_result_path(@radio_test_result) %> |
<%= link_to 'Back', radio_test_results_path %>
