/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *

  *= require fullcalendar
 *= require daterangepicker
 *= require jquery-ui
 *= require simple_calendar
*= require_tree  .
 *= require_self

 */

/**= require simple_calendar*/

.invoice {
  width: 700px;
  max-width: 700px;
  border: 1px solid grey;
  margin: 50px;
  padding: 50px;
}

h1 {
  text-align: center;
  margin-bottom: 100px;
}

.notes {
  margin-top: 100px;
}

table {
  width: 100%;
  text-align: center;
}
th {
  padding-bottom: 15px;
}

.total td {
  font-size: 20px;
  font-weight: bold;
  padding-top: 25px;
}

.t_data {
  background-color: rgba(110, 129, 149, 0.96);
  color: #fbfbff;
  font-size: 10px !important;
}

.t_data2 {
  background-color: rgba(251, 251, 255, 0.96);
  color: #000000;
  font-size: 10px !important;
}

.table_data {
  background-color: rgba(110, 129, 149, 0.96);
  color: #fbfbff;
}

.table_data2 {
  background-color: rgba(251, 251, 255, 0.96);
  color: #000000;
}

#badgeSpan a{
  color: white;
}

#store_table {
  margin-left: -40px;
  margin-top: 30px;
  width: 50%;
  text-align: center;
}

#storeThead {
  color: slateblue;
  font-size: 15px;
}
