
/* Custom Addition to Store Request Table */

#store_table {
    margin-left: -40px;
    margin-top: 30px;
    width: 50%;
    text-align: center;
  }
  
#storeThead {
    color: slateblue;
    font-size: 15px;
  }