<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>

<%= simple_form_for @appointment, remote: true  do |f| %>
<div class="form-inputs">
	<%= f.input :description, as: :text, input_html: {  rows: "4" } %>
	<%= f.input :doctor_id, collection: User.where("role_id = 1"), label_method: :fullname, value_method: :id,class:'form-control'%>
	<!-- <%#= f.input :patient_id, collection: Patient.all, label_method: :surname, value_method: :id,class:'form-control'%> -->
	<%= f.input :patient_id,  label: "Patient",collection: Patient.all.map{|a| ["#{a.surname} #{a.other_names}", a.id] } , input_html: { class: "form-control" }%> 

	<%= f.input :app_time, label: "Appointment Time", as: :string,input_html: { id: "datepicker",placeholder: 'dd-mm-yy'}  %>
	<%= f.input :color, label: "Color" ,collection: [['yellow', 'yellow'], ['red', 'red'],['blue', 'blue'],['pink', 'pink']], label_method: :second, value_method: :first,input_html: { class: "form-control" }%>
	<%= f.input :status,as: :hidden ,input_html: {value: 0 }%>
</div>

<div class="form-actions">
	<%= f.button :submit %>
	<%= link_to 'Delete',
	appointment,
	method: :delete,
	class: 'btn btn-danger',
	data: { confirm: 'Are you sure?' },
	remote: true unless @appointment.new_record? %>
</div>
<% end %>

<!-- <script>
	$(document).on('page:load')
	$(document).ready();
	$(function() {
	$("#datepicker").datepicker({
	dateFormat:'dd-mm-yy'
	});
	});
</script> -->

<script type="text/javascript">
  $('#datepicker').datepicker()
  $('[data-behaviour~=datepicker]').datepicker();
</script>

<!-- <script>
	$(function() {
	$("#datepicker").datepicker({
	dateFormat:'dd-mm-yy'
	});
	});
</script> -->



