
   <script>
  $( function() {
    $( "#datepicker" ).datepicker({

      dateFormat:'dd-mm-yy'
    });
  } );
  </script>
     <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
     
<div class="modal fade" id="new_appointment">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title">Create New Appointment</h4>
      </div>
      <div class="modal-body">
        <%= render 'form', appointment: @appointment %>
      </div>
    </div>
  </div>
</div>
