

<%# logger.info "patient in index: #{@patient_id}" %>
<%#= content_tag :div, id: "patient_id_class", data: {patient_id: @patient_id} do %>
<%# end %> 

<!-- <section id="main-content">
  <section class="wrapper">
 
  <div id='calendar'></div>


  </section>
</section> -->





<section id="main-content">
  <section class="wrapper">
     
    <div class="table-agile-info">
 <div class="panel panel-default">
  
 
                             
<br>
<br>
    <div class="panel-heading" style="margin-top: 4%;">
  Appointments History
    </div>
    
    <div style="overflow-x:auto;">
      <table class="table" ui-jq="footable" ui-options='{
        "paging": {
          "enabled": true
        },
        "filtering": {
          "enabled": true
        },
        "sorting": {
          "enabled": true
        }}'>
        <thead>
          <tr>

              <th data-breakpoints="xs">No</th> 
   
      <th>Appointment Date </th>
       <th>Description </th>
      <th>Booked On</th>
       
      
      <th colspan="3"></th>
      <th colspan="3"></th>
      <th colspan="3"></th>

          </tr>
        </thead>
        <tbody>
      <% count=1 %>

           <% @appointment_documents.each do |patient| %>
      <tr>
         
        <td><%= count %></td> 
       	
       	<td><%= patient.app_time %></td>
       	<td><%= patient.description %></td>
         <td><%= patient.created_at %></td>
         
         
         <!--  <td ><%#= link_to 'View Documents', view_documentation_path(:id => patient.created_at),{:remote => true, class:'"btn btn-warning btn-sm btn3d"','data-toggle' =>  "modal",'data-target' => '#myModal1'} %></td>  -->
         
       
      </tr>
       <% count=count+1 %> 
    <% end %>
       
           

        </tbody>
      </table>


 <center>
 <%= link_to  'New Appointment', appt_documentation_path(:id => @patient_id), {:remote => true, :class => "btn btn-primary btn-sm" ,'data-toggle' =>  "modal", 'data-target' => '#myModal'} %>

     </center>   

  </div>
</div>
</section>
 
</section>




<div id="myModal" class="modal fade" role="dialog">
  <div class="modal-dialog">


    <div class="modal-content" >
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title"> Book Appointment</h4>
      </div>
      <div class="modal-body" id = 'fii'>
      <%= render "appt_documentation" %>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>

  </div>
</div>







