$('.calendar').fullCalendar('removeEvents', [<%= @appointment.id %>]);
$('.calendar').fullCalendar(
  'renderEvent', 
  $.parseJSON("<%=j render(@appointment, format: :json).html_safe %>"),
  true
);
$('.modal').modal('hide');
