<style>
  .blocktext {
      margin-left: auto;
      margin-right: auto;
  
      margin: 0;
    position: relative;
    left: 50%;
    margin-right: -50%;
  }
</style>
<main>
  <section id="main-content">
    <section class="wrapper">
      <div class="row">
        <div class="col-12">
          <h1 class="blocktext">Categories</h1>
          <div class="separator mb-5"></div>
        </div>
      </div>
      <div class="row mb-4">
        <div class="col-12 mb-4">
          <div class="card">
            <div class="card-body">
              <div class="table-responsive bs-example widget-shadow">
                <table class="table table-bordered">
                  <thead>
                    <tr>
                      <th>Category name</th>
                      <th colspan="3"></th>
                    </tr>
                  </thead>
                  <tbody>
                    <% @categories.each do |category| %>
                      <tr>
                        <td><%= category.category_name %></td>
                        <td><%= link_to 'Edit', edit_category_path(category) %></td>
                      </tr>
                    <% end %>
                  </tbody>
                </table>
                <br>
                <div class="blocktext">
                  <%= link_to 'New Category', new_category_path,  class:'btn btn-success'%>
                </div>
              </div>
            </div>
          </div>
        </section>
      </section>
    </main>
