<!-- <body> -->
<!-- <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
  <link rel="stylesheet" href="/resources/demos/style.css"> -->
<%# <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
  <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script> %>
<div class="table-agile-info">
  <%= simple_form_for(@basic_med_record) do |f| %>
    <%= f.error_notification %>
    <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>
    <div class="input-width">
      <%= f.input :blood_pressure, label: "Blood pressure", as: :string,input_html: { placeholder: ' ' } %>
    </div>
    <div class="input-width">
      <%= f.input :pulse, label: "Pulse", as: :string,input_html: { placeholder: ' ' } %>
    </div>
    <div class="input-width" >
      <%= f.input :temp, label: "Temperature", as: :string,input_html: { placeholder: ' ' } %>
    </div>
    <div class="input-width">
      <%= f.input :respiratory_rate, label: "Respiratory rate", as: :string,input_html: { placeholder: ' ' } %>
    </div>
    <div class="input-width" >
      <%= f.input :saturation, label: "Oxygen Saturation (%)", as: :string,input_html: { placeholder: ' ' } %>
    </div>
    <div class="input-width" >
      <%= f.input :weight, label: "Weight (Kg)", as: :string,input_html: { placeholder: ' ' } %>
    </div>
    <div class="input-width" >
      <%= f.input :height, label: "Height (cm)", as: :string,input_html: { placeholder: ' ' } %>
    </div>
    <div >
      <%= f.input :complaints, label: "Complaints / Progress Note / Nurses Comments", as: :text, input_html: {  rows: "4" } %>
    </div>
    <div class="form-inputs">
      <%= f.input :user_id, :as=> :hidden,input_html: {value: current_user.id} %>
      <% logger.info "role in index: #{current_user.role_id}" %>
    </div>
    <div class="form-inputs">
      <% if (defined?(@patient_id)).nil? %>
        <%= f.input :patient_id,:as=> :hidden %>
      <% else  %>
        <%= f.input :patient_id, :as=> :hidden,input_html: {value: @patient_id} %>
        <!-- <p>Basic Medical Record</>  -->
        <% logger.info "patient in index: #{@patient_id}" %>
      </div>
      <div class="form-inputs">
        <%= f.input :status, :as=> :hidden, input_html: {value: 0 } %>
      </div>
      <div class="form-inputs">
        <%= f.input :admission_status, :as=> :hidden, input_html: {value: 1 } %>
      </div>
      <center>
        <div class="form-actions">
          <%#= f.button :submit %>
          <%= f.submit "Submit Patients Admission vitals",:class => "btn btn-primary btn-sm" %>
        </div>
      </center>
    <% end %>
    <!--  </fieldset>
        </div> -->
  <% end %>
</div>
