


  <div class="row2">
    <div class="col-md-12 col-md-offset-0">

      <%#= content_tag :div, "", id: "myfirstchart", data: {records: @basic_med_records} %>

    <!--  <div id="myfirstchart" style="height: 250px;"></div> -->

    <%= line_chart (@highcharts_data), xtitle: "Time", ytitle: "Temperature"%>
          
  </div>

 <script type="text/javascript">

new Morris.Line({
  // ID of the element in which to draw the chart.
  element: 'myfirstchart',
  // Chart data records -- each entry in this array corresponds to a point on
  // the chart.
  data: $('#myfirstchart').data('records'),
  // The name of the data record attribute that contains x-values.
  xkey: 'temp',
  // A list of names of data record attributes that contain y-values.
  ykeys: ['respiratory_rate'],
  // Labels for the ykeys -- will be displayed when you hover over the
  // chart.
  labels: ['Respiratory Rate']
});

</script>


</div>





  






