<%# <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
  <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script> %>
<div class="table-agile-info">
  <%= simple_form_for(@assign_to_doctor, :url =>{:controller => 'assign_patients', :action => 'assign_to_a_doctor'}) do |f| %>
    <%= f.error_notification %>
    <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>
    <div class="container">
      <fieldset>
        <div class="">
          <div class="col-md-12">
            <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token.to_s %>">
            <div class="ggg">
              <%#= f.input :personnel_id,label: "Select a Doctor", collection: User.where("role_id = 1"), label_method: :fullname, value_method: :role_id,class: "ggg" %>   <!-- This goes to all doctors -->
              <%= f.input :personnel_id,label: "Select a Doctor", collection: User.where("role_id = 1"), label_method: :fullname, value_method: :id,class: "ggg" %>  <!-- this goes to a specific doctor -->
            </div>
            <div class="form-inputs">
              <%= f.input :user_id, :as=> :hidden,input_html: {value: current_user.id} %>
              <% logger.info "role in index: #{current_user.role_id}" %>
            </div>
            <div class="form-inputs">
              <%= f.input :role_id, :as=> :hidden,input_html: {value: current_user.role_id} %>
              <% logger.info "role in index: #{current_user.role_id}" %>
            </div>
            <div class="form-inputs">
              <% if (defined?(@patient_id)).nil? %>
                <%= f.input :patient_id,:as=> :hidden %>
              <% else  %>
                <%= f.input :patient_id, :as=> :hidden,input_html: {value: @patient_id} %>
                <% logger.info "Rnning" %>
                <% logger.info "patient in index: #{@patient_id}" %>
              <% end %>
            </div>
            <div class="form-inputs">
              <% if (defined?(@basic_med_id)).nil? %>
                <%= f.input :basic_medical_record_id,:as=> :hidden %>
              <% else  %>
                <%= f.input :basic_medical_record_id, :as=> :hidden,input_html: {value: @basic_med_id} %>
                <% logger.info "Rnning" %>
                <% logger.info "patient in index: #{@patient_id}" %>
              </div>
              <div class="form-inputs">
                <%= f.input :status, :as=> :hidden, input_html: {value: 1 } %>
              </div>
              <center>
                <div class="form-actions">
                  <%#= f.button :submit %>
                  <%= f.submit "Assign Patient" ,:class =>'"btn btn-primary btn-sm btn3d"'%>
                </div>
              </center>
            <% end %>
          <% end %>
        </div>
        <script type="text/javascript">
          $(function() {
          $('#datetimepicker6').datetimepicker({
          format : 'YYYY-MM-D H:m:s'
          });
          $("#datetimepicker6").on("dp.change", function(e) {
          $('#datetimepicker7').data("DateTimePicker").minDate(e.date);
          });
          });
          
          $(document).ready(function() {
          $("#sent_status").show();
          });
        </script>
