<%= simple_form_for(@nurse_note) do |f| %>
  <%= f.error_notification %>
  <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>
  <div class="form-inputs">
    <%#= f.input :notes %>
    <%= f.input :notes,label: "Write Nursing Notes", as: :text, input_html: { rows: "5",placeholder: 'Notes'}  %>
    <%#= f.input :time %>
    <%= f.input :time, label: "Time", as: :string,input_html: { id: "datetimepicker",placeholder: 'Choose time' }  %>
    <div class="form-inputs">
      <%= f.input :user_id, :as=> :hidden,input_html: {value: current_user.id} %>
      <% logger.info "role in index: #{current_user.role_id}" %>
    </div>
    <div class="form-inputs">
      <%= f.input :patient_id, :as=> :hidden,input_html: {value: @patient_id} %>
      <% logger.info "role in index: #{current_user.role_id}" %>
      <%= f.input :status, :as=> :hidden,input_html: {value: 0} %>
    </div>
    <div class="form-actions">
      <%= f.button :submit ,:class => "btn btn-primary btn-sm" %>
    </div>
  <% end %>
  <script type="text/javascript">
    $('#datetimepicker').datetimepicker({
      format : 'HH:mm:ss'
    })
    $('[data-behaviour~=datetimepicker]').datetimepicker();
  </script>
