<% if (defined?(@documents)).nil? %>
<% else  %>
  <div class="row">
    <div class="col-md-12 col-md-offset-0">
      <table class="custab table table-striped table-hover table-bordered">
        <br>
        <br>
        <br>
        <td style="background-color:rgba(110, 129, 149, 0.96);color:#fbfbff">Blood pressure</td>
        <td style="background-color:rgba(251, 251, 255, 0.96);color:#000000"><%=   @documents[0].blood_pressure %></td>
      </tr>
      <tr>
        <td style="background-color:rgba(110, 129, 149, 0.96);color:#fbfbff">pulse</td>
        <td style="background-color:rgba(251, 251, 255, 0.96);color:#000000"><%=   @documents[0].pulse %></td>
      </tr>
      <tr>
        <td style="background-color:rgba(110, 129, 149, 0.96);color:#fbfbff">Temp</td>
        <td style="background-color:rgba(251, 251, 255, 0.96);color:#000000"><%=   @documents[0].temp %></td>
      </tr>
      <tr>
        <td style="background-color:rgba(110, 129, 149, 0.96);color:#fbfbff">Respiratory Rate</td>
        <td style="background-color:rgba(251, 251, 255, 0.96);color:#000000"><%=   @documents[0].respiratory_rate %></td>
      </tr>
      <tr>
        <td style="background-color:rgba(110, 129, 149, 0.96);color:#fbfbff">Weight </td>
        <td style="background-color:rgba(251, 251, 255, 0.96);color:#000000"><%=   @documents[0].weight %></td>
      </tr>
      <tr>
        <td style="background-color:rgba(110, 129, 149, 0.96);color:#fbfbff">Height</td>
        <td style="background-color:rgba(251, 251, 255, 0.96);color:#000000"><%=   @documents[0].height %></td>
      </tr>
      <tr>
        <td style="background-color:rgba(110, 129, 149, 0.96);color:#fbfbff">Saturation</td>
        <td style="background-color:rgba(251, 251, 255, 0.96);color:#000000"><%=   @documents[0].saturation %></td>
      </tr>
    </table>
    <p style="background-color:rgba(110, 129, 149, 0.96);color:#fbfbff">Complaints</p>
    <p style="background-color:rgba(251, 251, 255, 0.96);color:#000000;overflow-wrap: break-word;"><%=   @documents[0].complaints %>
      <p>
      </div>
    </div>
  <% end %>
