<style>
  .blocktext {
      margin-left: auto;
      margin-right: auto;
  
      margin: 0;
    position: relative;
    left: 50%;
    margin-right: -50%;
  }
</style>
<main>
  <section id="main-content">
    <section class="wrapper">
      <div class="row">
        <div class="col-12">
          <h1 class="blocktext"> Lists of Nurse Vitals On Patients (OPD) </h1>
          <div class="separator mb-5"></div>
        </div>
      </div>
      <div class="row mb-4">
        <div class="col-12 mb-4">
          <div class="card">
            <div class="card-body">
              <div class="table-responsive bs-example widget-shadow">
                <table class="table table-bordered">
                  <thead>
                    <tr>
                      <!-- <th data-breakpoints="xs">No</th>  -->
                      <th>Patient</th>
                      <th>Nurse</th>
                      <th>Vitals taken On</th>
                      <th colspan="3"></th>
                      <th colspan="3"></th>
                      <th colspan="3"></th>
                    </tr>
                  </thead>
                  <tbody>
                    <% #count=1 %>
                    <% @basic_med_records.each do |basic_med_record| %>
                      <tr>
                        <td id="whitespace"><%= basic_med_record.other_names + " " +  basic_med_record.surname%></td>
                        <td id="whitespace"><%= basic_med_record.fullname %></td>
                        <td id="whitespace"><%= basic_med_record.created_at.strftime("%B %d, %Y, %H:%M") %></td>
                        <td id="whitespace"><%= link_to 'View Vitals Record', view_nurse_record_path(:id => basic_med_record.created_at),{:remote => true, class:'"btn btn-warning btn-sm btn3d"','data-toggle' =>  "modal",'data-target' => '#myModal5'} %></td>
                        <td id="whitespace"><%= link_to 'Assign Patient To Doctor' , assign_a_patient2_path(:id => basic_med_record.id), {:remote => true, class:'"btn btn-info btn-sm btn3d"','data-toggle' =>  "modal", 'data-target' => '#myModal4'} %></td>
                      </tr>
                      <%# count=count+1 %>
                    <% end %>
                  </tbody>
                </table>
                <center>
                  <div class="blocktext">>
                    <%= will_paginate @basic_med_records %>
                  </div>
                </center>
                <br>
              </div>
            </div>
          </div>
        </section>
      </section>
    </main>
    <div id="myModal5" class="modal fade" role="dialog">
      <div class="modal-dialog">
        <div class="modal-content" >
          <div class="modal-header">
            <h4 class="modal-title"> Vital Records</h4>
            <button type="button" class="btn btn-default" data-dismiss="modal">
              &times;
            </button>
          </div>
          <div class="modal-body" id = 'fire'>
            <%= render "view_nurse_record" %>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">
              Close
            </button>
          </div>
        </div>
      </div>
    </div>
    <div id="myModal4" class="modal fade" role="dialog" >
      <div class="modal-dialog" >
        <!-- Modal content-->
        <div class="modal-content" >
          <div class="modal-header" >
            <h4 class="modal-title"> Assign Doctor To A Patient</h4>
            <button type="button" class="close" data-dismiss="modal">
              &times;
            </button>
          </div>
          <div class="modal-body"  id = 'hey1' >
            <%= render "assign_a_patient2"   %>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">
              Close
            </button>
          </div>
        </div>
      </div>
    </div>
