<style>
  .blocktext {
      margin-left: auto;
      margin-right: auto;
  
      margin: 0;
    position: relative;
    left: 50%;
    margin-right: -50%;
  }
</style>
<main>
  <section id="main-content">
    <section class="wrapper">
      <div class="row">
        <div class="col-12">
          <h2 class="blocktext">  VITALS FOR <%= @patient_records.other_names + " " + @patient_records.surname %></h2>
          <div class="separator mb-5"></div>
        </div>
      </div>
      <%= line_chart (@highcharts_data), xtitle: "Time", ytitle: "Temperature"%>
      <div class="row mb-4">
        <div class="col-12 mb-4">
          <div class="card">
            <div class="card-body">
              <div class="table-responsive bs-example widget-shadow">
                <table class="table table-bordered">
                  <thead>
                    <tr>
                      <th>Temperature</th>
                      <th>Blood Pressure</th>
                      <th>Pulse</th>
                      <th>Respiratory Rate</th>
                      <th>Date/Time</th>
                      <th>Nurse</th>
                       <%if current_user.role_id == 3%>
                      <th colspan="3">  <%= link_to  'New Vitals (admission) ', admission_basic_medical_path(:id => @patient_id), {:remote => true, :class => "btn btn-primary btn-sm" ,'data-toggle' =>  "modal", 'data-target' => '#myModal2'} %></th>
                   <%end%>
                    </tr>
                  </thead>
                  <tbody>
                    <% #count=1 %>
                    <% @basic_med_records.each do |basic_med_record| %>
                      <tr>
                        <td id="whitespace"><%= basic_med_record.temp%></td>
                        <td id="whitespace"><%= basic_med_record.blood_pressure%></td>
                        <td id="whitespace"><%= basic_med_record.pulse%></td>
                        <td id="whitespace"><%= basic_med_record.respiratory_rate%></td>
                        <td id="whitespace"><%= basic_med_record.created_at.strftime("%B %d, %Y, %H:%M") %></td>
                        <td id="whitespace"><%= basic_med_record.fullname %></td>
                        <td id="whitespace"><%= link_to 'View More Record', view_nurse_record_path(:id => basic_med_record.created_at),{:remote => true, class:'"btn btn-warning btn-sm btn3d"','data-toggle' =>  "modal",'data-target' => '#myModal5'} %></td>
                      </tr>
                      <%# count=count+1 %>
                    <% end %>
                  </tbody>
                </table>
                <%if current_user.role_id == 3%>
                <center>
                  <%= link_to  'New Vitals (admission) ', admission_basic_medical_path(:id => @patient_id), {:remote => true, :class => "btn btn-primary btn-sm" ,'data-toggle' =>  "modal", 'data-target' => '#myModal2'} %>
                </center>
                <%end%>
                <br>
              </div>
            </div>
          </div>
        </section>
      </section>
    </main>
    <div  id="myModal2" class="modal fade" role="dialog">
      <div class="modal-dialog">
        <div class="modal-content" >
          <div class="modal-header">
            <h4 class="modal-title"> Create Patient Vitals (Admission)</h4>
            <button type="button" class="close" data-dismiss="modal">&times;</button>
          </div>
          <div class="modal-body" id = 'basic'>
            <%= render "admission_basic_medical" %>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
          </div>
        </div>
      </div>
    </div>
    <div id="myModal5" class="modal fade" role="dialog">
      <div class="modal-dialog">
        <div class="modal-content" >
          <div class="modal-header">
            <h4 class="modal-title"> Nurse Clinical Documents / Vitals (Admission)</h4>
            <button type="button" class="close" data-dismiss="modal">&times;</button>
          </div>
          <div class="modal-body" id = 'fire'>
            <%= render "view_nurse_record" %>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
          </div>
        </div>
      </div>
    </div>
    <div id="myModal6" class="modal fade" role="dialog">
      <div class="modal-dialog">
        <div class="modal-content" >
          <div class="modal-header">
            <h4 class="modal-title"> VITAL GRAPH</h4>
            <button type="button" class="close" data-dismiss="modal">&times;</button>
          </div>
          <div class="modal-body" id = 'graph'>
            <%#= render "admission_vital_graph" %>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
          </div>
        </div>
      </div>
    </div>
