<p id="notice"><%= notice %></p>

<p>
  <strong>Patient:</strong>
  <%= @basic_med_record.patient_id %>
</p>

<p>
  <strong>Blood pressure:</strong>
  <%= @basic_med_record.blood_pressure %>
</p>

<p>
  <strong>Pulse:</strong>
  <%= @basic_med_record.pulse %>
</p>

<p>
  <strong>Temp:</strong>
  <%= @basic_med_record.temp %>
</p>

<p>
  <strong>Respiratory rate:</strong>
  <%= @basic_med_record.respiratory_rate %>
</p>

<p>
  <strong>User:</strong>
  <%= @basic_med_record.user_id %>
</p>

<%= link_to 'Edit', edit_basic_med_record_path(@basic_med_record) %> |
<%= link_to 'Back', basic_med_records_path %>
