  <div class="row2">
    <div class="col-md-12 col-md-offset-0">
      <table class="custab table table-striped table-hover table-bordered">

        


         
               <% if (defined?(@documents)).nil? %>
               
               <tr>  
            <td style="background-color:rgba(110, 129, 149, 0.96);color:#fbfbff">Review  Notes</td>
            <td style="background-color:rgba(251, 251, 255, 0.96);color:#000000"><%= 'Notes' %></td>
          </tr>
          
                  <% else  %>

                  <% @documents.each do |document| %>
            <tr>  
            <td style="background-color:rgba(110, 129, 149, 0.96);color:#fbfbff">Review  Notes</td>
            <td style="background-color:rgba(251, 251, 255, 0.96);color:#000000"><%=   document.review_text  %></td>
          </tr>
           <tr>
            <td style="background-color:rgba(110, 129, 149, 0.96);color:#fbfbff">Date</td>
            <td style="background-color:rgba(251, 251, 255, 0.96);color:#000000"><%=   document.created_at  %></td>
          </tr>

          <% end %>
          
<% end %>

 </table>
          
  </div>
</div>