<div class="table-agile-info" >
  <%= simple_form_for(@a_discharge_note,:url =>{:controller => 'admissions', :action => 'a_discharge_note'}) do |f| %>
    <%= f.error_notification %>
    <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>
    <div class="ggg">
      <%= f.input :discharge_note, label: "Enter Discharge Note", as: :text, input_html: {  rows: "4" } %>
    </div>
    <div class="form-inputs">
      <%= f.input :created_at, :as => :hidden , input_html: {value: @created_at} %>
    </div>
    <center>
      <div class="form-actions">
        <%#= f.button :submit %>
        <%= f.submit "Submit" ,:class =>'"btn btn-primary btn-sm btn3d"'%>
      </div>
    </center>
  <% end %>
</div>
