<div class="table-agile-info" >
  <%= simple_form_for(@clinic_document) do |f| %>
    <%= f.error_notification %>
    <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>
    <div class="row2">
      <% if (defined?(@blood_pressure)).nil? %>
      <% else  %>
        <div class="cent"  >
          <h4>Basic Medical Record</h4>
        </div>
        <div class="column"  >
          <p>Blood Pressure: <%= @blood_pressure %></p>
        </div>
        <div class="column">
          <p>Respiratory Rate: <%= @respiratory %></p>
           </div>
        <div class="column">
          <p>Pulse: <%= @pulse %></p>
           </div>
        <div class="column"> 
          <p>Temperature: <%= @temperature %></p>
           </p>
         </div>
      <div class="column"> 
        <p>Height: <%= @height %></p>
         </p>
       </div>
    <div class="column"> 
      <p>Weight: <%= @weight %></p>
       </p>
     </div>
  <div class="column"> 
    <p>Saturation: <%= @saturation %></p>
     </p>
   </div>
<% end %>
</div>
<br>
<br>
<br>
<br>
<div >
  <%= f.input :complaints, label: "Complaints ", as: :text, input_html: {  rows: "4" , value: @complaints} %>
</div>
<div >
  <%= f.input :history_complaints, label: "History of presenting complaints ", as: :text, input_html: {  rows: "4" , value: @history_complaints} %>
</div>
<div >
  <%= f.input :direct_question, label: "Direct Questioning ", as: :text, input_html: {  rows: "4" , value: @direct_question} %>
</div>
<div >
  <%= f.input :systems_review, label: "System Review ", as: :text, input_html: {  rows: "4" , value: @systems_review} %>
</div>
<div >
  <%= f.input :med_history, label: "Past Medications/Surgical/Drug History", as: :text, input_html: {  rows: "4" , value: @med_history} %>
</div>
<div >
  <%= f.input :social_history, label: "Social History", as: :text, input_html: {  rows: "4" , value: @social_history} %>
</div>
<div >
  <%= f.input :allergies, label: "Allergies", as: :text, input_html: {  rows: "4" , value: @allergies} %>
</div>
<div >
  <%= f.input :vital_signs, label: "Vital Signs", as: :text, input_html: {  rows: "4" , value: @vital_signs} %>
</div>
<div >
  <%= f.input :clinic_exams, label: "Clinic Examamination", as: :text, input_html: {  rows: "4", value: @clinic_exams } %>
</div>
<div >
  <%= f.input :final_diagnosis, label: "Final Diagnosis", as: :text, input_html: {  rows: "4", value:  @final_diagnosis } %>
</div>
<div >
  <%= f.input :investigations, label: "Investigations", as: :text, input_html: {  rows: "4", value:  @investigations} %>
</div>
<div >
  <%= f.input :treatment_plans, label: "Treatment Plans",as: :text, input_html: {  rows: "4", value: @treatment_plans } %>
</div>
<div class="form-inputs">
  <%= f.input :user_id, :as=> :hidden,input_html: {value: current_user.id} %>
  <% logger.info "role in index: #{current_user.role_id}" %>
</div>
<div class="form-inputs">
  <% if (defined?(@patient_id)).nil? %>
    <%= f.input :patient_id,:as=> :hidden %>
  <% else  %>
    <%= f.input :patient_id, :as=> :hidden,input_html: {value: @patient_id} %>
    <% logger.info "Rnning" %>
    <% logger.info "patient in index: #{@patient_id}" %>
  </div>
  <div class="form-inputs">
    <%= f.input :status, :as=> :hidden, input_html: {value: 0} %>
  </div>
  <center>
    <div class="form-actions">
      <%= f.submit "Submit Admission Document" ,:class => "btn btn-primary btn-sm"%>
    </div>
  </center>
<% end %>
<% end %>
</div>
