<div class="table-agile-info">
  <%= simple_form_for(@admission) do |f| %>
    <%= f.error_notification %>
    <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>
    <br>
    <div class="width">
      <%= f.input :admission_days, label: "Possible Admission Days"  %>
    </div>
    <div >
      <%= f.input :admission_note, label: "Admission Note",as: :text, input_html: {  rows: "4" } %>
    </div>
    <div class="form-inputs">
      <%= f.input :user_id, :as=> :hidden,input_html: {value: current_user.id} %>
      <% logger.info "role in index: #{current_user.role_id}" %>
    </div>
    <div class="form-inputs">
      <%= f.input :personnel_id , :as=> :hidden,input_html: {value: current_user.role_id} %>
      <% logger.info "role in index: #{current_user.role_id}" %>
    </div>
    <div class="form-inputs">
      <% if (defined?(@patient_id)).nil? %>
        <%= f.input :patient_id,:as=> :hidden %>
      <% else  %>
        <%= f.input :patient_id, :as=> :hidden,input_html: {value: @patient_id} %>
        <% logger.info "Rnning" %>
        <% logger.info "patient in index: #{@patient_id}" %>
      </div>
      <div class="form-inputs">
        <%= f.input :status, :as=> :hidden, input_html: {value: 1 } %>
      </div>
      <center>
        <div class="form-actions">
          <%#= f.button :submit %>
          <%= f.submit "Admit Patient" ,:class => "btn btn-primary btn-sm"%>
        </div>
      </center>
    <% end %>
    <!--  </fieldset>
	</div> -->
  <% end %>
</div>
<script type="text/javascript">
  $(function() {
  	$('#datetimepicker6').datetimepicker({
  		format : 'YYYY-MM-D H:m:s'
  	});
  	$("#datetimepicker6").on("dp.change", function(e) {
  		$('#datetimepicker7').data("DateTimePicker").minDate(e.date);
  	});
  });
  
  $(document).ready(function() {
  	$("#sent_status").show();
  });
</script>
