

   <div class="table-agile-info" >

 
   <%= simple_form_for(@admission_review_note) do |f| %>

<br>

 

   <div >

    <%= f.input :review_text, label: "Write Review Note ", as: :text, input_html: {  rows: "5" } %>
  </div>



  <div class="form-inputs">
    <%= f.input :user_id, :as=> :hidden,input_html: {value: current_user.id} %>
    <% logger.info "role in index: #{current_user.role_id}" %>

</div>

<div class="form-inputs">
    <%= f.input :clinic_document_id,:as=> :hidden, input_html: {value: @clinic_document_id} %>
    <% logger.info "rDOCUMENT ID: #{@clinic_document_id}" %>

</div>

<div class="form-inputs">
  <% if (defined?(@patient_id)).nil? %>
    <%= f.input :patient_id,:as=> :hidden,input_html: {value: @patient_id} %>
   <% else  %>
  <%= f.input :patient_id,:as=> :hidden,input_html: {value: @patient_id} %>
<% logger.info "Rnning" %>
 <% logger.info "patient in index: #{@patient_id}" %>

<% end %>

  </div>


  


  <div class="form-inputs">
    <%= f.input :status, :as=> :hidden, input_html: {value: 0} %>

  </div>



<center>
   <div class="form-actions">
   
     <%= f.submit "Submit Review Note" ,:class => "btn btn-primary btn-sm"%>
  </div>
</center>  



<% end %>



 </div>







