<style>
  .blocktext {
      margin-left: auto;
      margin-right: auto;
  
      margin: 0;
    position: relative;
    left: 50%;
    margin-right: -50%;
  }
</style>
<main>
  <section id="main-content">
    <section class="wrapper">
      <div class="row">
        <div class="col-12">
          <h1 class="blocktext">    Admission documents by Practitioner </h1>
          <div class="separator mb-5"></div>
        </div>
      </div>
      <div class="row mb-4">
        <div class="col-12 mb-4">
          <div class="card">
            <div class="card-body">
              <div class="table-responsive bs-example widget-shadow">
                <table class="table table-bordered">
                  <thead>
                    <tr>
                      <th data-breakpoints="xs">No</th>
                      <th>Date </th>
                      <th>Created by</th>
                      <th colspan="3"></th>
                      <th colspan="3"></th>
                      <th colspan="3"></th>
                    </tr>
                  </thead>
                  <tbody>
                    <% count=1 %>
                    <% @clinic_documents.each do |patient| %>
                      <tr>
                        <td><%= count %></td>
                        <td><%= patient.created_at.strftime("%B %d, %Y, %H:%M") %></td>
                        <td><%= patient.fullname %></td>
                        <td ><%= link_to 'View Documents', view_doctor_admission_doc_path(:id => patient.created_at),{:remote => true, class:'"btn btn-warning btn-sm btn3d"','data-toggle' =>  "modal",'data-target' => '#myModal1'} %></td>
                        <td ><%= link_to 'New Review Note', write_admission_review_path(:id =>  @patient_id, :clinic_doc_id => patient.id ),{:remote => true, class:'"btn btn-info btn-sm btn3d"','data-toggle' =>  "modal",'data-target' => '#myModal3'} %></td>
                        <td ><%= link_to 'Display Review', display_admission_review_path(:clinic_doc_id =>  patient.id),{:remote => true, class:'"btn btn-success btn-sm btn3d"','data-toggle' =>  "modal",'data-target' => '#myModal4'} %></td>
                      </tr>
                      <% count=count+1 %>
                    <% end %>
                  </tbody>
                </table>
                <% if current_user.role_id == 3 %>
                <%else%>
                  <center>
                    <%= link_to  'New Admission Documents', doctor_admission_vitals_doc_path(:id => @patient_id), {:remote => true, :class => "btn btn-primary btn-sm" ,'data-toggle' =>  "modal", 'data-target' => '#myModal'} %>
                  </center>
                <%end%>
              </div>
            </div>
          </section>
        </section>
      </main>
      <div id="myModal" class="modal fade" role="dialog">
        <div class="modal-dialog">
          <div class="modal-content" >
            <div class="modal-header">
              <h4 class="modal-title"> Admission Document</h4>
              <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
            <div class="modal-body" id = 'doc1'>
              <%= render "doctor_admission_vitals_doc" %>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
          </div>
        </div>
      </div>
      <div id="myModal1" class="modal fade" role="dialog">
        <div class="modal-dialog">
          <div class="modal-content" >
            <div class="modal-header">
              <h4 class="modal-title"> Clinic Document Details</h4>
              <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
            <div class="modal-body" id = 'fill'>
              <%= render "view_doctor_admission_doc" %>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
          </div>
        </div>
      </div>
      <div id="myModal3" class="modal fade" role="dialog">
        <div class="modal-dialog">
          <div class="modal-content" >
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal">&times;</button>
              <h4 class="modal-title"> Admission Review Note</h4>
            </div>
            <div class="modal-body" id = 'review'>
              <%= render "write_admission_review" %>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
          </div>
        </div>
      </div>
      <div id="myModal4" class="modal fade" role="dialog">
        <div class="modal-dialog">
          <div class="modal-content" >
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal">&times;</button>
              <h4 class="modal-title"> Notes History</h4>
            </div>
            <div class="modal-body" id = 'dis'>
              <%= render "display_admission_review" %>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
          </div>
        </div>
      </div>
