<style>
  .blocktext {
      margin-left: auto;
      margin-right: auto;
  
      margin: 0;
    position: relative;
    left: 50%;
    margin-right: 50%;
  }
</style>
<main>
  <section id="main-content">
    <section class="wrapper">
      <div class="row">
        <div class="col-12">
          <h1 class="blocktext">Discharged Patients</h1>
          <div class="separator mb-5"></div>
        </div>
      </div>
      <div class="row mb-4">
        <div class="col-12 mb-4">
          <div class="card">
            <div class="card-body">
              <div class="table-responsive bs-example widget-shadow">
                <table class="table table-bordered">
                  <thead>
                    <tr>
                      <th>Patient No</th>
                      <th>Patient</th>
                      <th>Room No</th>
                      <th>Assigned by</th>
                      <th>Admission Date</th>
                      <th colspan="3"></th>
                    </tr>
                  </thead>
                  <tbody>
                    <% @admissions.each do |admission| %>
                      <tr>
                        <td id="whitespace"><%= admission.card_no %></td>
                        <td id="whitespace"><%= admission.other_names.upcase + " " +  admission.surname.upcase %></td>
                        <td id="whitespace"><%= admission.room_no %></td>
                        <td id="whitespace"><%= admission.fullname %></td>
                        <td id="whitespace"><%= admission.created_at.strftime("%B %d, %Y") %></td>
                        <td id="whitespace" ><%= link_to 'View Discharge Note', view_discharge_note_path(:id => admission.created_at),{:remote => true, class:'"btn btn-warning btn-sm btn3d"','data-toggle' =>  "modal",'data-target' => '#myModal1'} %></td>
                      </tr>
                    <% end %>
                  </tbody>
                </table>
                <br>
              </div>
            </div>
          </section>
        </section>
      </main>
      <div id="myModal1" class="modal fade" role="dialog">
        <div class="modal-dialog">
          <div class="modal-content" >
            <div class="modal-header">
              <h4 class="modal-title"> Admission Note</h4>
              <button type="button" class="close" data-dismiss="modal">
                &times;
              </button>
            </div>
            <div class="modal-body" id = 'dis'>
              <%= render "view_discharge_note" %>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-default" data-dismiss="modal">
                Close
              </button>
            </div>
          </div>
        </div>
      </div>
