$("#dis").html("<%= escape_javascript(render 'admissions/display_admission_review') %>");
$("#modal-window").html("<%= escape_javascript(render 'admissions/display_admission_review') %>");
 $('#modal-window').modal('show');