<p id="notice"><%= notice %></p>

<p>
  <strong>Patient:</strong>
  <%= @admission.patient_id %>
</p>

<p>
  <strong>Admission note:</strong>
  <%= @admission.admission_note %>
</p>

<p>
  <strong>User:</strong>
  <%= @admission.user_id %>
</p>

<p>
  <strong>Personnel:</strong>
  <%= @admission.personnel_id %>
</p>

<p>
  <strong>Status:</strong>
  <%= @admission.status %>
</p>

<%= link_to 'Edit', edit_admission_path(@admission) %> |
<%= link_to 'Back', admissions_path %>
