$("#fill").html("<%= escape_javascript(render 'admissions/view_doctor_admission_doc') %>");
$("#modal-window").html("<%= escape_javascript(render 'admissions/view_doctor_admission_doc') %>");
 $('#modal-window').modal('show');