$("#review").html("<%= escape_javascript(render 'admissions/write_admission_review') %>");
//$("#modal-window").html("<%= escape_javascript(render 'admissions/write_admission_review') %>");
 $('#modal-window').modal('show');