
<%= simple_form_for(@nurse_procedure) do |f| %>
  <%= f.error_notification %>
  <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>

  <div class="form-inputs">
    <%= f.input :service_id %>
    <%= f.input :patient_id %>
    <%= f.input :status %>
    <%= f.input :complaints %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
