<style>
  .blocktext {
      margin-left: auto;
      margin-right: auto;
  
      margin: 0;
    position: relative;
    left: 50%;
    margin-right: -50%;
  }
</style>
<main>
  <section id="main-content">
    <section class="wrapper">
      <div class="row">
        <div class="col-12">
          <h1 class="blocktext"> PROCEDURES RECORDS</h1>
          <div class="separator mb-5"></div>
        </div>
      </div>
      <div class="row mb-4">
        <div class="col-12 mb-4">
          <div class="card">
            <div class="card-body">
              <div class="table-responsive bs-example widget-shadow">
                <table class="table table-bordered">
                  <thead>
                    <tr>
                      <!-- <th data-breakpoints="xs">No</th>  -->
                      <th>Patient</th>
                      <th>Nurse</th>
                      <th>Procedures taken On</th>
                      <th colspan="3"></th>
                      <th colspan="3"></th>
                      <th colspan="3"></th>
                    </tr>
                  </thead>
                  <tbody>
                    <% #count=1 %>
                    <% @nurse_procedures.each do |nurse_procedure| %>
                      <tr>
                        <td id="whitespace"><%= nurse_procedure.other_names + " " +  nurse_procedure.surname%></td>
                        <td id="whitespace"><%= nurse_procedure.fullname %></td>
                        <td id="whitespace"><%= nurse_procedure.created_at.strftime("%B %d, %Y, %H:%M") %></td>
                        <td id="whitespace"><%= link_to 'View Procedures Record', view_procedure_record_path(:id => nurse_procedure.created_at),{:remote => true, class:'"btn btn-warning btn-sm btn3d"','data-toggle' =>  "modal",'data-target' => '#myModal1'} %></td>
                      </tr>
                    <% end %>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </section>
      </section>
    </main>
    <div id="myModal1" class="modal fade" role="dialog">
      <div class="modal-dialog">
        <div class="modal-content" >
          <div class="modal-header">
            <h4 class="modal-title"> Procedures Records</h4>
            <button type="button" class="btn btn-default" data-dismiss="modal">
              &times;
            </button>
          </div>
          <div class="modal-body" id = 'proc1'>
            <%= render "view_procedure_record" %>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">
              Close
            </button>
          </div>
        </div>
      </div>
    </div>
