<p id="notice"><%= notice %></p>

<p>
  <strong>Service:</strong>
  <%= @nurse_procedure.service_id %>
</p>

<p>
  <strong>Patient:</strong>
  <%= @nurse_procedure.patient_id %>
</p>

<p>
  <strong>Status:</strong>
  <%= @nurse_procedure.status %>
</p>

<p>
  <strong>Complaints:</strong>
  <%= @nurse_procedure.complaints %>
</p>

<%= link_to 'Edit', edit_nurse_procedure_path(@nurse_procedure) %> |
<%= link_to 'Back', nurse_procedures_path %>
