<p id="notice"><%= notice %></p>


<section id="main-content">
  <section class="wrapper">
    <!-- <p id="notice"><%= notice %></p> -->
    <div class="table-agile-info">
 <div class="panel panel-default">
    <div class="panel-heading">
     Clinical Documents Created
    </div>
    
    <div style="overflow-x:auto;">
      <table class="table" ui-jq="footable" ui-options='{
        "paging": {
          "enabled": true
        },
        "filtering": {
          "enabled": true
        },
        "sorting": {
          "enabled": true
        }}'>
        <thead>
          <tr>

           <!--    <th data-breakpoints="xs">No</th>  -->
        <th>Patient</th>
      <th>Basic medical record</th>
      <th>User</th>
     
      <th>Complaints</th>
      <th>Symptoms</th>
      <th>Vital signs</th>
      <th>Clinic exams</th>
      <th>Final diagnosis</th>
      <th>Investigations</th>
      <th>Treatment plans</th>
      

          </tr>
        </thead>
        <tbody>
      <% count=1 %>

      <% @clinic_documents.each do |clinic_document| %>
      <tr>
        <td><%= clinic_document.surname %></td>
        <td><%= clinic_document.blood_pressure %></td>
        <td><%= clinic_document.fullname %></td>
      
        <td><%= clinic_document.complaints %></td>
        <td><%= clinic_document.symptoms %></td>
        <td><%= clinic_document.vital_signs %></td>
        <td><%= clinic_document.clinic_exams %></td>
        <td><%= clinic_document.final_diagnosis %></td>
        <td><%= clinic_document.investigations %></td>
        <td><%= clinic_document.treatment_plans %></td>

    

         
        
      </tr>
       <% count=count+1 %> 
    <% end %>
       
           

        </tbody>
      </table>
      
      <center>
	<div class="digg_pagination">
	<%= will_paginate @clinic_documents %>
	</div>
</center>

  <center>



     </center>   
     <br>  




    </div>
  </div>
</div>
</section>
 
</section>











