<p id="notice"><%= notice %></p>

<p>
  <strong>Patient:</strong>
  <%= @clinic_document.patient_id %>
</p>

<p>
  <strong>Basic medical record:</strong>
  <%= @clinic_document.basic_medical_record_id %>
</p>

<p>
  <strong>User:</strong>
  <%= @clinic_document.user_id %>
</p>

<p>
  <strong>Status:</strong>
  <%= @clinic_document.status %>
</p>

<p>
  <strong>Complaints:</strong>
  <%= @clinic_document.complaints %>
</p>

<p>
  <strong>Symptoms:</strong>
  <%= @clinic_document.symptoms %>
</p>

<p>
  <strong>Vital signs:</strong>
  <%= @clinic_document.vital_signs %>
</p>

<p>
  <strong>Clinic exams:</strong>
  <%= @clinic_document.clinic_exams %>
</p>

<p>
  <strong>Final diagnosis:</strong>
  <%= @clinic_document.final_diagnosis %>
</p>

<p>
  <strong>Investigations:</strong>
  <%= @clinic_document.investigations %>
</p>

<p>
  <strong>Treatment plans:</strong>
  <%= @clinic_document.treatment_plans %>
</p>

<%= link_to 'Edit', edit_clinic_document_path(@clinic_document) %> |
<%= link_to 'Back', clinic_documents_path %>
