<!----NEW SIDEMUN---->
<!DOCTYPE html>
<html lang="en">
  <% if user_signed_in? %>
    <body id="app-container" class="menu-default show-spinner">
      <nav class="navbar fixed-top">
        <div class="d-flex align-items-center navbar-left"><a href="#" class="menu-button d-none d-md-block"><svg
                    class="main" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 9 17">
              <rect x="0.48" y="0.5" width="7" height="1" />
              <rect x="0.48" y="7.5" width="7" height="1" />
              <rect x="0.48" y="15.5" width="7" height="1" /></svg> <svg class="sub"
                    xmlns="http://www.w3.org/2000/svg" viewBox="0 0 18 17">
              <rect x="1.56" y="0.5" width="16" height="1" />
              <rect x="1.56" y="7.5" width="16" height="1" />
              <rect x="1.56" y="15.5" width="16" height="1" /></svg> </a><a href="#"
                class="menu-button-mobile d-xs-block d-sm-block d-md-none"><svg xmlns="http://www.w3.org/2000/svg"
                    viewBox="0 0 26 17">
              <rect x="0.5" y="0.5" width="25" height="1" />
              <rect x="0.5" y="7.5" width="25" height="1" />
              <rect x="0.5" y="15.5" width="25" height="1" /></svg></a>
          <div class="custom-switch custom-switch-primary-inverse custom-switch-small pl-1"
                        data-toggle="tooltip" data-placement="left" title="Dark Mode"><input class="custom-switch-input"
                            id="switchDark" type="checkbox" checked="checked"> <label class="custom-switch-btn"
                            for="switchDark"></label></div>
        </div>
        <a class="navbar-logo" href="/"><span class="logo d-none d-xs-block"></span> <span
                class="logo-mobile d-block d-xs-none"></span></a>
        <div class="navbar-right">
          <div class="header-icons d-inline-block align-middle">
            <div class="d-none d-md-inline-block align-text-bottom mr-3">
            </div>
            <button class="header-icon btn btn-empty d-none d-sm-inline-block" type="button"
                    id="fullScreenButton"><i class="simple-icon-size-fullscreen"></i> <i
                        class="simple-icon-size-actual"></i></button>
          </div>
          <% if user_signed_in? %>
            <div class="user d-inline-block"><button class="btn btn-empty p-0" type="button" data-toggle="dropdown"
                    aria-haspopup="true" aria-expanded="false"><span class="name">Hi, <%= current_user.username %></span> <span><img
                            alt="Profile Picture" src="https://res.cloudinary.com/sahanana/image/upload/v1586685522/medapp/images/profile-pic-l_ppksiy.jpg"></span></button>
                <div class="dropdown-menu dropdown-menu-right mt-3">
                  <% if current_user.role_id == 4 %>
                    <%= link_to 'Roles'.html_safe,roles_path, :class=>" dropdown-item" %>
                    <%= link_to 'Users'.html_safe,users_path, :class=>" dropdown-item" %>
                    <%= link_to 'Edit Profile'.html_safe,edit_user_registration_path, :class=>" dropdown-item" %>
                    <%= link_to 'Service Categories'.html_safe,categories_path, :class=>" dropdown-item" %>
                    <%= link_to 'Services setup'.html_safe,services_inventories_path, :class=>" dropdown-item" %>
                    <%= link_to 'Log out',destroy_user_session_path, :method=> 'delete',:class=>"dropdown-item" %>
                  <%else%>
                    <%= link_to 'Edit Profile'.html_safe,edit_user_registration_path, :class=>" dropdown-item" %>
                    <%= link_to 'Log out',destroy_user_session_path, :method=> 'delete',:class=>"dropdown-item" %>
                  <%end%>
                </div>
              </div>
            <%else%>
              <div class="user d-inline-block">
                <%= link_to "Login", new_user_session_path,:class=>"btn btn-empty p-0" %>
              </div>
            <%end %>
          </div>
        </nav>
        <div class="menu">
          <!-- DOCTOR -->
          <% if current_user.role_id == 1 %>
            <div class="main-menu">
              <div class="scroll">
                <ul class="list-unstyled">
                  <li class="active"><a href="/assign_patients"><i class="iconsminds-dashboard"></i>
                      <span>Go Back</span></a></li>
                  <!-- <li>
                    <h4 >
                      <%#=link_to @patient_records.other_names + " " + @patient_records.surname , patient_profile_path(:id => @patient_id), :class => "userStyle" %>
                    </h4>
                  </li> -->
                  <li><a href="#layouts"> Clinical <br> Documents</a></li>
                  <li><a href="#medication">Medication</a></li>
                  <li><a href="#Laboratory">Laboratory</a></li>
                  <li><a href="#Radiology"> Radiology<br>/Ultrasound</a></li>
                  <li>
                    <%= link_to 'Admit Patient', admission_doc_path(:id => @patient_id) %>
                  </li>
                  <li>
                    <%= link_to 'Bills' ,patient_bill_path(:id => @patient_id)  %>
                  </li>
                  <li><a href="#books">Books</a></li>
                </ul>
              </div>
            </div>
            <div class="sub-menu">
              <div class="scroll">
                <ul class="list-unstyled" data-link="layouts" id="layouts">
                  <li><a href="#" data-toggle="collapse" data-target="#collapseAuthorization" aria-expanded="true"
                            aria-controls="collapseAuthorization" class="rotate-arrow-icon opacity-50"><i
                                class="simple-icon-arrow-down"></i> <span
                                class="d-inline-block">Actions</span></a>
                    <div id="collapseAuthorization" class="collapse show">
                      <ul class="list-unstyled inner-level-menu">
                        <li>
                          <span
                                        ><%= link_to "Out-patient Documents",docs_path(:id => @patient_id),:class=>"d-inline-block" %></span>
                        </li>
                        <li>
                          <span
                                        ><%= link_to "Admission Documents by Doctor",admission_vitals_path(:id => @patient_id),:class=>"d-inline-block" %></span>
                        </li>
                        <li>
                          <span
                                        ><%= link_to "Nurse admission Vitals",nurse_admission_vitals_history_path(:id => @patient_id),:class=>"d-inline-block" %></span>
                        </li>
                      </ul>
                    </div>
                  </li>
                </ul>
                <!-- MEdication -->
                <ul class="list-unstyled" data-link="medication" id="medication">
                  <li><a href="#" data-toggle="collapse" data-target="#collapseAuthorization" aria-expanded="true"
                            aria-controls="collapseAuthorization" class="rotate-arrow-icon opacity-50"><i
                                class="simple-icon-arrow-down"></i> <span
                                class="d-inline-block">Medications</span></a>
                    <div id="collapseAuthorization" class="collapse show">
                      <ul class="list-unstyled inner-level-menu">
                        <li>
                          <%= link_to 'New Medication', order_records_path(:id => @patient_id, :type => "new") %>
                        </li>
                        <li>
                          <%= link_to 'Previous Medication Orders', order_records_path(:id => @patient_id,:type => "old") %>
                        </li>
                      </ul>
                    </div>
                  </li>
                </ul>
                <!--LAB -->
                <ul class="list-unstyled" data-link="Laboratory" id="Laboratory">
                  <li><a href="#" data-toggle="collapse" data-target="#collapseAuthorization" aria-expanded="true"
                            aria-controls="collapseAuthorization" class="rotate-arrow-icon opacity-50"><i
                                class="simple-icon-arrow-down"></i> <span
                                class="d-inline-block">Actions</span></a>
                    <div id="collapseAuthorization" class="collapse show">
                      <ul class="list-unstyled inner-level-menu">
                        <li>
                          <%= link_to 'New Lab Orders', lab_docs_path(:id => @patient_id,:type => "new") %>
                        </li>
                        <li>
                          <%= link_to 'Previous Lab Orders', lab_docs_path(:id => @patient_id,:type => "old") %>
                        </li>
                        <li>
                          <%= link_to 'Lab Results', main_test_path(:id => @patient_id) %>
                        </li>
                      </ul>
                    </div>
                  </li>
                </ul>
                <ul class="list-unstyled" data-link="Radiology" id="Radiology">
                  <li><a href="#" data-toggle="collapse" data-target="#collapseAuthorization" aria-expanded="true"
                            aria-controls="collapseAuthorization" class="rotate-arrow-icon opacity-50"><i
                                class="simple-icon-arrow-down"></i> <span
                                class="d-inline-block">Actions</span></a>
                    <div id="collapseAuthorization" class="collapse show">
                      <ul class="list-unstyled inner-level-menu">
                        <li>
                          <%= link_to 'New Radio/Ultra Orders', radio_docs_path(:id => @patient_id,:type => "new") %>
                        </li>
                        <li>
                          <%= link_to 'Previous Radio/Ultra Orders', radio_docs_path(:id => @patient_id,:type => "old") %>
                        </li>
                        <li>
                          <%= link_to 'Results', indi_radio_result_path(:id => @patient_id) %>
                        </li>
                      </ul>
                    </div>
                  </li>
                </ul>
                <ul class="list-unstyled" data-link="books" id="books">
                  <li><a href="#" data-toggle="collapse" data-target="#collapseAuthorization" aria-expanded="true"
                            aria-controls="collapseAuthorization" class="rotate-arrow-icon opacity-50"><i
                                class="simple-icon-arrow-down"></i> <span
                                class="d-inline-block">Books</span></a>
                    <div id="collapseAuthorization" class="collapse show">
                      <ul class="list-unstyled inner-level-menu">
                        <li>
                          <%= link_to 'Current Practice Guidelines in Primary Care','/Current Practice Guidelines in Primary Care 2018.pdf', target: "_blank"  %>
                        </li>
                        <li>
                          <%= link_to 'Standard Treatment Guideline','/STG15.pdf', target: "_blank"  %>
                        </li>
                        <li>
                          <%= link_to 'Essential Medicine List','/eml2010.pdf', target: "_blank"  %>
                        </li>
                      </ul>
                    </div>
                  </li>
                </ul>
              </div>
            </div>
            <!-- DOCTOR END -->
            <!-- NURSE -->
          <% elsif current_user.role_id == 3 %>
            <div class="main-menu">
              <div class="scroll">
                <ul class="list-unstyled">
                  <li class="active"><a href="/assign_patients"><i class="iconsminds-dashboard"></i>
                      <span>Go Back</span></a></li>
                  <!--   <%# <li>
                    <h4 >
                      <%=link_to @patient_records.other_names + " " + @patient_records.surname , patient_profile_path(:id => @patient_id), :class => "userStyle" %>
                    </h4> -->
                </li>
                <li><a href="#layouts"> Admission <br> Documents</a></li>
                <li ><a href="#out">Out-Patient <br>
                    Documents</a></li>

                 <li><a href="/order_records?id=<%= @patient_id %>">View Med <br> Documents</a></li>   
               
                <li><a href="/lab_docs?id=<%= @patient_id %>">View Lab <br> Requests </a></li> 
                
                <li><a href="/main_test?id=<%= @patient_id %>">View Test <br> Results </a></li> 
                
                <li><a href="/patient_bill?id=<%= @patient_id %>">View <br> Bills </a></li> 

                <li><a href="#books"> Books</a></li>
              </ul>
            </div>
          </div>
          <div class="sub-menu">
            <div class="scroll">
              <ul class="list-unstyled" data-link="layouts" id="layouts">
                <li><a href="#" data-toggle="collapse" data-target="#collapseAuthorization" aria-expanded="true"
                            aria-controls="collapseAuthorization" class="rotate-arrow-icon opacity-50"><i
                                class="simple-icon-arrow-down"></i> <span
                                class="d-inline-block">Actions</span></a>
                  <div id="collapseAuthorization" class="collapse show">
                    <ul class="list-unstyled inner-level-menu">
                      <li>
                        <span
                                        ><%= link_to "Nurse Admission Vitals",nurse_admission_vitals_history_path(:id => @patient_id),:class=>"d-inline-block" %></span>
                      </li>
                      <li>
                        <span
                                        ><%= link_to "Treatment Sheet",patient_treatment_path(:id => @patient_id),:class=>"d-inline-block" %></span>
                      </li>
                      <li>
                        <span
                                        ><%= link_to "Nurses Notes",nurses_note_path(:id => @patient_id),:class=>"d-inline-block" %></span>
                      </li>
                      <li>
                        <span
                                        ><%= link_to "Fluid Input/Output",fluids_intake_path(:id => @patient_id),:class=>"d-inline-block" %></span>
                      </li>
                      <li>
                        <span
                                        ><%= link_to "View Doc Admission Documents",admission_vitals_path(:id => @patient_id),:class=>"d-inline-block" %></span>
                      </li>
                    </ul>
                  </div>
                </li>
              </ul>
              <ul class="list-unstyled" data-link="out" id="out">
                <li><a href="#" data-toggle="collapse" data-target="#collapseAuthorization" aria-expanded="true"
                            aria-controls="collapseAuthorization" class="rotate-arrow-icon opacity-50"><i
                                class="simple-icon-arrow-down"></i> <span
                                class="d-inline-block">Actions</span></a>
                  <div id="collapseAuthorization" class="collapse show">
                    <ul class="list-unstyled inner-level-menu">
                      <li>
                        <span
                                        ><%= link_to "View Doc Out-patient Documents",docs_path(:id => @patient_id),:class=>"d-inline-block" %></span>
                      </li>
                    </ul>
                  </div>
                </li>
              </ul>
              <ul class="list-unstyled" data-link="books" id="books">
                <li><a href="#" data-toggle="collapse" data-target="#collapseAuthorization" aria-expanded="true"
                            aria-controls="collapseAuthorization" class="rotate-arrow-icon opacity-50"><i
                                class="simple-icon-arrow-down"></i> <span
                                class="d-inline-block">Books</span></a>
                  <div id="collapseAuthorization" class="collapse show">
                    <ul class="list-unstyled inner-level-menu">
                      <li>
                        <%= link_to 'Current Practice Guidelines in Primary Care','/Current Practice Guidelines in Primary Care 2018.pdf', target: "_blank"  %>
                      </li>
                      <li>
                        <%= link_to 'Standard Treatment Guideline','/STG15.pdf', target: "_blank"  %>
                      </li>
                      <li>
                        <%= link_to 'Essential Medicine List','/eml2010.pdf', target: "_blank"  %>
                      </li>
                    </ul>
                  </div>
                </li>
              </ul>
            </div>
          </div>
          <!-- NUSRSE END -->
        <% else %>
        <% end%>
      </div>
      <footer class="page-footer">
        <div class="footer-content">
          <div class="container-fluid">
            <div class="row">
              <div class="col-12 col-sm-6">
                <p class="mb-0 text-muted"><a href="https://www.devdexsoftware.com" target="_blank">Devdex Software </a></p>
              </div>
            </div>
          </div>
        </div>
      </footer>
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
      <script src="https://res.cloudinary.com/sahanana/raw/upload/v1586685486/medapp/javascripts/vendor/bootstrap.bundle.min_p8qqjg.js"></script>
    </script>
    <script src="https://res.cloudinary.com/sahanana/raw/upload/v1586685488/medapp/javascripts/vendor/perfect-scrollbar.min_lknb38.js"></script>
    <script src="https://res.cloudinary.com/sahanana/raw/upload/v1586685488/medapp/javascripts/vendor/progressbar.min_ymgruj.js"></script>
    <script src="https://res.cloudinary.com/sahanana/raw/upload/v1586685486/medapp/javascripts/vendor/jquery.barrating.min_pntots.js"></script>
    <script src="https://res.cloudinary.com/sahanana/raw/upload/v1586685489/medapp/javascripts/vendor/select2.full_wxcuyz.js"></script>
    <script src="https://res.cloudinary.com/sahanana/raw/upload/v1586685488/medapp/javascripts/vendor/nouislider.min_vooyso.js"></script>
    <script src="https://res.cloudinary.com/sahanana/raw/upload/v1586685488/medapp/javascripts/vendor/Sortable_p6vmgb.js"></script>
    <script src="https://res.cloudinary.com/sahanana/raw/upload/v1586685487/medapp/javascripts/vendor/mousetrap.min_fe4rry.js"></script>
    <!--   <script src="/assets/dore.script.js"></script> -->
    <script src="https://res.cloudinary.com/sahanana/raw/upload/v1586685484/medapp/javascripts/dore.script_g7xpbd.js"></script>
    <script src="https://res.cloudinary.com/sahanana/raw/upload/v1586685483/medapp/javascripts/scripts_mphfcd.js"></script>
    <!--    FORMS -->
    <!--     NOTIFY -->
    <script src="https://res.cloudinary.com/sahanana/raw/upload/v1586685484/medapp/javascripts/vendor/bootstrap-notify.min_dzvx1j.js"></script>
    <!-- 
     DATEPICKER -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.10.6/moment.min.js"></script>
    <script type="text/javascript" src="https://res.cloudinary.com/sahanana/raw/upload/v1586685484/medapp/javascripts/bootstrap-datetimepicker_bsqd1z.js"></script>
  <%end%>
</body>
</html>
