<!DOCTYPE html>
<html>
<head>
  <title>Britannia Receipts</title>
  <style>
    <%= Rails.application.assets.find_asset('application.css').to_s %>
    <%#= Rails.application.assets.find_asset('bootstrap.min.css').to_s %>
  </style>
</head>
<body>
  <%= yield %>
</body>
</html>